@font-face {
  font-family: "flexkit-icons";
  src: url("../fonts/icons/flexkit-icons.eot");
  src: url("../fonts/icons/flexkit-icons.eot?#iefix") format("embedded-opentype"), url("../fonts/icons/flexkit-icons.woff") format("woff"), url("../fonts/icons/flexkit-icons.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.icon12,
.icon14,
.icon16,
.icon18,
.icon24,
.icon32,
.icon48,
.icon64 {
  display: inline-block;
  vertical-align: middle;
  box-sizing: content-box;
}
.icon12 {
  width: 12px !important;
  height: 12px !important;
  line-height: 12px !important;
  font-size: 0 !important;
}
.icon12::before {
  font-size: 12px !important;
}
.icon14 {
  width: 14px !important;
  height: 14px !important;
  line-height: 14px !important;
  font-size: 0 !important;
}
.icon14::before {
  font-size: 14px !important;
}
.icon16 {
  width: 16px !important;
  height: 16px !important;
  line-height: 16px !important;
  font-size: 0 !important;
}
.icon16::before {
  font-size: 16px !important;
}
.icon18 {
  width: 18px !important;
  height: 18px !important;
  line-height: 18px !important;
  font-size: 0 !important;
}
.icon18::before {
  font-size: 18px !important;
}
.icon24 {
  width: 24px !important;
  height: 24px !important;
  line-height: 24px !important;
  font-size: 0 !important;
}
.icon24::before {
  font-size: 24px !important;
}
.icon32 {
  width: 32px !important;
  height: 32px !important;
  line-height: 32px !important;
  font-size: 0 !important;
}
.icon32::before {
  font-size: 32px !important;
}
.icon48 {
  width: 48px !important;
  height: 48px !important;
  line-height: 48px !important;
  font-size: 0 !important;
}
.icon48::before {
  font-size: 48px !important;
}
.icon64 {
  width: 64px !important;
  height: 64px !important;
  line-height: 64px !important;
  font-size: 0 !important;
}
.icon64::before {
  font-size: 64px !important;
}
[class*="icon-"],
[class^=" icon-"] {
  position: relative;
}
.flexkit-icon,
[class*="icon-"]::before,
[class^=" icon-"]::before,
[data-icon]::before,
ul.list-select > li.active::after {
  font-family: flexkit-icons;
  speak: none;
  font-style: normal;
  font-weight: normal;
  text-transform: none;
  line-height: 1;
  position: relative;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[data-icon]::before {
  content: attr(data-icon);
}
.icon-stars3:before {
  content: "\e098\e098\e098";
}
.icon-stars4:before {
  content: "\e098\e098\e098\e098";
}
.icon-stars5:before {
  content: "\e098\e098\e098\e098\e098";
}
.icon-doc-pdf:before {
  content: "\ea3e";
}
.icon-f-chambres:before {
  content: "\e907";
}
.icon-f-cuisine:before {
  content: "\e908";
}
.icon-f-pour:before {
  content: "\e909";
}
.icon-f-salle:before {
  content: "\e90a";
}
.icon-f-salon:before {
  content: "\e90b";
}
.icon-arrowright:before {
  content: "\e901";
}
.icon-googleplus:before {
  content: "\e902";
}
.icon-location:before {
  content: "\e903";
}
.icon-mail:before {
  content: "\e904";
}
.icon-phonering:before {
  content: "\e905";
}
.icon-alarm-01:before {
  content: "\e90c";
}
.icon-arrow-0:before {
  content: "\e90d";
}
.icon-arrow-1-copy:before {
  content: "\e90e";
}
.icon-arrow-1:before {
  content: "\e90f";
}
.icon-arrow-1-1:before {
  content: "\e910";
}
.icon-arrow-11:before {
  content: "\e911";
}
.icon-backet-01-copy-4:before {
  content: "\e912";
}
.icon-backet-01:before {
  content: "\e913";
}
.icon-backet-02:before {
  content: "\e914";
}
.icon-backet-03:before {
  content: "\e915";
}
.icon-backet-04:before {
  content: "\e916";
}
.icon-calendar-1:before {
  content: "\e917";
}
.icon-calendar-2:before {
  content: "\e918";
}
.icon-calendar-3:before {
  content: "\e919";
}
.icon-th-clock:before {
  content: "\e91a";
}
.icon-th-earth:before {
  content: "\e91b";
}
.icon-th-location-1:before {
  content: "\e91c";
}
.icon-th-location-2-copy-2:before {
  content: "\e91d";
}
.icon-th-location-2-copy-2-1:before {
  content: "\e91e";
}
.icon-th-location-2-copy-3:before {
  content: "\e91f";
}
.icon-th-location-2-copy-3-1:before {
  content: "\e920";
}
.icon-th-location-2-copy-4:before {
  content: "\e921";
}
.icon-th-location-2-copy-5:before {
  content: "\e922";
}
.icon-th-location-2-copy-5-1:before {
  content: "\e923";
}
.icon-th-location-2-copy-6:before {
  content: "\e924";
}
.icon-th-location-2-copy-6-1:before {
  content: "\e925";
}
.icon-th-location-2-copy:before {
  content: "\e926";
}
.icon-th-location-2:before {
  content: "\e927";
}
.icon-th-pencil:before {
  content: "\e928";
}
.icon-th-profile:before {
  content: "\e929";
}
.icon-th-settings:before {
  content: "\e92a";
}
.icon-th-social-media-copy-3:before {
  content: "\e92b";
}
.icon-th-social-media-copy-3-1:before {
  content: "\e92c";
}
.icon-th-social-media-copy-4:before {
  content: "\e92d";
}
.icon-th-social-media-copy-4-1:before {
  content: "\e92e";
}
.icon-th-social-media-copy-5:before {
  content: "\e92f";
}
.icon-th-social-media-copy-6:before {
  content: "\e930";
}
.icon-th-social-media-copy-7:before {
  content: "\e931";
}
.icon-th-social-media-1:before {
  content: "\e932";
}
.icon-th-social-media-2-copy-2:before {
  content: "\e933";
}
.icon-th-social-media-2-copy-2-1:before {
  content: "\e934";
}
.icon-th-social-media-2-copy-3:before {
  content: "\e935";
}
.icon-th-social-media-2-copy-3-1:before {
  content: "\e936";
}
.icon-th-social-media-2-copy-4:before {
  content: "\e937";
}
.icon-th-social-media-2-copy-5:before {
  content: "\e938";
}
.icon-th-social-media-2-copy-5-1:before {
  content: "\e939";
}
.icon-th-social-media-2-copy-6:before {
  content: "\e93a";
}
.icon-th-social-media-2-copy-6-1:before {
  content: "\e93b";
}
.icon-th-social-media-2-copy-7:before {
  content: "\e93c";
}
.icon-th-social-media-2-copy:before {
  content: "\e93d";
}
.icon-th-social-media-2:before {
  content: "\e93e";
}
.icon-add:before {
  content: "\e93f";
}
.icon-add-1:before {
  content: "\e940";
}
.icon-add-3:before {
  content: "\e941";
}
.icon-agenda:before {
  content: "\e942";
}
.icon-alarm:before {
  content: "\e943";
}
.icon-alarm-1:before {
  content: "\e944";
}
.icon-alarm-clock:before {
  content: "\e945";
}
.icon-app:before {
  content: "\e946";
}
.icon-archive-1:before {
  content: "\e947";
}
.icon-attachment:before {
  content: "\e948";
}
.icon-binoculars:before {
  content: "\e949";
}
.icon-bookmark:before {
  content: "\e94a";
}
.icon-bookmark-1:before {
  content: "\e94b";
}
.icon-briefcase:before {
  content: "\e94c";
}
.icon-broken-link:before {
  content: "\e94d";
}
.icon-calculator-1:before {
  content: "\e94e";
}
.icon-calendar:before {
  content: "\e94f";
}
.icon-calendar-12:before {
  content: "\e950";
}
.icon-calendar-22:before {
  content: "\e951";
}
.icon-calendar-5:before {
  content: "\e952";
}
.icon-calendar-6:before {
  content: "\e953";
}
.icon-checked:before {
  content: "\e954";
}
.icon-checked-1:before {
  content: "\e955";
}
.icon-clock-1:before {
  content: "\e956";
}
.icon-cloud:before {
  content: "\e957";
}
.icon-cloud-computing:before {
  content: "\e958";
}
.icon-cloud-computing-1:before {
  content: "\e959";
}
.icon-cloud-computing-2:before {
  content: "\e95a";
}
.icon-compass:before {
  content: "\e95b";
}
.icon-controls:before {
  content: "\e95c";
}
.icon-controls-1:before {
  content: "\e95d";
}
.icon-controls-4:before {
  content: "\e95e";
}
.icon-controls-5:before {
  content: "\e95f";
}
.icon-database:before {
  content: "\e960";
}
.icon-database-1:before {
  content: "\e961";
}
.icon-database-2:before {
  content: "\e962";
}
.icon-database-3:before {
  content: "\e963";
}
.icon-diamond:before {
  content: "\e964";
}
.icon-diploma:before {
  content: "\e965";
}
.icon-dislike:before {
  content: "\e966";
}
.icon-document:before {
  content: "\e967";
}
.icon-download:before {
  content: "\e968";
}
.icon-edit:before {
  content: "\e969";
}
.icon-edit-1:before {
  content: "\e96a";
}
.icon-error:before {
  content: "\e96b";
}
.icon-exit:before {
  content: "\e96c";
}
.icon-exit-1:before {
  content: "\e96d";
}
.icon-eyeglasses:before {
  content: "\e96e";
}
.icon-fast-forward:before {
  content: "\e96f";
}
.icon-fax:before {
  content: "\e970";
}
.icon-file2:before {
  content: "\e971";
}
.icon-file-1:before {
  content: "\e972";
}
.icon-file-2:before {
  content: "\e973";
}
.icon-fingerprint:before {
  content: "\e974";
}
.icon-flag:before {
  content: "\e975";
}
.icon-flag-1:before {
  content: "\e976";
}
.icon-flag-2:before {
  content: "\e977";
}
.icon-flag-3:before {
  content: "\e978";
}
.icon-flag-4:before {
  content: "\e979";
}
.icon-folder-2:before {
  content: "\e97a";
}
.icon-folder-6:before {
  content: "\e97b";
}
.icon-folder-7:before {
  content: "\e97c";
}
.icon-folder-10:before {
  content: "\e97d";
}
.icon-folder-11:before {
  content: "\e97e";
}
.icon-folder-13:before {
  content: "\e97f";
}
.icon-folder-14:before {
  content: "\e980";
}
.icon-folder-19:before {
  content: "\e981";
}
.icon-forbidden:before {
  content: "\e982";
}
.icon-funnel:before {
  content: "\e983";
}
.icon-garbage-2:before {
  content: "\e984";
}
.icon-gift:before {
  content: "\e985";
}
.icon-hide:before {
  content: "\e986";
}
.icon-home5:before {
  content: "\e987";
}
.icon-home-1:before {
  content: "\e988";
}
.icon-home-2:before {
  content: "\e989";
}
.icon-hourglass-1:before {
  content: "\e98a";
}
.icon-hourglass-2:before {
  content: "\e98b";
}
.icon-id-card-1:before {
  content: "\e98c";
}
.icon-id-card-2:before {
  content: "\e98d";
}
.icon-id-card-3:before {
  content: "\e98e";
}
.icon-id-card-4:before {
  content: "\e98f";
}
.icon-idea:before {
  content: "\e990";
}
.icon-incoming:before {
  content: "\e991";
}
.icon-infinity:before {
  content: "\e992";
}
.icon-info:before {
  content: "\e993";
}
.icon-internet:before {
  content: "\e994";
}
.icon-key3:before {
  content: "\e995";
}
.icon-layers:before {
  content: "\e996";
}
.icon-layers-1:before {
  content: "\e997";
}
.icon-like:before {
  content: "\e998";
}
.icon-like-1:before {
  content: "\e999";
}
.icon-like-2:before {
  content: "\e99a";
}
.icon-link:before {
  content: "\e99b";
}
.icon-list5:before {
  content: "\e99c";
}
.icon-list-1:before {
  content: "\e99d";
}
.icon-locked3:before {
  content: "\e99e";
}
.icon-locked-1:before {
  content: "\e99f";
}
.icon-locked-4:before {
  content: "\e9a0";
}
.icon-locked-5:before {
  content: "\e9a1";
}
.icon-login:before {
  content: "\e9a2";
}
.icon-magic-wand:before {
  content: "\e9a3";
}
.icon-magnet:before {
  content: "\e9a4";
}
.icon-magnet-1:before {
  content: "\e9a5";
}
.icon-magnet-2:before {
  content: "\e9a6";
}
.icon-map-1:before {
  content: "\e9a7";
}
.icon-map-2:before {
  content: "\e9a8";
}
.icon-map-location:before {
  content: "\e9a9";
}
.icon-megaphone:before {
  content: "\e9aa";
}
.icon-megaphone-1:before {
  content: "\e9ab";
}
.icon-menu2:before {
  content: "\e9ac";
}
.icon-menu-1:before {
  content: "\e9ad";
}
.icon-menu-2:before {
  content: "\e9ae";
}
.icon-menu-3:before {
  content: "\e9af";
}
.icon-menu-4:before {
  content: "\e9b0";
}
.icon-microphone:before {
  content: "\e9b1";
}
.icon-minus2:before {
  content: "\e9b2";
}
.icon-minus-1:before {
  content: "\e9b3";
}
.icon-more:before {
  content: "\e9b4";
}
.icon-more-1:before {
  content: "\e9b5";
}
.icon-multiply:before {
  content: "\e9b6";
}
.icon-multiply-1:before {
  content: "\e9b7";
}
.icon-music-player-1:before {
  content: "\e9b8";
}
.icon-mute:before {
  content: "\e9b9";
}
.icon-muted:before {
  content: "\e9ba";
}
.icon-navigation:before {
  content: "\e9bb";
}
.icon-navigation-1:before {
  content: "\e9bc";
}
.icon-network:before {
  content: "\e9bd";
}
.icon-newspaper2:before {
  content: "\e9be";
}
.icon-note:before {
  content: "\e9bf";
}
.icon-notebook2:before {
  content: "\e9c0";
}
.icon-notebook-1:before {
  content: "\e9c1";
}
.icon-notebook-4:before {
  content: "\e9c2";
}
.icon-notebook-5:before {
  content: "\e9c3";
}
.icon-notepad:before {
  content: "\e9c4";
}
.icon-notepad-1:before {
  content: "\e9c5";
}
.icon-paper-plane:before {
  content: "\e9c6";
}
.icon-paper-plane-1:before {
  content: "\e9c7";
}
.icon-pause:before {
  content: "\e9c8";
}
.icon-pause-1:before {
  content: "\e9c9";
}
.icon-percent:before {
  content: "\e9ca";
}
.icon-percent-1:before {
  content: "\e9cb";
}
.icon-perspective:before {
  content: "\e9cc";
}
.icon-photo-camera:before {
  content: "\e9cd";
}
.icon-photo-camera-1:before {
  content: "\e9ce";
}
.icon-picture3:before {
  content: "\e9cf";
}
.icon-picture-2:before {
  content: "\e9d0";
}
.icon-pin:before {
  content: "\e9d1";
}
.icon-placeholder:before {
  content: "\e9d2";
}
.icon-placeholder-2:before {
  content: "\e9d3";
}
.icon-placeholder-3:before {
  content: "\e9d4";
}
.icon-placeholders:before {
  content: "\e9d5";
}
.icon-play-button:before {
  content: "\e9d6";
}
.icon-play-button-1:before {
  content: "\e9d7";
}
.icon-plus2:before {
  content: "\e9d8";
}
.icon-power:before {
  content: "\e9d9";
}
.icon-price-tag:before {
  content: "\e9da";
}
.icon-print:before {
  content: "\e9db";
}
.icon-push-pin:before {
  content: "\e9dc";
}
.icon-reading2:before {
  content: "\e9dd";
}
.icon-repeat:before {
  content: "\e9de";
}
.icon-repeat-1:before {
  content: "\e9df";
}
.icon-restart:before {
  content: "\e9e0";
}
.icon-resume:before {
  content: "\e9e1";
}
.icon-route:before {
  content: "\e9e2";
}
.icon-save:before {
  content: "\e9e3";
}
.icon-search3:before {
  content: "\e9e4";
}
.icon-search-1:before {
  content: "\e9e5";
}
.icon-send:before {
  content: "\e9e6";
}
.icon-server:before {
  content: "\e9e7";
}
.icon-server-1:before {
  content: "\e9e8";
}
.icon-settings-1:before {
  content: "\e9e9";
}
.icon-settings-2:before {
  content: "\e9ea";
}
.icon-settings-3:before {
  content: "\e9eb";
}
.icon-settings-4:before {
  content: "\e9ec";
}
.icon-settings-5:before {
  content: "\e9ed";
}
.icon-settings-6:before {
  content: "\e9ee";
}
.icon-share-1:before {
  content: "\e9ef";
}
.icon-share-2:before {
  content: "\e9f0";
}
.icon-shuffle:before {
  content: "\e9f1";
}
.icon-sign:before {
  content: "\e9f2";
}
.icon-sign-1:before {
  content: "\e9f3";
}
.icon-skip:before {
  content: "\e9f4";
}
.icon-smartphone-4:before {
  content: "\e9f5";
}
.icon-smartphone-5:before {
  content: "\e9f6";
}
.icon-smartphone-6:before {
  content: "\e9f7";
}
.icon-smartphone-7:before {
  content: "\e9f8";
}
.icon-smartphone-8:before {
  content: "\e9f9";
}
.icon-smartphone-9:before {
  content: "\e9fa";
}
.icon-smartphone-10:before {
  content: "\e9fb";
}
.icon-smartphone-11:before {
  content: "\e9fc";
}
.icon-speaker:before {
  content: "\e9fd";
}
.icon-speaker-1:before {
  content: "\e9fe";
}
.icon-speaker-2:before {
  content: "\e9ff";
}
.icon-speaker-3:before {
  content: "\ea00";
}
.icon-speaker-4:before {
  content: "\ea01";
}
.icon-speaker-5:before {
  content: "\ea02";
}
.icon-speaker-6:before {
  content: "\ea03";
}
.icon-speaker-7:before {
  content: "\ea04";
}
.icon-speaker-8:before {
  content: "\ea05";
}
.icon-star4:before {
  content: "\ea06";
}
.icon-star-1:before {
  content: "\ea07";
}
.icon-stopwatch-1:before {
  content: "\ea08";
}
.icon-stopwatch-2:before {
  content: "\ea09";
}
.icon-stopwatch-3:before {
  content: "\ea0a";
}
.icon-stopwatch-4:before {
  content: "\ea0b";
}
.icon-street-1:before {
  content: "\ea0c";
}
.icon-substract:before {
  content: "\ea0d";
}
.icon-success:before {
  content: "\ea0e";
}
.icon-switch:before {
  content: "\ea0f";
}
.icon-switch-1:before {
  content: "\ea10";
}
.icon-switch-4:before {
  content: "\ea11";
}
.icon-switch-5:before {
  content: "\ea12";
}
.icon-switch-6:before {
  content: "\ea13";
}
.icon-switch-7:before {
  content: "\ea14";
}
.icon-tabs:before {
  content: "\ea15";
}
.icon-target:before {
  content: "\ea16";
}
.icon-television:before {
  content: "\ea17";
}
.icon-time:before {
  content: "\ea18";
}
.icon-trash:before {
  content: "\ea19";
}
.icon-umbrella:before {
  content: "\ea1a";
}
.icon-unlink:before {
  content: "\ea1b";
}
.icon-unlocked-1:before {
  content: "\ea1c";
}
.icon-upload:before {
  content: "\ea1d";
}
.icon-user2:before {
  content: "\ea1e";
}
.icon-user-1:before {
  content: "\ea1f";
}
.icon-user-2:before {
  content: "\ea20";
}
.icon-user-3:before {
  content: "\ea21";
}
.icon-user-4:before {
  content: "\ea22";
}
.icon-user-5:before {
  content: "\ea23";
}
.icon-user-6:before {
  content: "\ea24";
}
.icon-user-7:before {
  content: "\ea25";
}
.icon-users3:before {
  content: "\ea26";
}
.icon-users-1:before {
  content: "\ea27";
}
.icon-video-camera:before {
  content: "\ea28";
}
.icon-video-camera-1:before {
  content: "\ea29";
}
.icon-video-player:before {
  content: "\ea2a";
}
.icon-video-player-1:before {
  content: "\ea2b";
}
.icon-video-player-2:before {
  content: "\ea2c";
}
.icon-view:before {
  content: "\ea2d";
}
.icon-view-1:before {
  content: "\ea2e";
}
.icon-view-2:before {
  content: "\ea2f";
}
.icon-volume-control:before {
  content: "\ea30";
}
.icon-volume-control-1:before {
  content: "\ea31";
}
.icon-warning:before {
  content: "\ea32";
}
.icon-wifi:before {
  content: "\ea33";
}
.icon-wifi-1:before {
  content: "\ea34";
}
.icon-windows:before {
  content: "\ea35";
}
.icon-windows-1:before {
  content: "\ea36";
}
.icon-windows-2:before {
  content: "\ea37";
}
.icon-windows-3:before {
  content: "\ea38";
}
.icon-windows-4:before {
  content: "\ea39";
}
.icon-worldwide:before {
  content: "\ea3a";
}
.icon-worldwide-1:before {
  content: "\ea3b";
}
.icon-zoom-in2:before {
  content: "\ea3c";
}
.icon-zoom-out2:before {
  content: "\ea3d";
}
.icon-fax2:before {
  content: "\e900";
}
.icon-home:before {
  content: "\e000";
}
.icon-home2:before {
  content: "\e001";
}
.icon-home3:before {
  content: "\e002";
}
.icon-office:before {
  content: "\e003";
}
.icon-newspaper:before {
  content: "\e004";
}
.icon-pencil:before {
  content: "\e005";
}
.icon-pencil2:before {
  content: "\e006";
}
.icon-pencil3:before {
  content: "\e007";
}
.icon-pencil4:before {
  content: "\e008";
}
.icon-feather:before {
  content: "\e009";
}
.icon-brush:before {
  content: "\e00a";
}
.icon-pictures:before {
  content: "\e00b";
}
.icon-pictures2:before {
  content: "\e00c";
}
.icon-picture:before {
  content: "\e00d";
}
.icon-picture2:before {
  content: "\e00e";
}
.icon-pictures3:before {
  content: "\e00f";
}
.icon-camera:before {
  content: "\e010";
}
.icon-camera2:before {
  content: "\e011";
}
.icon-movie:before {
  content: "\e012";
}
.icon-movie2:before {
  content: "\e013";
}
.icon-movie3:before {
  content: "\e014";
}
.icon-film:before {
  content: "\e015";
}
.icon-film2:before {
  content: "\e016";
}
.icon-king:before {
  content: "\e017";
}
.icon-queen:before {
  content: "\e018";
}
.icon-announcement:before {
  content: "\e019";
}
.icon-announcement2:before {
  content: "\e01a";
}
.icon-broadcast:before {
  content: "\e01b";
}
.icon-books:before {
  content: "\e01c";
}
.icon-reading:before {
  content: "\e01d";
}
.icon-file:before {
  content: "\e01e";
}
.icon-file-add:before {
  content: "\e01f";
}
.icon-file-remove:before {
  content: "\e020";
}
.icon-copy:before {
  content: "\e021";
}
.icon-stack:before {
  content: "\e022";
}
.icon-folder:before {
  content: "\e023";
}
.icon-folder2:before {
  content: "\e024";
}
.icon-folder-add:before {
  content: "\e025";
}
.icon-folder-remove:before {
  content: "\e026";
}
.icon-folder-add2:before {
  content: "\e027";
}
.icon-folder-remove2:before {
  content: "\e028";
}
.icon-folder-download:before {
  content: "\e029";
}
.icon-folder-upload:before {
  content: "\e02a";
}
.icon-folder-download2:before {
  content: "\e02b";
}
.icon-folder-upload2:before {
  content: "\e02c";
}
.icon-folder3:before {
  content: "\e02d";
}
.icon-folder4:before {
  content: "\e02e";
}
.icon-tag:before {
  content: "\e02f";
}
.icon-tag2:before {
  content: "\e030";
}
.icon-tag3:before {
  content: "\e031";
}
.icon-tag4:before {
  content: "\e032";
}
.icon-tag5:before {
  content: "\e033";
}
.icon-barcode:before {
  content: "\e034";
}
.icon-barcode2:before {
  content: "\e035";
}
.icon-ticket:before {
  content: "\e036";
}
.icon-cart:before {
  content: "\e037";
}
.icon-cart2:before {
  content: "\e038";
}
.icon-cart3:before {
  content: "\e039";
}
.icon-cart4:before {
  content: "\e03a";
}
.icon-cart-add:before {
  content: "\e03b";
}
.icon-cart-remove:before {
  content: "\e03c";
}
.icon-cart-checkout:before {
  content: "\e03d";
}
.icon-basket:before {
  content: "\e03e";
}
.icon-basket2:before {
  content: "\e03f";
}
.icon-bag:before {
  content: "\e040";
}
.icon-coin:before {
  content: "\e041";
}
.icon-support:before {
  content: "\e042";
}
.icon-phone:before {
  content: "\e043";
}
.icon-phone2:before {
  content: "\e044";
}
.icon-phone3:before {
  content: "\e045";
}
.icon-phone4:before {
  content: "\e046";
}
.icon-address:before {
  content: "\e047";
}
.icon-address2:before {
  content: "\e048";
}
.icon-notebook:before {
  content: "\e049";
}
.icon-mail2:before {
  content: "\e04a";
}
.icon-mail22:before {
  content: "\e04b";
}
.icon-mail3:before {
  content: "\e04c";
}
.icon-mail4:before {
  content: "\e04d";
}
.icon-mail5:before {
  content: "\e04e";
}
.icon-location2:before {
  content: "\e04f";
}
.icon-location22:before {
  content: "\e050";
}
.icon-location3:before {
  content: "\e051";
}
.icon-location4:before {
  content: "\e052";
}
.icon-map:before {
  content: "\e053";
}
.icon-map2:before {
  content: "\e054";
}
.icon-history:before {
  content: "\e055";
}
.icon-clock:before {
  content: "\e056";
}
.icon-clock2:before {
  content: "\e057";
}
.icon-wrist-watch:before {
  content: "\e058";
}
.icon-calendar2:before {
  content: "\e059";
}
.icon-calendar22:before {
  content: "\e05a";
}
.icon-printer:before {
  content: "\e05b";
}
.icon-printer2:before {
  content: "\e05c";
}
.icon-screen:before {
  content: "\e05d";
}
.icon-screen2:before {
  content: "\e05e";
}
.icon-laptop:before {
  content: "\e05f";
}
.icon-mobile:before {
  content: "\e060";
}
.icon-tablet:before {
  content: "\e061";
}
.icon-mobile2:before {
  content: "\e062";
}
.icon-disk:before {
  content: "\e063";
}
.icon-cd:before {
  content: "\e064";
}
.icon-comments:before {
  content: "\e065";
}
.icon-comments2:before {
  content: "\e066";
}
.icon-comments3:before {
  content: "\e067";
}
.icon-comments4:before {
  content: "\e068";
}
.icon-comments5:before {
  content: "\e069";
}
.icon-comments6:before {
  content: "\e06a";
}
.icon-comments7:before {
  content: "\e06b";
}
.icon-comments8:before {
  content: "\e06c";
}
.icon-comments9:before {
  content: "\e06d";
}
.icon-user:before {
  content: "\e06e";
}
.icon-user-add:before {
  content: "\e06f";
}
.icon-user-remove:before {
  content: "\e070";
}
.icon-users:before {
  content: "\e071";
}
.icon-users2:before {
  content: "\e072";
}
.icon-quote:before {
  content: "\e073";
}
.icon-quote2:before {
  content: "\e074";
}
.icon-quote3:before {
  content: "\e075";
}
.icon-quote4:before {
  content: "\e076";
}
.icon-search:before {
  content: "\e077";
}
.icon-search2:before {
  content: "\e078";
}
.icon-zoom-in:before {
  content: "\e079";
}
.icon-zoom-out:before {
  content: "\e07a";
}
.icon-key:before {
  content: "\e07b";
}
.icon-key2:before {
  content: "\e07c";
}
.icon-locked:before {
  content: "\e07d";
}
.icon-unlocked:before {
  content: "\e07e";
}
.icon-locked2:before {
  content: "\e07f";
}
.icon-unlocked2:before {
  content: "\e080";
}
.icon-cogs:before {
  content: "\e081";
}
.icon-cog:before {
  content: "\e082";
}
.icon-cog2:before {
  content: "\e083";
}
.icon-remove:before {
  content: "\e084";
}
.icon-remove2:before {
  content: "\e085";
}
.icon-remove3:before {
  content: "\e086";
}
.icon-remove4:before {
  content: "\e087";
}
.icon-remove5:before {
  content: "\e088";
}
.icon-clipboard:before {
  content: "\e089";
}
.icon-clipboard2:before {
  content: "\e08a";
}
.icon-grid:before {
  content: "\e08b";
}
.icon-list:before {
  content: "\e08c";
}
.icon-list2:before {
  content: "\e08d";
}
.icon-list3:before {
  content: "\e08e";
}
.icon-grid2:before {
  content: "\e08f";
}
.icon-list4:before {
  content: "\e090";
}
.icon-list52:before {
  content: "\e091";
}
.icon-list6:before {
  content: "\e092";
}
.icon-menu:before {
  content: "\e093";
}
.icon-menu4:before {
  content: "\e094";
}
.icon-link2:before {
  content: "\e095";
}
.icon-star:before {
  content: "\e096";
}
.icon-star2:before {
  content: "\e097";
}
.icon-star3:before {
  content: "\e098";
}
.icon-heart:before {
  content: "\e099";
}
.icon-heart2:before {
  content: "\e09a";
}
.icon-thumbs-up:before {
  content: "\e09b";
}
.icon-thumbs-down:before {
  content: "\e09c";
}
.icon-male:before {
  content: "\e09d";
}
.icon-female:before {
  content: "\e09e";
}
.icon-reload:before {
  content: "\e09f";
}
.icon-turn:before {
  content: "\e0a0";
}
.icon-expand:before {
  content: "\e0a1";
}
.icon-cancel:before {
  content: "\e0a2";
}
.icon-checkmark:before {
  content: "\e0a3";
}
.icon-checkmark2:before {
  content: "\e0a4";
}
.icon-checkmark3:before {
  content: "\e0a5";
}
.icon-minus:before {
  content: "\e0a6";
}
.icon-plus:before {
  content: "\e0a7";
}
.icon-plus-sign:before {
  content: "\e0a8";
}
.icon-minus-sign:before {
  content: "\e0a9";
}
.icon-remove-sign:before {
  content: "\e0aa";
}
.icon-ok-sign:before {
  content: "\e0ab";
}
.icon-question-sign:before {
  content: "\e0ac";
}
.icon-exclamation-sign:before {
  content: "\e0ad";
}
.icon-info-sign:before {
  content: "\e0ae";
}
.icon-login2:before {
  content: "\e0af";
}
.icon-logout:before {
  content: "\e0b0";
}
.icon-arrow-up:before {
  content: "\e0b1";
}
.icon-arrow-right:before {
  content: "\e0b2";
}
.icon-arrow-down:before {
  content: "\e0b3";
}
.icon-arrow-left:before {
  content: "\e0b4";
}
.icon-arrow-up2:before {
  content: "\e0b5";
}
.icon-arrow-right2:before {
  content: "\e0b6";
}
.icon-arrow-down2:before {
  content: "\e0b7";
}
.icon-arrow-left2:before {
  content: "\e0b8";
}
.icon-arrow-up3:before {
  content: "\e0b9";
}
.icon-arrow-right3:before {
  content: "\e0ba";
}
.icon-arrow-down3:before {
  content: "\e0bb";
}
.icon-arrow-left3:before {
  content: "\e0bc";
}
.icon-arrow-up4:before {
  content: "\e0bd";
}
.icon-arrow-right4:before {
  content: "\e0be";
}
.icon-arrow-down4:before {
  content: "\e0bf";
}
.icon-arrow-left4:before {
  content: "\e0c0";
}
.icon-arrow-down5:before {
  content: "\e0c1";
}
.icon-arrow-left5:before {
  content: "\e0c2";
}
.icon-arrow-right5:before {
  content: "\e0c3";
}
.icon-arrow-up5:before {
  content: "\e0c4";
}
.icon-arrow-left6:before {
  content: "\e0c5";
}
.icon-arrow-right6:before {
  content: "\e0c6";
}
.icon-arrow-up7:before {
  content: "\e0c7";
}
.icon-arrow-right7:before {
  content: "\e0c8";
}
.icon-arrow-left7:before {
  content: "\e0c9";
}
.icon-arrow-down7:before {
  content: "\e0ca";
}
.icon-sort-up:before {
  content: "\e0cb";
}
.icon-sort-down:before {
  content: "\e0cc";
}
.icon-sort:before {
  content: "\e0cd";
}
.icon-delivery:before {
  content: "\e0ce";
}
.icon-delivery2:before {
  content: "\e0cf";
}
.icon-delivery3:before {
  content: "\e0d0";
}
.icon-delivery4:before {
  content: "\e0d1";
}
.icon-delivery5:before {
  content: "\e0d2";
}
.icon-idcard:before {
  content: "\e0d3";
}
.icon-idcard2:before {
  content: "\e0d4";
}
.icon-idcard3:before {
  content: "\e0d5";
}
.icon-mail-book:before {
  content: "\e0d6";
}
.icon-user-book:before {
  content: "\e0d7";
}
.icon-earth:before {
  content: "\e0d8";
}
.icon-gplus:before {
  content: "\e0d9";
}
.icon-gplus2:before {
  content: "\e0da";
}
.icon-gplus3:before {
  content: "\e0db";
}
.icon-facebook:before {
  content: "\e0dc";
}
.icon-facebook2:before {
  content: "\e0dd";
}
.icon-facebook3:before {
  content: "\e0de";
}
.icon-twitter:before {
  content: "\e0df";
}
.icon-twitter2:before {
  content: "\e0e0";
}
.icon-twitter3:before {
  content: "\e0e1";
}
.icon-feed:before {
  content: "\e0e2";
}
.icon-feed2:before {
  content: "\e0e3";
}
.icon-feed3:before {
  content: "\e0e4";
}
.icon-youtube:before {
  content: "\e0e5";
}
.icon-youtube2:before {
  content: "\e0e6";
}
.icon-vimeo:before {
  content: "\e0e7";
}
.icon-vimeo2:before {
  content: "\e0e8";
}
.icon-linkedin:before {
  content: "\e0e9";
}
.icon-linkedin4:before {
  content: "\e0ea";
}
.icon-linkedin2:before {
  content: "\e0eb";
}
.icon-html5:before {
  content: "\e0ec";
}
.icon-html52:before {
  content: "\e0ed";
}
.icon-chrome:before {
  content: "\e0ee";
}
.icon-firefox:before {
  content: "\e0ef";
}
.icon-IE:before {
  content: "\e0f0";
}
.icon-opera:before {
  content: "\e0f1";
}
.icon-safari:before {
  content: "\e0f2";
}
.icon-toaster:before {
  content: "\e0f3";
}
.icon-instagram:before {
  content: "\2b68";
}
.icon-home4:before {
  content: "\e906";
}
.icon-home6:before {
  content: "\e0f4";
}
.icon-home22:before {
  content: "\e0f5";
}
.icon-home32:before {
  content: "\e0f6";
}
.icon-office2:before {
  content: "\e0f7";
}
.icon-newspaper3:before {
  content: "\e0f8";
}
.icon-pencil5:before {
  content: "\e0f9";
}
.icon-pencil22:before {
  content: "\e0fa";
}
.icon-pencil32:before {
  content: "\e0fb";
}
.icon-pencil42:before {
  content: "\e0fc";
}
.icon-feather2:before {
  content: "\e0fd";
}
.icon-brush2:before {
  content: "\e0fe";
}
.icon-pictures4:before {
  content: "\e0ff";
}
.icon-pictures22:before {
  content: "\e100";
}
.icon-picture4:before {
  content: "\e101";
}
.icon-picture22:before {
  content: "\e102";
}
.icon-pictures32:before {
  content: "\e103";
}
.icon-camera3:before {
  content: "\e104";
}
.icon-camera22:before {
  content: "\e105";
}
.icon-movie4:before {
  content: "\e106";
}
.icon-movie22:before {
  content: "\e107";
}
.icon-movie32:before {
  content: "\e108";
}
.icon-film3:before {
  content: "\e109";
}
.icon-film22:before {
  content: "\e10a";
}
.icon-king2:before {
  content: "\e10b";
}
.icon-queen2:before {
  content: "\e10c";
}
.icon-announcement3:before {
  content: "\e10d";
}
.icon-announcement22:before {
  content: "\e10e";
}
.icon-broadcast2:before {
  content: "\e10f";
}
.icon-books2:before {
  content: "\e110";
}
.icon-reading3:before {
  content: "\e111";
}
.icon-file3:before {
  content: "\e112";
}
.icon-file-add2:before {
  content: "\e113";
}
.icon-file-remove2:before {
  content: "\e114";
}
.icon-copy2:before {
  content: "\e115";
}
.icon-stack2:before {
  content: "\e116";
}
.icon-folder5:before {
  content: "\e117";
}
.icon-folder22:before {
  content: "\e118";
}
.icon-folder-add3:before {
  content: "\e119";
}
.icon-folder-remove3:before {
  content: "\e11a";
}
.icon-folder-add22:before {
  content: "\e11b";
}
.icon-folder-remove22:before {
  content: "\e11c";
}
.icon-folder-download3:before {
  content: "\e11d";
}
.icon-folder-upload3:before {
  content: "\e11e";
}
.icon-folder-download22:before {
  content: "\e11f";
}
.icon-folder-upload22:before {
  content: "\e120";
}
.icon-folder32:before {
  content: "\e121";
}
.icon-folder42:before {
  content: "\e122";
}
.icon-tag6:before {
  content: "\e123";
}
.icon-tag22:before {
  content: "\e124";
}
.icon-tag32:before {
  content: "\e125";
}
.icon-tag42:before {
  content: "\e126";
}
.icon-tag52:before {
  content: "\e127";
}
.icon-barcode3:before {
  content: "\e128";
}
.icon-barcode22:before {
  content: "\e129";
}
.icon-ticket2:before {
  content: "\e12a";
}
.icon-cart5:before {
  content: "\e12b";
}
.icon-cart22:before {
  content: "\e12c";
}
.icon-cart32:before {
  content: "\e12d";
}
.icon-cart42:before {
  content: "\e12e";
}
.icon-cart-add2:before {
  content: "\e12f";
}
.icon-cart-remove2:before {
  content: "\e130";
}
.icon-cart-checkout2:before {
  content: "\e131";
}
.icon-basket3:before {
  content: "\e132";
}
.icon-basket22:before {
  content: "\e133";
}
.icon-bag2:before {
  content: "\e134";
}
.icon-coin2:before {
  content: "\e135";
}
.icon-support2:before {
  content: "\e136";
}
.icon-phone5:before {
  content: "\e137";
}
.icon-phone22:before {
  content: "\e138";
}
.icon-phone32:before {
  content: "\e139";
}
.icon-phone42:before {
  content: "\e13a";
}
.icon-address3:before {
  content: "\e13b";
}
.icon-address22:before {
  content: "\e13c";
}
.icon-notebook3:before {
  content: "\e13d";
}
.icon-mail6:before {
  content: "\e13e";
}
.icon-mail23:before {
  content: "\e13f";
}
.icon-mail32:before {
  content: "\e140";
}
.icon-mail42:before {
  content: "\e141";
}
.icon-mail52:before {
  content: "\e142";
}
.icon-location5:before {
  content: "\e143";
}
.icon-location23:before {
  content: "\e144";
}
.icon-location32:before {
  content: "\e145";
}
.icon-location42:before {
  content: "\e146";
}
.icon-map3:before {
  content: "\e147";
}
.icon-map22:before {
  content: "\e148";
}
.icon-history2:before {
  content: "\e149";
}
.icon-clock3:before {
  content: "\e14a";
}
.icon-clock22:before {
  content: "\e14b";
}
.icon-wrist-watch2:before {
  content: "\e14c";
}
.icon-calendar3:before {
  content: "\e14d";
}
.icon-calendar23:before {
  content: "\e14e";
}
.icon-printer3:before {
  content: "\e14f";
}
.icon-printer22:before {
  content: "\e150";
}
.icon-screen3:before {
  content: "\e151";
}
.icon-screen22:before {
  content: "\e152";
}
.icon-laptop2:before {
  content: "\e153";
}
.icon-mobile3:before {
  content: "\e154";
}
.icon-tablet2:before {
  content: "\e155";
}
.icon-mobile22:before {
  content: "\e156";
}
.icon-disk2:before {
  content: "\e157";
}
.icon-cd2:before {
  content: "\e158";
}
.icon-comments10:before {
  content: "\e159";
}
.icon-comments22:before {
  content: "\e15a";
}
.icon-comments32:before {
  content: "\e15b";
}
.icon-comments42:before {
  content: "\e15c";
}
.icon-comments52:before {
  content: "\e15d";
}
.icon-comments62:before {
  content: "\e15e";
}
.icon-comments72:before {
  content: "\e15f";
}
.icon-comments82:before {
  content: "\e160";
}
.icon-comments92:before {
  content: "\e161";
}
.icon-user3:before {
  content: "\e162";
}
.icon-user-add2:before {
  content: "\e163";
}
.icon-user-remove2:before {
  content: "\e164";
}
.icon-users4:before {
  content: "\e165";
}
.icon-users22:before {
  content: "\e166";
}
.icon-quote5:before {
  content: "\e167";
}
.icon-quote22:before {
  content: "\e168";
}
.icon-quote32:before {
  content: "\e169";
}
.icon-quote42:before {
  content: "\e16a";
}
.icon-search4:before {
  content: "\e16b";
}
.icon-search22:before {
  content: "\e16c";
}
.icon-zoom-in3:before {
  content: "\e16d";
}
.icon-zoom-out3:before {
  content: "\e16e";
}
.icon-key4:before {
  content: "\e16f";
}
.icon-key22:before {
  content: "\e170";
}
.icon-locked4:before {
  content: "\e171";
}
.icon-unlocked3:before {
  content: "\e172";
}
.icon-locked22:before {
  content: "\e173";
}
.icon-unlocked22:before {
  content: "\e174";
}
.icon-cogs2:before {
  content: "\e175";
}
.icon-cog3:before {
  content: "\e176";
}
.icon-cog22:before {
  content: "\e177";
}
.icon-remove6:before {
  content: "\e178";
}
.icon-remove22:before {
  content: "\e179";
}
.icon-remove32:before {
  content: "\e17a";
}
.icon-remove42:before {
  content: "\e17b";
}
.icon-remove52:before {
  content: "\e17c";
}
.icon-clipboard3:before {
  content: "\e17d";
}
.icon-clipboard22:before {
  content: "\e17e";
}
.icon-grid3:before {
  content: "\e17f";
}
.icon-list7:before {
  content: "\e180";
}
.icon-list22:before {
  content: "\e181";
}
.icon-list32:before {
  content: "\e182";
}
.icon-grid22:before {
  content: "\e183";
}
.icon-list42:before {
  content: "\e184";
}
.icon-list53:before {
  content: "\e185";
}
.icon-list62:before {
  content: "\e186";
}
.icon-menu3:before {
  content: "\e187";
}
.icon-menu42:before {
  content: "\e188";
}
.icon-link3:before {
  content: "\e189";
}
.icon-star5:before {
  content: "\e18a";
}
.icon-star22:before {
  content: "\e18b";
}
.icon-star32:before {
  content: "\e18c";
}
.icon-heart3:before {
  content: "\e18d";
}
.icon-heart22:before {
  content: "\e18e";
}
.icon-thumbs-up2:before {
  content: "\e18f";
}
.icon-thumbs-down2:before {
  content: "\e190";
}
.icon-male2:before {
  content: "\e191";
}
.icon-female2:before {
  content: "\e192";
}
.icon-reload2:before {
  content: "\e193";
}
.icon-turn2:before {
  content: "\e194";
}
.icon-expand2:before {
  content: "\e195";
}
.icon-cancel2:before {
  content: "\e196";
}
.icon-checkmark4:before {
  content: "\e197";
}
.icon-checkmark22:before {
  content: "\e198";
}
.icon-checkmark32:before {
  content: "\e199";
}
.icon-minus3:before {
  content: "\e19a";
}
.icon-plus3:before {
  content: "\e19b";
}
.icon-plus-sign2:before {
  content: "\e19c";
}
.icon-minus-sign2:before {
  content: "\e19d";
}
.icon-remove-sign2:before {
  content: "\e19e";
}
.icon-ok-sign2:before {
  content: "\e19f";
}
.icon-question-sign2:before {
  content: "\e1a0";
}
.icon-exclamation-sign2:before {
  content: "\e1a1";
}
.icon-info-sign2:before {
  content: "\e1a2";
}
.icon-login3:before {
  content: "\e1a3";
}
.icon-logout2:before {
  content: "\e1a4";
}
.icon-arrow-up6:before {
  content: "\e1a5";
}
.icon-arrow-right8:before {
  content: "\e1a6";
}
.icon-arrow-down6:before {
  content: "\e1a7";
}
.icon-arrow-left8:before {
  content: "\e1a8";
}
.icon-arrow-up22:before {
  content: "\e1a9";
}
.icon-arrow-right22:before {
  content: "\e1aa";
}
.icon-arrow-down22:before {
  content: "\e1ab";
}
.icon-arrow-left22:before {
  content: "\e1ac";
}
.icon-arrow-up32:before {
  content: "\e1ad";
}
.icon-arrow-right32:before {
  content: "\e1ae";
}
.icon-arrow-down32:before {
  content: "\e1af";
}
.icon-arrow-left32:before {
  content: "\e1b0";
}
.icon-arrow-up42:before {
  content: "\e1b1";
}
.icon-arrow-right42:before {
  content: "\e1b2";
}
.icon-arrow-down42:before {
  content: "\e1b3";
}
.icon-arrow-left42:before {
  content: "\e1b4";
}
.icon-arrow-down52:before {
  content: "\e1b5";
}
.icon-arrow-left52:before {
  content: "\e1b6";
}
.icon-arrow-right52:before {
  content: "\e1b7";
}
.icon-arrow-up52:before {
  content: "\e1b8";
}
.icon-arrow-left62:before {
  content: "\e1b9";
}
.icon-arrow-right62:before {
  content: "\e1ba";
}
.icon-arrow-up72:before {
  content: "\e1bb";
}
.icon-arrow-right72:before {
  content: "\e1bc";
}
.icon-arrow-left72:before {
  content: "\e1bd";
}
.icon-arrow-down72:before {
  content: "\e1be";
}
.icon-sort-up2:before {
  content: "\e1bf";
}
.icon-sort-down2:before {
  content: "\e1c0";
}
.icon-sort2:before {
  content: "\e1c1";
}
.icon-delivery6:before {
  content: "\e1c2";
}
.icon-delivery22:before {
  content: "\e1c3";
}
.icon-delivery32:before {
  content: "\e1c4";
}
.icon-delivery42:before {
  content: "\e1c5";
}
.icon-delivery52:before {
  content: "\e1c6";
}
.icon-idcard4:before {
  content: "\e1c7";
}
.icon-idcard22:before {
  content: "\e1c8";
}
.icon-idcard32:before {
  content: "\e1c9";
}
.icon-mail-book2:before {
  content: "\e1ca";
}
.icon-user-book2:before {
  content: "\e1cb";
}
.icon-earth2:before {
  content: "\e1cc";
}
.icon-gplus4:before {
  content: "\e1cd";
}
.icon-gplus22:before {
  content: "\e1ce";
}
.icon-gplus32:before {
  content: "\e1cf";
}
.icon-facebook4:before {
  content: "\e1d0";
}
.icon-facebook22:before {
  content: "\e1d1";
}
.icon-facebook32:before {
  content: "\e1d2";
}
.icon-twitter4:before {
  content: "\e1d3";
}
.icon-twitter22:before {
  content: "\e1d4";
}
.icon-twitter32:before {
  content: "\e1d5";
}
.icon-feed4:before {
  content: "\e1d6";
}
.icon-feed22:before {
  content: "\e1d7";
}
.icon-feed32:before {
  content: "\e1d8";
}
.icon-youtube3:before {
  content: "\e1d9";
}
.icon-youtube22:before {
  content: "\e1da";
}
.icon-vimeo3:before {
  content: "\e1db";
}
.icon-vimeo22:before {
  content: "\e1dc";
}
.icon-linkedin3:before {
  content: "\e1dd";
}
.icon-linkedin42:before {
  content: "\e1de";
}
.icon-linkedin22:before {
  content: "\e1df";
}
.icon-html53:before {
  content: "\e1e0";
}
.icon-html522:before {
  content: "\e1e1";
}
.icon-chrome2:before {
  content: "\e1e2";
}
.icon-firefox2:before {
  content: "\e1e3";
}
.icon-IE2:before {
  content: "\e1e4";
}
.icon-opera2:before {
  content: "\e1e5";
}
.icon-safari2:before {
  content: "\e1e6";
}
.icon-toaster2:before {
  content: "\e1e7";
}
.icon-download2:before {
  content: "\e1e8";
}
.icon-headphones:before {
  content: "\e1e9";
}
.icon-information:before {
  content: "\e1ea";
}
.icon-play-button2:before {
  content: "\e1eb";
}
.icon-refresh:before {
  content: "\e1ec";
}
.container {
  position: relative;
}
.container::after {
  content: "";
  display: table;
  clear: both;
}
[class*=" grid_"],
[class^="grid_"],
[class*="-grid_"],
[class*="_grid_"] {
  float: left;
  position: relative;
  width: 100%;
  padding-left: 15px !important;
  padding-right: 15px !important;
}
._grid_1 {
  width: 8.333%;
}
._grid_1._alpha,
._grid_1._omega {
  width: 8.333%;
}
._grid_1._alpha._omega {
  width: 8.333%;
}
._grid_2 {
  width: 16.667%;
}
._grid_2._alpha,
._grid_2._omega {
  width: 16.667%;
}
._grid_2._alpha._omega {
  width: 16.667%;
}
._grid_3 {
  width: 25%;
}
._grid_3._alpha,
._grid_3._omega {
  width: 25%;
}
._grid_3._alpha._omega {
  width: 25%;
}
._grid_4 {
  width: 33.333%;
}
._grid_4._alpha,
._grid_4._omega {
  width: 33.333%;
}
._grid_4._alpha._omega {
  width: 33.333%;
}
._grid_5 {
  width: 41.667%;
}
._grid_5._alpha,
._grid_5._omega {
  width: 41.667%;
}
._grid_5._alpha._omega {
  width: 41.667%;
}
._grid_6 {
  width: 50%;
}
._grid_6._alpha,
._grid_6._omega {
  width: 50%;
}
._grid_6._alpha._omega {
  width: 50%;
}
._grid_7 {
  width: 58.333%;
}
._grid_7._alpha,
._grid_7._omega {
  width: 58.333%;
}
._grid_7._alpha._omega {
  width: 58.333%;
}
._grid_8 {
  width: 66.667%;
}
._grid_8._alpha,
._grid_8._omega {
  width: 66.667%;
}
._grid_8._alpha._omega {
  width: 66.667%;
}
._grid_9 {
  width: 75%;
}
._grid_9._alpha,
._grid_9._omega {
  width: 75%;
}
._grid_9._alpha._omega {
  width: 75%;
}
._grid_10 {
  width: 83.333%;
}
._grid_10._alpha,
._grid_10._omega {
  width: 83.333%;
}
._grid_10._alpha._omega {
  width: 83.333%;
}
._grid_11 {
  width: 91.667%;
}
._grid_11._alpha,
._grid_11._omega {
  width: 91.667%;
}
._grid_11._alpha._omega {
  width: 91.667%;
}
._grid_12 {
  width: 100%;
}
._grid_12._alpha,
._grid_12._omega {
  width: 100%;
}
._grid_12._alpha._omega {
  width: 100%;
}
._alpha {
  margin-left: 0 !important;
}
._omega {
  margin-right: 0 !important;
}
._prefix_1 {
  margin-left: 8.333% !important;
}
._prefix_1.alpha {
  margin-left: 8.333% !important;
}
._prefix_2 {
  margin-left: 16.667% !important;
}
._prefix_2.alpha {
  margin-left: 16.667% !important;
}
._prefix_3 {
  margin-left: 25% !important;
}
._prefix_3.alpha {
  margin-left: 25% !important;
}
._prefix_4 {
  margin-left: 33.333% !important;
}
._prefix_4.alpha {
  margin-left: 33.333% !important;
}
._prefix_5 {
  margin-left: 41.667% !important;
}
._prefix_5.alpha {
  margin-left: 41.667% !important;
}
._prefix_6 {
  margin-left: 50% !important;
}
._prefix_6.alpha {
  margin-left: 50% !important;
}
._prefix_7 {
  margin-left: 58.333% !important;
}
._prefix_7.alpha {
  margin-left: 58.333% !important;
}
._prefix_8 {
  margin-left: 66.667% !important;
}
._prefix_8.alpha {
  margin-left: 66.667% !important;
}
._prefix_9 {
  margin-left: 75% !important;
}
._prefix_9.alpha {
  margin-left: 75% !important;
}
._prefix_10 {
  margin-left: 83.333% !important;
}
._prefix_10.alpha {
  margin-left: 83.333% !important;
}
._prefix_11 {
  margin-left: 91.667% !important;
}
._prefix_11.alpha {
  margin-left: 91.667% !important;
}
._suffix_1 {
  margin-right: 8.333% !important;
}
._suffix_1.omega {
  margin-right: 8.333% !important;
}
._suffix_2 {
  margin-right: 16.667% !important;
}
._suffix_2.omega {
  margin-right: 16.667% !important;
}
._suffix_3 {
  margin-right: 25% !important;
}
._suffix_3.omega {
  margin-right: 25% !important;
}
._suffix_4 {
  margin-right: 33.333% !important;
}
._suffix_4.omega {
  margin-right: 33.333% !important;
}
._suffix_5 {
  margin-right: 41.667% !important;
}
._suffix_5.omega {
  margin-right: 41.667% !important;
}
._suffix_6 {
  margin-right: 50% !important;
}
._suffix_6.omega {
  margin-right: 50% !important;
}
._suffix_7 {
  margin-right: 58.333% !important;
}
._suffix_7.omega {
  margin-right: 58.333% !important;
}
._suffix_8 {
  margin-right: 66.667% !important;
}
._suffix_8.omega {
  margin-right: 66.667% !important;
}
._suffix_9 {
  margin-right: 75% !important;
}
._suffix_9.omega {
  margin-right: 75% !important;
}
._suffix_10 {
  margin-right: 83.333% !important;
}
._suffix_10.omega {
  margin-right: 83.333% !important;
}
._suffix_11 {
  margin-right: 91.667% !important;
}
._suffix_11.omega {
  margin-right: 91.667% !important;
}
._push_1 {
  left: 8.33% !important;
}
._push_2 {
  left: 16.67% !important;
}
._push_3 {
  left: 25% !important;
}
._push_4 {
  left: 33.33% !important;
}
._push_5 {
  left: 41.67% !important;
}
._push_6 {
  left: 50% !important;
}
._push_7 {
  left: 58.33% !important;
}
._push_8 {
  left: 66.67% !important;
}
._push_9 {
  left: 75% !important;
}
._push_10 {
  left: 83.33% !important;
}
._push_11 {
  left: 91.67% !important;
}
._pull_1 {
  left: -8.33% !important;
}
._pull_2 {
  left: -16.67% !important;
}
._pull_3 {
  left: -25% !important;
}
._pull_4 {
  left: -33.33% !important;
}
._pull_5 {
  left: -41.67% !important;
}
._pull_6 {
  left: -50% !important;
}
._pull_7 {
  left: -58.33% !important;
}
._pull_8 {
  left: -66.67% !important;
}
._pull_9 {
  left: -75% !important;
}
._pull_10 {
  left: -83.33% !important;
}
._pull_11 {
  left: -91.67% !important;
}
@media only screen and (min-width: 1025px) {
  .grid_1 {
    width: 8.333%;
  }
  .grid_1.alpha,
  .grid_1.omega {
    width: 8.333%;
  }
  .grid_1.alpha.omega {
    width: 8.333%;
  }
  .grid_2 {
    width: 16.667%;
  }
  .grid_2.alpha,
  .grid_2.omega {
    width: 16.667%;
  }
  .grid_2.alpha.omega {
    width: 16.667%;
  }
  .grid_3 {
    width: 25%;
  }
  .grid_3.alpha,
  .grid_3.omega {
    width: 25%;
  }
  .grid_3.alpha.omega {
    width: 25%;
  }
  .grid_4 {
    width: 33.333%;
  }
  .grid_4.alpha,
  .grid_4.omega {
    width: 33.333%;
  }
  .grid_4.alpha.omega {
    width: 33.333%;
  }
  .grid_5 {
    width: 41.667%;
  }
  .grid_5.alpha,
  .grid_5.omega {
    width: 41.667%;
  }
  .grid_5.alpha.omega {
    width: 41.667%;
  }
  .grid_6 {
    width: 50%;
  }
  .grid_6.alpha,
  .grid_6.omega {
    width: 50%;
  }
  .grid_6.alpha.omega {
    width: 50%;
  }
  .grid_7 {
    width: 58.333%;
  }
  .grid_7.alpha,
  .grid_7.omega {
    width: 58.333%;
  }
  .grid_7.alpha.omega {
    width: 58.333%;
  }
  .grid_8 {
    width: 66.667%;
  }
  .grid_8.alpha,
  .grid_8.omega {
    width: 66.667%;
  }
  .grid_8.alpha.omega {
    width: 66.667%;
  }
  .grid_9 {
    width: 75%;
  }
  .grid_9.alpha,
  .grid_9.omega {
    width: 75%;
  }
  .grid_9.alpha.omega {
    width: 75%;
  }
  .grid_10 {
    width: 83.333%;
  }
  .grid_10.alpha,
  .grid_10.omega {
    width: 83.333%;
  }
  .grid_10.alpha.omega {
    width: 83.333%;
  }
  .grid_11 {
    width: 91.667%;
  }
  .grid_11.alpha,
  .grid_11.omega {
    width: 91.667%;
  }
  .grid_11.alpha.omega {
    width: 91.667%;
  }
  .grid_12 {
    width: 100%;
  }
  .grid_12.alpha,
  .grid_12.omega {
    width: 100%;
  }
  .grid_12.alpha.omega {
    width: 100%;
  }
  .alpha {
    margin-left: 0 !important;
  }
  .omega {
    margin-right: 0 !important;
  }
  .prefix_1 {
    margin-left: 8.333% !important;
  }
  .prefix_1.alpha {
    margin-left: 8.333% !important;
  }
  .prefix_2 {
    margin-left: 16.667% !important;
  }
  .prefix_2.alpha {
    margin-left: 16.667% !important;
  }
  .prefix_3 {
    margin-left: 25% !important;
  }
  .prefix_3.alpha {
    margin-left: 25% !important;
  }
  .prefix_4 {
    margin-left: 33.333% !important;
  }
  .prefix_4.alpha {
    margin-left: 33.333% !important;
  }
  .prefix_5 {
    margin-left: 41.667% !important;
  }
  .prefix_5.alpha {
    margin-left: 41.667% !important;
  }
  .prefix_6 {
    margin-left: 50% !important;
  }
  .prefix_6.alpha {
    margin-left: 50% !important;
  }
  .prefix_7 {
    margin-left: 58.333% !important;
  }
  .prefix_7.alpha {
    margin-left: 58.333% !important;
  }
  .prefix_8 {
    margin-left: 66.667% !important;
  }
  .prefix_8.alpha {
    margin-left: 66.667% !important;
  }
  .prefix_9 {
    margin-left: 75% !important;
  }
  .prefix_9.alpha {
    margin-left: 75% !important;
  }
  .prefix_10 {
    margin-left: 83.333% !important;
  }
  .prefix_10.alpha {
    margin-left: 83.333% !important;
  }
  .prefix_11 {
    margin-left: 91.667% !important;
  }
  .prefix_11.alpha {
    margin-left: 91.667% !important;
  }
  .suffix_1 {
    margin-right: 8.333% !important;
  }
  .suffix_1.omega {
    margin-right: 8.333% !important;
  }
  .suffix_2 {
    margin-right: 16.667% !important;
  }
  .suffix_2.omega {
    margin-right: 16.667% !important;
  }
  .suffix_3 {
    margin-right: 25% !important;
  }
  .suffix_3.omega {
    margin-right: 25% !important;
  }
  .suffix_4 {
    margin-right: 33.333% !important;
  }
  .suffix_4.omega {
    margin-right: 33.333% !important;
  }
  .suffix_5 {
    margin-right: 41.667% !important;
  }
  .suffix_5.omega {
    margin-right: 41.667% !important;
  }
  .suffix_6 {
    margin-right: 50% !important;
  }
  .suffix_6.omega {
    margin-right: 50% !important;
  }
  .suffix_7 {
    margin-right: 58.333% !important;
  }
  .suffix_7.omega {
    margin-right: 58.333% !important;
  }
  .suffix_8 {
    margin-right: 66.667% !important;
  }
  .suffix_8.omega {
    margin-right: 66.667% !important;
  }
  .suffix_9 {
    margin-right: 75% !important;
  }
  .suffix_9.omega {
    margin-right: 75% !important;
  }
  .suffix_10 {
    margin-right: 83.333% !important;
  }
  .suffix_10.omega {
    margin-right: 83.333% !important;
  }
  .suffix_11 {
    margin-right: 91.667% !important;
  }
  .suffix_11.omega {
    margin-right: 91.667% !important;
  }
  .push_1 {
    left: 8.33% !important;
  }
  .push_2 {
    left: 16.67% !important;
  }
  .push_3 {
    left: 25% !important;
  }
  .push_4 {
    left: 33.33% !important;
  }
  .push_5 {
    left: 41.67% !important;
  }
  .push_6 {
    left: 50% !important;
  }
  .push_7 {
    left: 58.33% !important;
  }
  .push_8 {
    left: 66.67% !important;
  }
  .push_9 {
    left: 75% !important;
  }
  .push_10 {
    left: 83.33% !important;
  }
  .push_11 {
    left: 91.67% !important;
  }
  .pull_1 {
    left: -8.33% !important;
  }
  .pull_2 {
    left: -16.67% !important;
  }
  .pull_3 {
    left: -25% !important;
  }
  .pull_4 {
    left: -33.33% !important;
  }
  .pull_5 {
    left: -41.67% !important;
  }
  .pull_6 {
    left: -50% !important;
  }
  .pull_7 {
    left: -58.33% !important;
  }
  .pull_8 {
    left: -66.67% !important;
  }
  .pull_9 {
    left: -75% !important;
  }
  .pull_10 {
    left: -83.33% !important;
  }
  .pull_11 {
    left: -91.67% !important;
  }
}
@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .t-grid_1 {
    width: 16.667%;
  }
  .t-grid_1.t-alpha,
  .t-grid_1.t-omega {
    width: 16.667%;
  }
  .t-grid_1.t-alpha.t-omega {
    width: 16.667%;
  }
  .t-grid_2 {
    width: 33.333%;
  }
  .t-grid_2.t-alpha,
  .t-grid_2.t-omega {
    width: 33.333%;
  }
  .t-grid_2.t-alpha.t-omega {
    width: 33.333%;
  }
  .t-grid_3 {
    width: 50%;
  }
  .t-grid_3.t-alpha,
  .t-grid_3.t-omega {
    width: 50%;
  }
  .t-grid_3.t-alpha.t-omega {
    width: 50%;
  }
  .t-grid_4 {
    width: 66.667%;
  }
  .t-grid_4.t-alpha,
  .t-grid_4.t-omega {
    width: 66.667%;
  }
  .t-grid_4.t-alpha.t-omega {
    width: 66.667%;
  }
  .t-grid_5 {
    width: 83.333%;
  }
  .t-grid_5.t-alpha,
  .t-grid_5.t-omega {
    width: 83.333%;
  }
  .t-grid_5.t-alpha.t-omega {
    width: 83.333%;
  }
  .t-grid_6 {
    width: 100%;
  }
  .t-grid_6.t-alpha,
  .t-grid_6.t-omega {
    width: 100%;
  }
  .t-grid_6.t-alpha.t-omega {
    width: 100%;
  }
  .t-alpha {
    margin-left: 0 !important;
  }
  .t-omega {
    margin-right: 0 !important;
  }
  .t-prefix_1 {
    margin-left: 16.667% !important;
  }
  .t-prefix_1.alpha {
    margin-left: 16.667% !important;
  }
  .t-prefix_2 {
    margin-left: 33.333% !important;
  }
  .t-prefix_2.alpha {
    margin-left: 33.333% !important;
  }
  .t-prefix_3 {
    margin-left: 50% !important;
  }
  .t-prefix_3.alpha {
    margin-left: 50% !important;
  }
  .t-prefix_4 {
    margin-left: 66.667% !important;
  }
  .t-prefix_4.alpha {
    margin-left: 66.667% !important;
  }
  .t-prefix_5 {
    margin-left: 83.333% !important;
  }
  .t-prefix_5.alpha {
    margin-left: 83.333% !important;
  }
  .t-suffix_1 {
    margin-right: 16.667% !important;
  }
  .t-suffix_1.omega {
    margin-right: 16.667% !important;
  }
  .t-suffix_2 {
    margin-right: 33.333% !important;
  }
  .t-suffix_2.omega {
    margin-right: 33.333% !important;
  }
  .t-suffix_3 {
    margin-right: 50% !important;
  }
  .t-suffix_3.omega {
    margin-right: 50% !important;
  }
  .t-suffix_4 {
    margin-right: 66.667% !important;
  }
  .t-suffix_4.omega {
    margin-right: 66.667% !important;
  }
  .t-suffix_5 {
    margin-right: 83.333% !important;
  }
  .t-suffix_5.omega {
    margin-right: 83.333% !important;
  }
  .t-push_1 {
    left: 16.67% !important;
  }
  .t-push_2 {
    left: 33.33% !important;
  }
  .t-push_3 {
    left: 50% !important;
  }
  .t-push_4 {
    left: 66.67% !important;
  }
  .t-push_5 {
    left: 83.33% !important;
  }
  .t-pull_1 {
    left: -16.67% !important;
  }
  .t-pull_2 {
    left: -33.33% !important;
  }
  .t-pull_3 {
    left: -50% !important;
  }
  .t-pull_4 {
    left: -66.67% !important;
  }
  .t-pull_5 {
    left: -83.33% !important;
  }
}
@media only screen and (max-width: 768px) {
  .m-grid_1 {
    width: 25%;
  }
  .m-grid_1.m-alpha,
  .m-grid_1.m-omega {
    width: 25%;
  }
  .m-grid_1.m-alpha.m-omega {
    width: 25%;
  }
  .m-grid_2 {
    width: 50%;
  }
  .m-grid_2.m-alpha,
  .m-grid_2.m-omega {
    width: 50%;
  }
  .m-grid_2.m-alpha.m-omega {
    width: 50%;
  }
  .m-grid_3 {
    width: 75%;
  }
  .m-grid_3.m-alpha,
  .m-grid_3.m-omega {
    width: 75%;
  }
  .m-grid_3.m-alpha.m-omega {
    width: 75%;
  }
  .m-grid_4 {
    width: 100%;
  }
  .m-grid_4.m-alpha,
  .m-grid_4.m-omega {
    width: 100%;
  }
  .m-grid_4.m-alpha.m-omega {
    width: 100%;
  }
  .m-alpha {
    margin-left: 0 !important;
  }
  .m-omega {
    margin-right: 0 !important;
  }
  .m-prefix_1 {
    margin-left: 25% !important;
  }
  .m-prefix_1.alpha {
    margin-left: 25% !important;
  }
  .m-prefix_2 {
    margin-left: 50% !important;
  }
  .m-prefix_2.alpha {
    margin-left: 50% !important;
  }
  .m-prefix_3 {
    margin-left: 75% !important;
  }
  .m-prefix_3.alpha {
    margin-left: 75% !important;
  }
  .m-suffix_1 {
    margin-right: 25% !important;
  }
  .m-suffix_1.omega {
    margin-right: 25% !important;
  }
  .m-suffix_2 {
    margin-right: 50% !important;
  }
  .m-suffix_2.omega {
    margin-right: 50% !important;
  }
  .m-suffix_3 {
    margin-right: 75% !important;
  }
  .m-suffix_3.omega {
    margin-right: 75% !important;
  }
  .m-push_1 {
    left: 25% !important;
  }
  .m-push_2 {
    left: 50% !important;
  }
  .m-push_3 {
    left: 75% !important;
  }
  .m-pull_1 {
    left: -25% !important;
  }
  .m-pull_2 {
    left: -50% !important;
  }
  .m-pull_3 {
    left: -75% !important;
  }
}
[class*=" column_"],
[class^="column_"],
[class*="-column_"],
[class*="_column_"] {
  font-size: 0 !important;
}
[class*=" column_"] > *,
[class^="column_"] > *,
[class*="-column_"] > *,
[class*="_column_"] > * {
  font-size: 18px;
  float: none !important;
  display: inline-block;
  vertical-align: top;
  width: 100% !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
[class*=" column_"].mb > *,
[class^="column_"].mb > *,
[class*="-column_"].mb > *,
[class*="_column_"].mb > * {
  margin-bottom: 0;
}
[class*=" column_"].bottom > *,
[class^="column_"].bottom > *,
[class*="-column_"].bottom > *,
[class*="_column_"].bottom > * {
  vertical-align: bottom;
}
[class*=" column_"].middle > *,
[class^="column_"].middle > *,
[class*="-column_"].middle > *,
[class*="_column_"].middle > * {
  vertical-align: middle;
}
[class*=" column_"].full-width > *,
[class^="column_"].full-width > *,
[class*="-column_"].full-width > *,
[class*="_column_"].full-width > * {
  width: 100% !important;
  margin-right: 0 !important;
  margin-left: 0 !important;
}
[class*=" column_"].margin-none > *,
[class^="column_"].margin-none > *,
[class*="-column_"].margin-none > *,
[class*="_column_"].margin-none > * {
  width: 100% !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
[class*=" column_"].one-line > *,
[class^="column_"].one-line > *,
[class*="-column_"].one-line > *,
[class*="_column_"].one-line > * {
  margin-bottom: 0;
}
[class*=" column_"] > .generator-links,
[class^="column_"] > .generator-links,
[class*="-column_"] > .generator-links,
[class*="_column_"] > .generator-links {
  display: block;
}
[class*=" column_"].larger > *,
[class^="column_"].larger > *,
[class*="-column_"].larger > *,
[class*="_column_"].larger > *,
[class*=" column_"] > .larger,
[class^="column_"] > .larger,
[class*="-column_"] > .larger,
[class*="_column_"] > .larger {
  font-size: 39.96px !important;
}
[class*=" column_"].large > *,
[class^="column_"].large > *,
[class*="-column_"].large > *,
[class*="_column_"].large > *,
[class*=" column_"] > .large,
[class^="column_"] > .large,
[class*="-column_"] > .large,
[class*="_column_"] > .large {
  font-size: 22.5px !important;
}
[class*=" column_"].small > *,
[class^="column_"].small > *,
[class*="-column_"].small > *,
[class*="_column_"].small > *,
[class*=" column_"] > .small,
[class^="column_"] > .small,
[class*="-column_"] > .small,
[class*="_column_"] > .small {
  font-size: 13.32px !important;
}
._column_1 > * {
  width: 100% !important;
}
._column_2 > * {
  width: 50% !important;
}
._column_3 > * {
  width: 33.333% !important;
}
._column_4 > * {
  width: 25% !important;
}
._column_5 > * {
  width: 20% !important;
}
._column_6 > * {
  width: 16.667% !important;
}
._column_7 > * {
  width: 14.286% !important;
}
._column_8 > * {
  width: 12.5% !important;
}
._column_9 > * {
  width: 11.111% !important;
}
._column_10 > * {
  width: 10% !important;
}
._column_11 > * {
  width: 9.091% !important;
}
._column_12 > * {
  width: 8.333% !important;
}
.full-width._column_1 > * {
  width: 100% !important;
}
.full-width._column_1 > *:nth-child(1n) {
  margin-right: 0 !important;
}
.full-width._column_2 > * {
  width: 50% !important;
}
.full-width._column_2 > *:nth-child(2n) {
  margin-right: 0 !important;
}
.full-width._column_3 > * {
  width: 33.333% !important;
}
.full-width._column_3 > *:nth-child(3n) {
  margin-right: 0 !important;
}
.full-width._column_4 > * {
  width: 25% !important;
}
.full-width._column_4 > *:nth-child(4n) {
  margin-right: 0 !important;
}
.full-width._column_5 > * {
  width: 20% !important;
}
.full-width._column_5 > *:nth-child(5n) {
  margin-right: 0 !important;
}
.full-width._column_6 > * {
  width: 16.667% !important;
}
.full-width._column_6 > *:nth-child(6n) {
  margin-right: 0 !important;
}
.full-width._column_7 > * {
  width: 14.286% !important;
}
.full-width._column_7 > *:nth-child(7n) {
  margin-right: 0 !important;
}
.full-width._column_8 > * {
  width: 12.5% !important;
}
.full-width._column_8 > *:nth-child(8n) {
  margin-right: 0 !important;
}
.full-width._column_9 > * {
  width: 11.111% !important;
}
.full-width._column_9 > *:nth-child(9n) {
  margin-right: 0 !important;
}
.full-width._column_10 > * {
  width: 10% !important;
}
.full-width._column_10 > *:nth-child(10n) {
  margin-right: 0 !important;
}
.full-width._column_11 > * {
  width: 9.091% !important;
}
.full-width._column_11 > *:nth-child(11n) {
  margin-right: 0 !important;
}
.full-width._column_12 > * {
  width: 8.333% !important;
}
.full-width._column_12 > *:nth-child(12n) {
  margin-right: 0 !important;
}
.margin-none._column_1 > * {
  width: 100% !important;
}
.margin-none._column_2 > * {
  width: 50% !important;
}
.margin-none._column_3 > * {
  width: 33.333% !important;
}
.margin-none._column_4 > * {
  width: 25% !important;
}
.margin-none._column_5 > * {
  width: 20% !important;
}
.margin-none._column_6 > * {
  width: 16.667% !important;
}
.margin-none._column_7 > * {
  width: 14.286% !important;
}
.margin-none._column_8 > * {
  width: 12.5% !important;
}
.margin-none._column_9 > * {
  width: 11.111% !important;
}
.margin-none._column_10 > * {
  width: 10% !important;
}
.margin-none._column_11 > * {
  width: 9.091% !important;
}
.margin-none._column_12 > * {
  width: 8.333% !important;
}
@media only screen and (min-width: 1025px) {
  .column_1 > * {
    width: 100% !important;
  }
  .column_2 > * {
    width: 50% !important;
  }
  .column_3 > * {
    width: 33.333% !important;
  }
  .column_4 > * {
    width: 25% !important;
  }
  .column_5 > * {
    width: 20% !important;
  }
  .column_6 > * {
    width: 16.667% !important;
  }
  .column_7 > * {
    width: 14.286% !important;
  }
  .column_8 > * {
    width: 12.5% !important;
  }
  .column_9 > * {
    width: 11.111% !important;
  }
  .column_10 > * {
    width: 10% !important;
  }
  .column_11 > * {
    width: 9.091% !important;
  }
  .column_12 > * {
    width: 8.333% !important;
  }
  .full-width.column_1 > * {
    width: 100% !important;
  }
  .full-width.column_1 > *:nth-child(1n) {
    margin-right: 0 !important;
  }
  .full-width.column_2 > * {
    width: 50% !important;
  }
  .full-width.column_2 > *:nth-child(2n) {
    margin-right: 0 !important;
  }
  .full-width.column_3 > * {
    width: 33.333% !important;
  }
  .full-width.column_3 > *:nth-child(3n) {
    margin-right: 0 !important;
  }
  .full-width.column_4 > * {
    width: 25% !important;
  }
  .full-width.column_4 > *:nth-child(4n) {
    margin-right: 0 !important;
  }
  .full-width.column_5 > * {
    width: 20% !important;
  }
  .full-width.column_5 > *:nth-child(5n) {
    margin-right: 0 !important;
  }
  .full-width.column_6 > * {
    width: 16.667% !important;
  }
  .full-width.column_6 > *:nth-child(6n) {
    margin-right: 0 !important;
  }
  .full-width.column_7 > * {
    width: 14.286% !important;
  }
  .full-width.column_7 > *:nth-child(7n) {
    margin-right: 0 !important;
  }
  .full-width.column_8 > * {
    width: 12.5% !important;
  }
  .full-width.column_8 > *:nth-child(8n) {
    margin-right: 0 !important;
  }
  .full-width.column_9 > * {
    width: 11.111% !important;
  }
  .full-width.column_9 > *:nth-child(9n) {
    margin-right: 0 !important;
  }
  .full-width.column_10 > * {
    width: 10% !important;
  }
  .full-width.column_10 > *:nth-child(10n) {
    margin-right: 0 !important;
  }
  .full-width.column_11 > * {
    width: 9.091% !important;
  }
  .full-width.column_11 > *:nth-child(11n) {
    margin-right: 0 !important;
  }
  .full-width.column_12 > * {
    width: 8.333% !important;
  }
  .full-width.column_12 > *:nth-child(12n) {
    margin-right: 0 !important;
  }
  .margin-none.column_1 > * {
    width: 100% !important;
  }
  .margin-none.column_2 > * {
    width: 50% !important;
  }
  .margin-none.column_3 > * {
    width: 33.333% !important;
  }
  .margin-none.column_4 > * {
    width: 25% !important;
  }
  .margin-none.column_5 > * {
    width: 20% !important;
  }
  .margin-none.column_6 > * {
    width: 16.667% !important;
  }
  .margin-none.column_7 > * {
    width: 14.286% !important;
  }
  .margin-none.column_8 > * {
    width: 12.5% !important;
  }
  .margin-none.column_9 > * {
    width: 11.111% !important;
  }
  .margin-none.column_10 > * {
    width: 10% !important;
  }
  .margin-none.column_11 > * {
    width: 9.091% !important;
  }
  .margin-none.column_12 > * {
    width: 8.333% !important;
  }
}
@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .t-column_1 > * {
    width: 100% !important;
  }
  .t-column_2 > * {
    width: 50% !important;
  }
  .t-column_3 > * {
    width: 33.333% !important;
  }
  .t-column_4 > * {
    width: 25% !important;
  }
  .t-column_5 > * {
    width: 20% !important;
  }
  .t-column_6 > * {
    width: 16.667% !important;
  }
  .full-width.t-column_1 > * {
    width: 100% !important;
  }
  .full-width.t-column_1 > *:nth-child(1n) {
    margin-right: 0 !important;
  }
  .full-width.t-column_2 > * {
    width: 50% !important;
  }
  .full-width.t-column_2 > *:nth-child(2n) {
    margin-right: 0 !important;
  }
  .full-width.t-column_3 > * {
    width: 33.333% !important;
  }
  .full-width.t-column_3 > *:nth-child(3n) {
    margin-right: 0 !important;
  }
  .full-width.t-column_4 > * {
    width: 25% !important;
  }
  .full-width.t-column_4 > *:nth-child(4n) {
    margin-right: 0 !important;
  }
  .full-width.t-column_5 > * {
    width: 20% !important;
  }
  .full-width.t-column_5 > *:nth-child(5n) {
    margin-right: 0 !important;
  }
  .full-width.t-column_6 > * {
    width: 16.667% !important;
  }
  .full-width.t-column_6 > *:nth-child(6n) {
    margin-right: 0 !important;
  }
  .margin-none.t-column_1 > * {
    width: 100% !important;
  }
  .margin-none.t-column_2 > * {
    width: 50% !important;
  }
  .margin-none.t-column_3 > * {
    width: 33.333% !important;
  }
  .margin-none.t-column_4 > * {
    width: 25% !important;
  }
  .margin-none.t-column_5 > * {
    width: 20% !important;
  }
  .margin-none.t-column_6 > * {
    width: 16.667% !important;
  }
}
@media only screen and (max-width: 768px) {
  .m-column_1 > * {
    width: 100% !important;
  }
  .m-column_2 > * {
    width: 50% !important;
  }
  .m-column_3 > * {
    width: 33.333% !important;
  }
  .m-column_4 > * {
    width: 25% !important;
  }
  .full-width.m-column_1 > * {
    width: 100% !important;
  }
  .full-width.m-column_1 > *:nth-child(1n) {
    margin-right: 0 !important;
  }
  .full-width.m-column_2 > * {
    width: 50% !important;
  }
  .full-width.m-column_2 > *:nth-child(2n) {
    margin-right: 0 !important;
  }
  .full-width.m-column_3 > * {
    width: 33.333% !important;
  }
  .full-width.m-column_3 > *:nth-child(3n) {
    margin-right: 0 !important;
  }
  .full-width.m-column_4 > * {
    width: 25% !important;
  }
  .full-width.m-column_4 > *:nth-child(4n) {
    margin-right: 0 !important;
  }
  .margin-none.m-column_1 > * {
    width: 100% !important;
  }
  .margin-none.m-column_2 > * {
    width: 50% !important;
  }
  .margin-none.m-column_3 > * {
    width: 33.333% !important;
  }
  .margin-none.m-column_4 > * {
    width: 25% !important;
  }
}
.centered {
  float: none !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}
.align-top {
  vertical-align: top !important;
}
.align-middle {
  vertical-align: middle !important;
}
.align-bottom {
  vertical-align: bottom !important;
}
.ws-nowrap {
  white-space: nowrap !important;
}
.ws-normal {
  white-space: normal !important;
}
.ws-pre {
  white-space: pre-wrap !important;
}
.text-light {
  font-weight: 300 !important;
}
.text-normal {
  font-weight: normal !important;
  font-style: normal !important;
}
.text-medium {
  font-weight: 500 !important;
}
.text-bold {
  font-weight: bold !important;
}
.text-italic {
  font-style: italic !important;
}
.lh-inherit {
  line-height: inherit !important;
}
.lh-small {
  line-height: 1 !important;
}
.lh-medium {
  line-height: 1.4025 !important;
}
.lh-normal {
  line-height: 1.65 !important;
}
.lh-large {
  line-height: 2.0625 !important;
}
.cl-none {
  clear: none;
}
.cl-both {
  clear: both;
}
.fl-left {
  float: left !important;
}
.fl-right {
  float: right !important;
}
.fl-none {
  float: none !important;
}
.scroll {
  overflow: auto !important;
}
.wrap {
  overflow: hidden !important;
}
.overflow-none {
  overflow: visible !important;
}
.show {
  display: block !important;
}
.block {
  display: block;
}
.inline-block-wrap {
  font-size: 0;
}
.inline-block-wrap > * {
  font-size: 18px;
  display: inline-block;
  vertical-align: middle;
}
.inline-block {
  display: inline-block;
  vertical-align: middle;
}
.word-break {
  -ms-word-break: break-all;
  word-break: break-all;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
.hide,
.ui-helper-hidden,
.ui-helper-hidden-accessible,
.btn.hide {
  display: none;
}
.pointer {
  cursor: pointer !important;
}
.help {
  cursor: help !important;
}
.fs12,
.is12:before {
  font-size: 12px !important;
}
.fs14,
.is14:before {
  font-size: 14px !important;
}
.fs16,
.is16:before {
  font-size: 16px !important;
}
.fs18,
.is18:before {
  font-size: 18px !important;
}
.fs24,
.is24:before {
  font-size: 24px !important;
}
.fs32,
.is32:before {
  font-size: 32px !important;
}
.fs48,
.is48:before {
  font-size: 48px !important;
}
.fs64,
.is64:before {
  font-size: 64px !important;
}
.fs-inherit,
.is-inherit:before {
  font-size: inherit !important;
}
.inherit {
  color: inherit;
  background: inherit;
}
.inherit-bg {
  background: inherit;
}
.inherit-color {
  color: inherit;
}
a.inherit-color:hover {
  color: #07A0C3;
}
.text-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.m0px {
  margin: 0px !important;
}
.mt0px {
  margin-top: 0px !important;
}
.mt5px {
  margin-top: 5px !important;
}
.mt10px {
  margin-top: 10px !important;
}
.mt15px {
  margin-top: 15px !important;
}
.mt20px {
  margin-top: 20px !important;
}
.mt25px {
  margin-top: 25px !important;
}
.mt30px {
  margin-top: 30px !important;
}
.mb0px {
  margin-bottom: 0px !important;
}
.mb5px {
  margin-bottom: 5px !important;
}
.mb10px {
  margin-bottom: 10px !important;
}
.mb15px {
  margin-bottom: 15px !important;
}
.mb20px {
  margin-bottom: 20px !important;
}
.mb25px {
  margin-bottom: 25px !important;
}
.mb30px {
  margin-bottom: 30px !important;
}
.mtLabel {
  margin-top: 1.9em;
}
.mtInput {
  margin-top: 2.7em;
}
.ml-grid {
  margin-left: 0 !important;
}
.mr-grid {
  margin-right: 0 !important;
}
.p0px {
  padding: 0px !important;
}
.pl-grid {
  padding-left: 0;
}
.pr-grid {
  padding-right: 0;
}
.ff-text {
  font-family: 'Lato', Arial, sans-serif;
}
.ff-header {
  font-family: 'Lato', Helvetica, Arial, serif;
}
.h-auto {
  height: auto !important;
}
.maxH-none {
  max-height: none !important;
}
.w-auto {
  width: auto !important;
}
.maxW-none {
  max-width: none !important;
}
.gray-darker-bg {
  color: #fff;
  background-color: #222222;
}
.gray-dark-bg {
  color: #fff;
  background-color: #4a4a4a;
}
.gray-bg {
  color: #fff;
  background-color: #616161;
}
.gray-light-bg {
  color: #fff;
  background-color: #7d7d7d;
}
.gray-lighter-bg {
  background-color: #f0f0f0;
}
.white-bg {
  background: #fff;
}
.gray-darker {
  color: #222222;
}
.gray-dark {
  color: #4a4a4a;
}
.gray {
  color: #616161;
}
.gray-light {
  color: #7d7d7d;
}
.gray-lighter {
  color: #f0f0f0;
}
.white {
  color: #fff;
}
.table {
  float: none;
  display: table;
  width: 100%;
}
.tr {
  float: none;
  display: table-row;
}
.td {
  float: none;
  display: table-cell;
}
.gl-change {
  font-size: 0;
}
.gl-change a,
.gl-change :before {
  font-size: 18px;
}
.gl-change .generator-links {
  display: inline-block;
  vertical-align: middle;
  box-sizing: content-box;
  width: 11px !important;
  height: 11px !important;
  line-height: 11px !important;
  font-size: 0 !important;
  color: #FFF;
  border-color: #0679dc;
  background-color: #28b0ed;
  padding: 4px !important;
  position: relative;
}
.gl-change .generator-links::before {
  font-size: 11px !important;
}
.gl-change .generator-links:hover,
.gl-change .generator-links:active,
.gl-change .generator-links.active {
  color: #FFF;
  border-color: #055eab;
  background-color: #1195d1;
}
.gl-change .generator-links img {
  display: none !important;
}
.gl-change .generator-links::before {
  font-family: flexkit-icons;
  content: "\e005";
}
.gl-change .generator-links + .generator-links {
  margin-left: 1px;
}
.gl-change .generator-links + .generator-links::before {
  content: "\e095";
}
.gl-change a.icon + .generator-links:before {
  content: "\e095";
  border-left: 2px solid #fff;
  border-top: 2px solid #fff;
  margin: 0 0 -2px -15px;
  vertical-align: bottom;
}
.gl-change .btn ~ .generator-links {
  vertical-align: top;
}
.gl-change .btn + .generator-links + .generator-links ~ .generator-links {
  top: 19px;
  left: -40px;
}
.gl-change.color .generator-links {
  padding: 4px;
}
.gl-change.color .generator-links::before {
  font-size: 16px;
  width: 16px;
  height: 16px;
}
.gl-change.color .generator-links::before {
  content: "\e00a";
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.rss {
  color: #f26522;
}
.skype {
  color: #00aff0;
}
.gplus {
  color: #dd4b39;
}
.vimeo {
  color: #1ab7ea;
}
.twitter {
  color: #55acee;
}
.youtube {
  color: #e52d27;
}
.flicker {
  color: #ff0084;
}
.linkedin {
  color: #0976b4;
}
.facebook {
  color: #3b5998;
}
.pinterest {
  color: #cc2127;
}
.vkontakte {
  color: #45668e;
}
.instagram {
  color: #3f729b;
}
.social-panel {
  text-align: center;
  margin-bottom: 30px;
}
.social-panel > a.btn {
  width: 2em;
  line-height: 2em;
  background: transparent;
  color: #FFF;
  border: 2px solid #FFF;
  box-sizing: content-box;
  transition: 0.2s;
}
.social-panel > a.btn:hover {
  box-shadow: none;
  border-color: #f0f0f0;
}
.social-panel > a.btn:hover:before {
  color: #FFF;
}
.social-panel > a.btn.instagram:hover {
  background: radial-gradient(circle at 33% 100%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
}
.social-panel > a.btn + a {
  margin-left: 0.4em;
}
.social-panel > a.btn:before {
  font-size: 1.2em;
}
@media only screen and (min-width: 1024px) {
  .social-panel > a.btn {
    width: 3.1vw;
    line-height: 3.1vw;
  }
  .social-panel > a.btn:before {
    font-size: 1.4vw;
  }
  .social-panel > a.btn + a {
    margin-left: 1em;
  }
}
@media only screen and (min-width: 1024px) {
  .social-panel {
    padding: 3.5em 0 0;
  }
}
a.inherit {
  color: inherit;
}
a:hover.gplus {
  color: #c23321;
}
a:hover.twitter {
  color: #2795e9;
}
a:hover.youtube {
  color: #c21d17;
}
a:hover.linkedin {
  color: #075683;
}
a:hover.facebook {
  color: #2d4373;
}
.btn.gplus {
  color: #fff;
  border-color: #dd4b39;
  background-color: #dd4b39;
}
.btn.gplus:hover,
.btn.gplus:active,
.btn.gplus.active {
  color: #fff;
  border-color: #c23321;
  background-color: #c23321;
}
.btn.twitter {
  color: #fff;
  border-color: #55acee;
  background-color: #55acee;
}
.btn.twitter:hover,
.btn.twitter:active,
.btn.twitter.active {
  color: #fff;
  border-color: #2795e9;
  background-color: #2795e9;
}
.btn.youtube {
  color: #fff;
  border-color: #e52d27;
  background-color: #e52d27;
}
.btn.youtube:hover,
.btn.youtube:active,
.btn.youtube.active {
  color: #fff;
  border-color: #c21d17;
  background-color: #c21d17;
}
.btn.linkedin {
  color: #fff;
  border-color: #0976b4;
  background-color: #0976b4;
}
.btn.linkedin:hover,
.btn.linkedin:active,
.btn.linkedin.active {
  color: #fff;
  border-color: #075683;
  background-color: #075683;
}
.btn.facebook {
  color: #fff;
  border-color: #3b5998;
  background-color: #3b5998;
}
.btn.facebook:hover,
.btn.facebook:active,
.btn.facebook.active {
  color: #fff;
  border-color: #2d4373;
  background-color: #2d4373;
}
.primary {
  color: #00adc6;
}
a.primary:hover {
  color: #006a7a;
}
.success {
  color: #4fc752;
}
a.success:hover {
  color: #319933;
}
.warning {
  color: #ffc159;
}
a.warning:hover {
  color: #ffa40d;
}
.error {
  color: #e44545;
}
a.error:hover {
  color: #c11c1c;
}
.info {
  color: #28b0ed;
}
a.info:hover {
  color: #0f85b9;
}
.seosamba-color {
  color: #83b421;
}
a.seosamba-color:hover {
  color: #547315;
}
.seosamba-bg {
  color: #fff;
  background-color: #83b421;
}
.seotoaster-color {
  color: #6464fd;
}
a.seotoaster-color:hover {
  color: #1818fc;
}
.seotoaster-bg {
  color: #fff;
  background-color: #6464fd;
}
.primary-bg {
  background-color: #00adc6;
  color: #FFF;
}
.success-bg {
  background-color: #4fc752;
  color: #fff;
}
.warning-bg {
  background-color: #ffc159;
  color: #fff;
}
.error-bg {
  background-color: #e44545;
  color: #fff;
}
.info-bg {
  background-color: #28b0ed;
  color: #fff;
}
.larger {
  font-size: 3.108em;
}
.large {
  font-size: 1.25em;
}
.small {
  font-size: 0.74em;
}
.mini {
  font-size: 0.5em;
}
.uppercase {
  text-transform: uppercase;
}
.lowecase {
  text-transform: lowercase;
}
code {
  padding: 1px 5px;
  background: #f7f7f7;
  border: 1px solid #ddd;
  color: #e44545;
}
a {
  color: #07A0C3;
}
a:hover {
  color: #034f61;
}
a:active {
  color: #034f61;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-top: 0;
  padding-top: 0.2em;
  margin-bottom: 0.5em;
  color: #4a4a4a;
  font-family: 'Lato', Helvetica, Arial, serif;
  font-weight: normal;
}
h1:first-child:not(.logo),
h2:first-child:not(.logo),
h3:first-child:not(.logo),
h4:first-child:not(.logo),
h5:first-child:not(.logo),
h6:first-child:not(.logo),
.h1:first-child:not(.logo),
.h2:first-child:not(.logo),
.h3:first-child:not(.logo),
.h4:first-child:not(.logo),
.h5:first-child:not(.logo),
.h6:first-child:not(.logo) {
  margin-top: 0;
  padding-top: 0;
}
.slide .slide-description h1,
.slide .slide-description h2,
.slide .slide-description h3,
.slide .slide-description h4,
.slide .slide-description h5,
.slide .slide-description h6,
.slide .slide-description .h1,
.slide .slide-description .h2,
.slide .slide-description .h3,
.slide .slide-description .h4,
.slide .slide-description .h5,
.slide .slide-description .h6 {
  color: inherit;
}
footer h1,
footer h2,
footer h3,
footer h4,
footer h5,
footer h6,
footer .h1,
footer .h2,
footer .h3,
footer .h4,
footer .h5,
footer .h6 {
  color: #FFF;
}
h1:empty,
h2:empty,
h3:empty,
h4:empty,
h5:empty,
h6:empty,
.h1:empty,
.h2:empty,
.h3:empty,
.h4:empty,
.h5:empty,
.h6:empty {
  display: none;
}
h1,
.h1 {
  font-size: 2.25em;
}
h2,
.h2 {
  font-size: 2.4em;
}
@media only screen and (max-width: 768px) {
  h2,
  .h2 {
    font-size: 2em;
  }
}
h3,
.h3 {
  font-size: 1.25em;
}
h4,
.h4 {
  font-size: 1.65em;
}
h5,
.h5 {
  font-size: 1.3em;
}
h6,
.h6 {
  font-size: 0.75em;
}
.subtitle {
  color: #616161;
  font-size: 0.5em;
}
p {
  margin-top: 0;
  margin-bottom: 10px;
  color: #7d7d7d;
}
address {
  margin-bottom: 20px;
  font-style: normal;
}
blockquote {
  margin: 2em 0;
  padding: 0.25em 2.5em;
  color: #636363;
  font-size: 1.25em;
  position: relative;
}
@media only screen and (min-width: 1024px) {
  .sized-blockquote blockquote {
    display: inline-block;
    width: 50%;
  }
}
blockquote::before,
blockquote::after {
  color: #7d7d7d;
  position: absolute;
  line-height: 1em;
  font-size: 2.5rem;
  font-family: flexkit-icons;
}
blockquote::after {
  right: 0;
  bottom: -0.25em;
  content: "\e073";
}
blockquote::before {
  left: 0;
  top: -0.25em;
  content: "\e073";
}
blockquote p {
  margin-bottom: 0;
}
blockquote p + p {
  margin-top: 15px;
}
blockquote .v2::after {
  content: "\e064";
}
blockquote .v2::before {
  content: "\e065";
}
blockquote.noquotes {
  border-left: 2px solid #7d7d7d;
  padding: 0.5em 1em;
}
blockquote.noquotes::before,
blockquote.noquotes::after {
  content: '';
}
blockquote.onequote {
  padding-left: 2em;
  padding-right: 2em;
}
blockquote.onequote::before {
  top: -0.45em;
  font-size: 6.25rem;
  opacity: 0.2;
}
blockquote.onequote::after {
  content: '';
}
blockquote.cloud {
  padding: 1em;
  background-color: #f0f0f0;
  border-radius: 5px;
  position: relative;
}
blockquote.cloud::after {
  content: '';
  position: absolute;
  border: 10px solid #f0f0f0;
  margin: auto;
  width: 0;
  height: 0;
  border-bottom-color: transparent !important;
  border-left-color: transparent !important;
  top: 100%;
  bottom: auto;
  left: 0;
  right: 0;
}
blockquote.cloud::before {
  content: '';
}
blockquote.cloud.border {
  background-color: #f0f0f0;
  padding: 1em;
  border: 1px solid #f0f0f0;
  border-radius: 0.25em;
}
blockquote.cloud.border::before {
  z-index: 1;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border-width: 9px;
  border-style: solid;
  border-color: #f0f0f0 #f0f0f0 transparent transparent;
  margin: auto;
  width: 0;
  height: 0;
}
blockquote.cloud.right {
  zoom: 1;
}
blockquote.cloud.right::after {
  left: auto;
  right: 100px;
}
blockquote.cloud.right.border::before {
  left: auto;
  right: 101px;
}
blockquote.cloud.left {
  zoom: 1;
}
blockquote.cloud.left::after {
  left: 100px;
  right: auto;
  border-right-color: transparent !important;
  border-left-color: #f0f0f0 !important;
}
blockquote.cloud.left.border::before {
  left: 101px;
  right: auto;
  border-right-color: transparent;
  border-left-color: #f0f0f0;
}
ul,
ol {
  margin-bottom: 1.5em;
  padding-left: 2.5em;
}
ul::after,
ol::after {
  content: "";
  display: table;
  clear: both;
}
ul ol,
ol ol,
ul ul,
ol ul {
  margin: 0.3em 0 1em;
}
ul li,
ol li {
  margin-bottom: 0.3em;
  color: #7d7d7d;
}
ul li::after,
ol li::after {
  content: "";
  display: table;
  clear: both;
}
ul {
  list-style-type: disc;
}
ul ul {
  list-style-type: circle;
}
ol {
  list-style-type: decimal;
}
ol ol {
  list-style-type: lower-latin;
}
dl {
  margin-bottom: 0.5em;
}
dl dd {
  margin-bottom: 0.3em;
}
dl dd + dd {
  margin-top: -0.5em;
}
dl.horizontal dt {
  float: left;
  clear: left;
  width: 28%;
}
dl.horizontal dd {
  margin-left: 30%;
}
[class*=" list-"],
[class^="list-"] {
  list-style-type: none;
  padding-left: 0;
}
ul.list-unstyled {
  zoom: 1;
}
ul.list-select {
  border: 1px solid #d3d3d3;
  min-height: calc(24px + 1em);
}
ul.list-select > li {
  padding: 0.5em;
  margin: 0;
  cursor: pointer;
}
ul.list-select > li + li {
  border-top: 1px solid #7d7d7d;
}
ul.list-select > li.active {
  background: #f0f0f0;
}
ul.list-select > li.active::after {
  content: "\e000";
  color: #4fc752;
  font-size: 1.45em;
  float: right;
}
ul.list-select > li:hover {
  background: #f0f0f0;
}
table {
  width: 100%;
  background-color: transparent;
  text-align: left;
  border: none;
}
@media only screen and (max-width: 768px) {
  table.resp-2-col td {
    display: block;
  }
}
table.tarifs-table {
  text-align: center;
}
table.tarifs-table tbody {
  font-weight: bold;
}
table.tarifs-table th,
table.tarifs-table td {
  vertical-align: middle;
}
table.tarifs-table td {
  border: 1px solid #00adc6;
}
table.tarifs-table td > p {
  font-size: 0.8em;
  font-weight: normal;
}
table.tarifs-table td > p:first-of-type {
  font-size: 1rem;
  font-weight: bold;
  color: inherit;
}
@media only screen and (min-width: 1024px) {
  table.tarifs-table tr:not(:last-child) .diag:not(.time-td) {
    background-image: linear-gradient(to bottom left, transparent calc(50% - 0.5px), #00adc6, transparent calc(50% + 0.5px));
  }
}
@media only screen and (max-width: 1024px) {
  table.tarifs-table tr:last-child .table-head {
    display: none;
  }
}
table th {
  font-size: 1.3rem;
  font-weight: bold;
}
table th p {
  font-size: 0.74em;
  color: #7d7d7d;
  font-weight: normal;
}
table th a {
  text-decoration: none;
  color: #4a4a4a;
}
table th a:hover {
  text-decoration: underline;
}
table th,
table td {
  padding: 1em 1.25em;
  vertical-align: top;
}
table .time-td {
  line-height: 1.5;
  text-transform: uppercase;
  color: #00adc6;
}
table .time-td time {
  display: block;
}
table th {
  border-top: 0;
}
table thead {
  background: transparent;
}
table tbody {
  font-weight: normal;
}
table tbody + tbody {
  border-top: 2px solid #dedede;
}
table tfoot {
  background: #d6d6d6;
}
table table {
  background-color: #fff;
}
table.table-outline {
  border: 1px solid #dedede;
}
table.table-outline th:last-child,
table.table-outline td:last-child {
  border-right: 1px solid #dedede;
}
table.condensed th,
table.condensed td {
  padding: 0.25em 0.5em;
}
table tr.disabled {
  color: #7d7d7d;
}
table.table-border_none {
  zoom: 1;
}
table.table-border_none th,
table.table-border_none td {
  border: none;
}
table.table-bordered {
  zoom: 1;
}
table.table-bordered th,
table.table-bordered td {
  border: 1px solid #dedede;
}
table.table-striped {
  zoom: 1;
}
table.table-striped > tr:nth-child(odd),
table.table-striped tbody tr:nth-child(even) {
  background-color: #f7f7f7;
}
table.table-hover {
  zoom: 1;
}
table.table-hover thead tr:hover,
table.table-hover tfoot tr:hover {
  background: inherit !important;
}
table.table-hover tr:hover {
  background-color: #ebebeb !important;
}
table.table-hover tr.primary:hover {
  background-color: #68cedd !important;
}
table.table-hover tr.success:hover {
  background-color: #92dc94 !important;
}
table.table-hover tr.error:hover {
  background-color: #ee8a8a !important;
}
table.table-hover tr.warning:hover {
  background-color: #ffd691 !important;
}
table.table-hover tr.info:hover {
  background-color: #7acef4 !important;
}
table.responsive {
  zoom: 1;
}
table.responsive .table-head {
  display: none;
}
@media only screen and (max-width: 1024px) {
  table.responsive {
    border: none;
  }
  table.responsive thead,
  table.responsive th {
    display: none;
  }
  table.responsive tr {
    display: block;
    border: 1px solid #dedede;
  }
  table.responsive tr + tr {
    margin-top: 1.5em;
  }
  table.responsive td {
    display: block;
    border-width: 0 !important;
    padding: 0.5em 4em;
  }
  table.responsive td + td {
    border-top-width: 1px !important;
  }
  table.responsive td:not(.time-td) {
    text-align: right;
    overflow: hidden;
  }
  table.responsive .table-head {
    display: block;
    float: left;
    font-size: 12px;
    border-bottom: 1px dashed;
    margin-bottom: 0.5em;
    margin-right: 0.5em;
    opacity: 0.75;
  }
}
@media only screen and (max-width: 768px) {
  table.responsive td {
    padding: 0.5em 0.5em;
  }
  table.responsive .time-td time {
    display: inline-block;
  }
}
tr.primary,
th.primary,
td.primary {
  color: #00424b;
  background-color: #7dd5e2 !important;
}
tr.success,
th.success,
td.success {
  color: #1e4c1f;
  background-color: #a5e2a7 !important;
}
tr.error,
th.error,
td.error {
  color: #571a1a;
  background-color: #f1a0a0 !important;
}
tr.warning,
th.warning,
td.warning {
  color: #614922;
  background-color: #ffdfaa !important;
}
tr.info,
th.info,
td.info {
  color: #0f435a;
  background-color: #91d7f6 !important;
}
img[style*="float: left"],
img[style*="float:left"] {
  margin-right: 15px;
}
img[style*="float: right"],
img[style*="float:right"] {
  margin-left: 15px;
}
.img-thumbnail img,
img.img-thumbnail {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  text-align: center;
  padding: 3px;
  background: transparent;
  transition: all 0.3s;
}
.img-circle img,
img.img-circle {
  border-radius: 50em;
}
.img-rounded img,
img.img-rounded {
  border-radius: 0.5em;
}
.img-leaflet-right img,
img.img-leaflet-right {
  border-radius: 50% 0;
}
.img-leaflet-left img,
img.img-leaflet-left {
  border-radius: 0 50%;
}
.btn,
button,
[type="submit"],
[type="button"],
[type="reset"] {
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  height: auto;
  line-height: 2.7em;
  padding: 0 1.5em;
  font-family: 'Lato', Arial, sans-serif;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  color: #FFF;
  border-color: #00759a;
  background-color: #00adc6;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-shadow: none;
  border: none;
  transition: background 0.3s;
}
.btn:hover,
button:hover,
[type="submit"]:hover,
[type="button"]:hover,
[type="reset"]:hover,
.btn:active,
button:active,
[type="submit"]:active,
[type="button"]:active,
[type="reset"]:active,
.btn.active,
button.active,
[type="submit"].active,
[type="button"].active,
[type="reset"].active {
  color: #FFF;
  border-color: #004e67;
  background-color: #008093;
}
.btn:active,
button:active,
[type="submit"]:active,
[type="button"]:active,
[type="reset"]:active,
.btn.active,
button.active,
[type="submit"].active,
[type="button"].active,
[type="reset"].active,
.btn:hover,
button:hover,
[type="submit"]:hover,
[type="button"]:hover,
[type="reset"]:hover,
.btn.touch,
button.touch,
[type="submit"].touch,
[type="button"].touch,
[type="reset"].touch {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3) inset;
}
.btn[disabled],
button[disabled],
[type="submit"][disabled],
[type="button"][disabled],
[type="reset"][disabled],
.btn.disabled,
button.disabled,
[type="submit"].disabled,
[type="button"].disabled,
[type="reset"].disabled {
  border-color: #7d7d7d !important;
  color: #7d7d7d !important;
  background-color: #f0f0f0 !important;
  cursor: not-allowed !important;
  box-shadow: none !important;
}
.btn[class*="grid_"],
[class*="column_"] > .btn {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.btn.rounded {
  border-radius: 0.25em;
}
.btn.circle {
  border-radius: 10em;
}
.btn.social::before {
  font-size: 1.5em;
}
.btn.inverse:hover,
.btn.inverse:active {
  color: #FFF;
  background-color: #008093;
}
.btn.warning {
  color: #FFF;
  border-color: #ff921f;
  background-color: #ffc159;
}
.btn.warning:hover,
.btn.warning:active,
.btn.warning.active {
  color: #FFF;
  border-color: #eb7900;
  background-color: #ffae26;
}
.btn.error {
  color: #FFF;
  border-color: #cc1313;
  background-color: #e44545;
}
.btn.error:hover,
.btn.error:active,
.btn.error.active {
  color: #FFF;
  border-color: #9d0e0e;
  background-color: #d71f1f;
}
.btn.success {
  color: #FFF;
  border-color: #189b1a;
  background-color: #4fc752;
}
.btn.success:hover,
.btn.success:active,
.btn.success.active {
  color: #FFF;
  border-color: #126f13;
  background-color: #37ac3a;
}
.btn.info {
  color: #FFF;
  border-color: #0679dc;
  background-color: #28b0ed;
}
.btn.info:hover,
.btn.info:active,
.btn.info.active {
  color: #FFF;
  border-color: #055eab;
  background-color: #1195d1;
}
.btn.inverse {
  color: #616161;
  background-color: #d6d6d6;
  border-color: #b4b4b4;
}
.btn.transparent {
  color: inherit;
  background-color: transparent;
  border: none;
}
.btn.transparent:hover,
.btn.transparent:active,
.btn.transparent.active {
  background: rgba(0, 0, 0, 0.1);
}
.btn.block {
  float: none;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}
.btn.block + .block {
  margin-top: 0.5em;
}
.btn::before {
  font-size: 1.25em;
}
.btn.icon {
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
  width: 2.7em;
  border-radius: 50em;
}
.btn.icon::before {
  width: 100%;
  float: left;
  margin: 0;
  line-height: inherit !important;
}
@media only screen and (max-width: 1024px) {
  .btn.t-icon {
    overflow: hidden;
    padding: 0;
    white-space: nowrap;
    width: 2.7em;
    border-radius: 50em;
  }
  .btn.t-icon::before {
    width: 100%;
    float: left;
    margin: 0;
    line-height: inherit !important;
  }
}
@media only screen and (max-width: 768px) {
  .btn.m-icon {
    overflow: hidden;
    padding: 0;
    white-space: nowrap;
    width: 2.7em;
    border-radius: 50em;
  }
  .btn.m-icon::before {
    width: 100%;
    float: left;
    margin: 0;
    line-height: inherit !important;
  }
}
.btn.outline {
  line-height: calc(2.7em - 4px);
  border: 2px solid;
  box-shadow: none;
  color: #00adc6;
  border-color: #00adc6;
  background-color: #FFF;
}
.btn.outline:hover,
.btn.outline:active,
.btn.outline.active {
  color: #FFF;
  border-color: #00adc6;
  background-color: #00adc6;
}
.btn.outline.inverse:hover,
.btn.outline.inverse:active {
  color: #FFF;
  border-color: #00adc6;
}
.btn.outline.warning {
  color: #ffc159;
  border-color: #ffc159;
  background-color: transparent;
}
.btn.outline.warning:hover,
.btn.outline.warning:active,
.btn.outline.warning.active {
  color: #FFF;
  border-color: #ffc159;
  background-color: #ffc159;
}
.btn.outline.error {
  color: #e44545;
  border-color: #e44545;
  background-color: transparent;
}
.btn.outline.error:hover,
.btn.outline.error:active,
.btn.outline.error.active {
  color: #FFF;
  border-color: #e44545;
  background-color: #e44545;
}
.btn.outline.success {
  color: #4fc752;
  border-color: #4fc752;
  background-color: transparent;
}
.btn.outline.success:hover,
.btn.outline.success:active,
.btn.outline.success.active {
  color: #FFF;
  border-color: #4fc752;
  background-color: #4fc752;
}
.btn.outline.info {
  color: #28b0ed;
  border-color: #28b0ed;
  background-color: transparent;
}
.btn.outline.info:hover,
.btn.outline.info:active,
.btn.outline.info.active {
  color: #FFF;
  border-color: #28b0ed;
  background-color: #28b0ed;
}
.btn.outline.white {
  color: #fff;
  border-color: #fff;
  background-color: transparent;
}
.btn.outline.white:hover,
.btn.outline.white:active,
.btn.outline.white.active {
  color: #000;
  border-color: #fff;
  background-color: #fff;
}
.btn.outline.inverse {
  color: #d6d6d6;
  border-color: #d6d6d6;
}
hr {
  clear: both;
  border: none;
  border-top: 1px solid #7d7d7d;
  line-height: 0;
  margin: 1em 0;
  background: #FFF;
  color: #7d7d7d;
}
hr.large {
  border-top-width: 2px;
}
hr.larger {
  border-top-width: 3px;
}
hr::before {
  content: attr(title);
  top: -0.6em;
  position: relative;
  line-height: 1.2em;
  color: inherit;
  max-width: 94%;
  margin: -0.5px 3% 0;
  padding: 0 0.75em;
  background: inherit;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  vertical-align: middle;
}
hr[class*="icon-"]::before,
hr[class^=" icon-"]::before {
  top: -0.5em;
}
hr.dashed {
  border-top-style: dashed;
}
hr.dotted {
  border-top-style: dotted;
}
.popup-overlay {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: 0;
  pointer-events: none;
  background: rgba(0, 0, 0, 0.3);
}
.popup-overlay:target {
  opacity: 0.99;
  z-index: 70;
  pointer-events: initial;
  display: block;
}
.popup-overlay:target ._popup {
  opacity: 1;
}
.popup-overlay .tabs_nav li {
  padding: 0 1em;
}
.popup-overlay ._popup {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 95%;
  margin-top: 20px;
  max-height: 900px;
  max-height: 90vh;
  overflow-y: scroll;
  padding: 15px;
  background-color: #f0f0f0;
  opacity: 1;
  z-index: 101;
  color: #4a4a4a;
  transition: all 0.3s linear;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-filter: blur(0);
}
@media only screen and (max-width: 768px) {
  .popup-overlay ._popup {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-top: 0;
    max-height: 100%;
    overflow-y: scroll;
    /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.popup-overlay ._popup.video-popup iframe,
.popup-overlay ._popup.video-popup video {
  width: auto;
}
@media only screen and (min-width: 1024px) {
  .popup-overlay ._popup.video-popup {
    padding: 40px;
    overflow-y: hidden;
  }
}
.popup-overlay ._popup.locations-popup iframe,
.popup-overlay ._popup.locations-popup video {
  width: 100%;
}
.popup-overlay ._popup.form-popup .grid_6 {
  margin-bottom: 30px;
}
@media only screen and (min-width: 1200px) {
  .popup-overlay ._popup.form-popup {
    max-width: 78%;
  }
  .popup-overlay ._popup.form-popup .grid_6 {
    margin-bottom: 0;
  }
}
.popup-overlay ._popup.form-popup ._title {
  padding-left: 15px;
}
.popup-overlay ._header {
  min-height: 40px;
  padding: 0 0 1em;
}
.popup-overlay ._header::after {
  content: "";
  display: table;
  clear: both;
}
.popup-overlay ._header h2 {
  margin-bottom: 0;
}
.popup-overlay ._header ._title {
  float: left;
  max-width: 80%;
  line-height: 1;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 300;
  color: #4a4a4a;
  text-align: left;
}
@media only screen and (min-width: 1024px) {
  .popup-overlay ._header ._title {
    font-size: 1.7vw;
  }
}
.popup-overlay ._header [class*="icon"] {
  height: 28px;
  width: 15%;
  display: block;
  z-index: 20;
  text-align: center;
  line-height: 1;
  float: right;
  margin: 0;
  font-size: 17px;
  color: #7d7d7d;
}
.popup-overlay ._header [class*="icon"]:hover {
  color: #222222;
}
@media only screen and (min-width: 1024px) {
  .popup-overlay ._header [class*="icon"] {
    width: 20px;
  }
}
.popup-overlay ._content::after {
  content: "";
  display: table;
  clear: both;
}
