.ui-state-error {
  background-color: #f1a0a0;
  border-color: #ec7b7b;
  color: #571a1a;
}
.ui-state-highlight {
  background-color: #91d7f6;
  border-color: #66c7f2;
  color: #0f435a;
}
.carousel {
  position: relative;
  max-width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.carousel .carousel-clip {
  overflow: hidden;
  height: 100%;
}
.carousel .carousel-wrap {
  font-size: 0;
  min-width: 100%;
}
.carousel .carousel-wrap .carousel-item {
  font-size: 18px;
  display: inline-block;
  vertical-align: top;
}
.carousel:hover .carousel-btn {
  display: block;
}
.carousel .carousel-btn {
  background: rgba(255, 255, 255, 0.75);
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 15;
  margin: auto;
  width: 3em;
  display: none;
  font-size: 18px;
}
.carousel .carousel-btn::before {
  font-family: flexkit-icons;
  font-size: 3em;
  line-height: 1;
  height: 1em;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.carousel .carousel-btn.prev {
  left: 0;
}
.carousel .carousel-btn.prev::before {
  content: "\e0a9";
}
.carousel .carousel-btn.next {
  right: 0;
}
.carousel .carousel-btn.next::before {
  content: "\e0a7";
}
.carousel .carousel-btn:hover {
  background: rgba(255, 255, 255, 0.9);
}
.smoke-base .smokebg {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.5);
}
.smoke-base.smoke-visible .dialog {
  background: inherit;
  border: inherit;
  box-shadow: 0 0 0 transparent;
}
.smoke-base .dialog {
  position: fixed;
  z-index: 1001;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
}
.smoke-base .dialog.primary .dialog-inner {
  color: #00424b;
  border-color: #4ac5d7;
  background-color: #7dd5e2;
}
.smoke-base .dialog.success .dialog-inner {
  color: #1e4c1f;
  border-color: #82d784;
  background-color: #a5e2a7;
}
.smoke-base .dialog.warning .dialog-inner {
  color: #614922;
  border-color: #ffd389;
  background-color: #ffdfaa;
}
.smoke-base .dialog.error .dialog-inner {
  color: #571a1a;
  border-color: #ec7b7b;
  background-color: #f1a0a0;
}
.smoke-base .dialog.info .dialog-inner {
  color: #0f435a;
  border-color: #66c7f2;
  background-color: #91d7f6;
}
.smoke-base .dialog li {
  margin: 0;
  list-style: none;
}
.smoke-base .dialog li + li {
  margin-top: 0.5em;
}
.smoke-base .dialog-inner {
  overflow: auto;
  margin-top: 15%;
  font-size: 1.25em;
  border: 1px solid #616161;
  background-color: #ffffff;
  display: inline-block;
  vertical-align: middle;
  box-shadow: 3px 3px 25px rgba(0, 0, 0, 0.25);
}
@media only screen and (min-width: 768px) {
  .smoke-base .dialog-inner {
    max-width: 75%;
    max-height: 70%;
    padding: 1em 2em;
  }
}
.smoke-base .dialog-buttons {
  margin-top: 1em;
}
.smoke-base .dialog-buttons button {
  font-size: 12px;
  color: #FFF;
  border-color: #189b1a;
  background-color: #4fc752;
}
.smoke-base .dialog-buttons button:hover,
.smoke-base .dialog-buttons button:active,
.smoke-base .dialog-buttons button.active {
  color: #FFF;
  border-color: #126f13;
  background-color: #37ac3a;
}
.smoke-base .dialog-buttons button.cancel {
  margin-right: 0.5em;
  color: #FFF;
  border-color: #cc1313;
  background-color: #e44545;
}
.smoke-base .dialog-buttons button.cancel:hover,
.smoke-base .dialog-buttons button.cancel:active,
.smoke-base .dialog-buttons button.cancel.active {
  color: #FFF;
  border-color: #9d0e0e;
  background-color: #d71f1f;
}
.tab_nav {
  list-style-type: none;
  padding: 0;
  font-size: 0;
}
.tab_nav > * {
  font-size: 18px;
  display: inline-block;
  vertical-align: middle;
}
.tab_nav li {
  display: block;
  padding: 0;
  font-size: 1rem;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  color: #00adc6;
}
.tab_nav li.active,
.tab_nav li:hover {
  color: #4a4a4a;
}
@media only screen and (min-width: 768px) {
  .tab_nav li {
    display: inline-block;
  }
  .tab_nav li + li {
    padding-left: 0.5rem;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1665px) {
  .tab_nav.resp li {
    font-size: 1.2vw;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .tab_nav.resp li {
    font-size: 1.65vw;
  }
}
.tab_nav.full li {
  display: inline-block;
  width: 50%;
  text-align: center;
  line-height: 2.5;
}
@media only screen and (max-width: 768px) {
  .tab_nav.full li {
    line-height: 1.5;
  }
}
.tab_nav.underline {
  margin-bottom: 2rem;
  border-bottom: 2px solid #FFF;
}
.tab_nav.underline li {
  margin-bottom: -2px;
  border-bottom: 2px solid transparent;
}
.tab_nav.underline li.active {
  border-bottom-color: #00adc6;
}
.ui-dialog {
  position: absolute;
  z-index: 100;
  padding: 0;
  border-width: 0;
  border-style: solid;
  border-color: #0097ad;
  background-color: #fff;
  max-width: 90%;
  color: inherit;
  box-shadow: 4px 4px 4px #222222;
}
.ui-effects-wrapper .ui-dialog {
  max-width: none;
}
.ui-dialog[aria-describedby="contact-dialog"] {
  height: 100vh !important;
  right: 0 !important;
  width: 400px !important;
  left: initial !important;
  position: fixed !important;
  z-index: 1000 !important;
}
@media only screen and (max-width: 768px) {
  .ui-dialog[aria-describedby="contact-dialog"] {
    width: 100% !important;
    max-width: 100% !important;
  }
}
.ui-dialog[aria-describedby="contact-dialog"] .ui-dialog-titlebar {
  background-color: transparent;
  overflow: visible;
}
.ui-dialog[aria-describedby="contact-dialog"] .ui-dialog-titlebar .ui-dialog-titlebar-close {
  color: #00adc6;
  background-color: white;
  border-radius: 50%;
  margin: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}
.ui-dialog[aria-describedby="contact-dialog"] .ui-dialog-titlebar .ui-dialog-titlebar-close::before {
  font-size: 12px !important;
  width: initial;
  height: initial;
}
.ui-dialog[aria-describedby="contact-dialog"] #contact-dialog {
  height: auto !important;
}
.ui-dialog.fixed {
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-filter: blur(0);
}
.ui-dialog .ui-dialog-titlebar {
  font-size: 1.25em;
  background: #00adc6;
  color: #FFF;
  padding: 10px 16px;
  position: relative;
  line-height: 1.65;
}
.ui-dialog.ui-draggable .ui-dialog-titlebar {
  cursor: move;
}
.ui-dialog .ui-dialog-title {
  display: block;
  margin-right: 10px;
}
.ui-dialog .ui-dialog-titlebar-close {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  border: none;
  margin: auto;
  padding: 10px;
  background: transparent;
  color: #FFF;
  box-sizing: content-box;
  width: 16px;
  height: 16px;
  line-height: 16px;
  font-size: 0;
}
.ui-dialog .ui-dialog-titlebar-close:hover {
  color: #e44545;
}
.ui-dialog .ui-dialog-titlebar-close::before {
  font-size: 16px;
}
.ui-dialog .ui-dialog-titlebar-close::before {
  font-family: flexkit-icons;
  speak: none;
  font-style: normal;
  font-weight: normal;
  text-transform: none;
  line-height: 1;
  position: relative;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e0a2";
}
.ui-dialog .ui-dialog-titlebar-close .ui-button-text {
  display: none;
}
.ui-dialog .ui-dialog-content {
  position: relative;
  border: 0;
  padding: 10px 16px;
  overflow: auto;
}
.ui-dialog .ui-dialog-content.visible {
  overflow: visible;
}
.ui-dialog .ui-dialog-buttonpane {
  overflow: hidden;
  text-align: left;
  border-width: 1px 0 0 0;
  background-image: none;
  padding: 8px 16px;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
  float: right;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonpane button {
  margin: 0.5em 0.4em 0.5em 0;
  cursor: pointer;
}
.ui-dialog .ui-resizable-handle {
  position: absolute;
  font-size: 0.1px;
  display: block;
}
.ui-dialog .ui-resizable-n {
  cursor: n-resize;
  height: 7px;
  width: 100%;
  top: -5px;
  left: 0;
}
.ui-dialog .ui-resizable-e {
  cursor: e-resize;
  width: 7px;
  right: -5px;
  top: 0;
  height: 100%;
}
.ui-dialog .ui-resizable-s {
  cursor: s-resize;
  height: 7px;
  width: 100%;
  bottom: -5px;
  left: 0;
}
.ui-dialog .ui-resizable-w {
  cursor: w-resize;
  width: 7px;
  left: -5px;
  top: 0;
  height: 100%;
}
.ui-dialog .ui-resizable-se {
  cursor: se-resize;
  width: 12px;
  height: 12px;
  right: -5px;
  bottom: -5px;
}
.ui-dialog .ui-resizable-sw {
  cursor: sw-resize;
  width: 9px;
  height: 9px;
  left: -5px;
  bottom: -5px;
}
.ui-dialog .ui-resizable-ne {
  cursor: ne-resize;
  width: 9px;
  height: 9px;
  right: -5px;
  top: -5px;
}
.ui-dialog .ui-resizable-nw {
  cursor: nw-resize;
  width: 9px;
  height: 9px;
  left: -5px;
  top: -5px;
}
.ui-dialog.success .ui-dialog-titlebar,
.ui-dialog.warning .ui-dialog-titlebar,
.ui-dialog.error .ui-dialog-titlebar,
.ui-dialog.info .ui-dialog-titlebar {
  color: #FFFFFF;
}
.ui-dialog.success {
  border-color: #4fc752;
}
.ui-dialog.success .ui-dialog-titlebar {
  background: #4fc752;
}
.ui-dialog.warning {
  border-color: #ffc159;
}
.ui-dialog.warning .ui-dialog-titlebar {
  background: #ffc159;
}
.ui-dialog.error {
  border-color: #e44545;
}
.ui-dialog.error .ui-dialog-titlebar {
  background: #e44545;
}
.ui-dialog.error .ui-dialog-titlebar .ui-dialog-titlebar-close:hover {
  color: #c11c1c;
}
.ui-dialog.info {
  border-color: #28b0ed;
}
.ui-dialog.info .ui-dialog-titlebar {
  background: #28b0ed;
}
.tooltip {
  cursor: help;
}
a.tooltip {
  cursor: pointer;
}
.chosen-select {
  width: 100%;
}
.chosen-select-deselect {
  width: 100%;
}
.dataTables_wrapper {
  width: 100%;
}
.dataTables_wrapper .dataTables_filter {
  padding: 5px;
  text-align: right;
  font-size: 0.74em;
}
.dataTables_wrapper .dataTables_filter label input {
  margin-left: 5px;
  width: 250px;
}
.dataTables_wrapper .sorting,
.dataTables_wrapper .sorting_asc,
.dataTables_wrapper .sorting_desc {
  cursor: pointer;
  position: relative;
  padding-right: 16px;
  border-left: 1px solid #dedede;
}
.dataTables_wrapper .sorting::after,
.dataTables_wrapper .sorting_asc::after,
.dataTables_wrapper .sorting_desc::after {
  font-family: flexkit-icons;
  speak: none;
  font-style: normal;
  font-weight: normal;
  text-transform: none;
  line-height: 1;
  position: relative;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e0b6";
  font-size: 16px;
  height: 16px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
.dataTables_wrapper .sorting_asc::after {
  content: "\e0b5";
}
.dataTables_wrapper .sorting_desc::after {
  content: "\e0b2";
}
.dataTables_wrapper .dataTables_empty {
  text-align: center;
}
.dataTables_paginate {
  margin-top: 1em;
  float: right;
  font-size: 12px;
}
.dataTables_paginate .paginate_button {
  background: #f0f0f0;
  margin: 0 0.25em;
  padding: 0.25em 0.75em;
  min-width: 2em;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  color: #222222;
}
.dataTables_paginate .paginate_button:hover {
  background: #e8e8e8;
}
.dataTables_paginate .paginate_button.disabled,
.dataTables_paginate .paginate_button.current {
  cursor: default;
  color: #e3e3e3;
  background: #f7f7f7;
}
.dataTables_paginate .paginate_button.current {
  font-weight: bold;
  background: #57d3e5;
  color: #fff;
}
.dataTables_paginate .paginate_button.first::before,
.dataTables_paginate .paginate_button.last::before,
.dataTables_paginate .paginate_button.previous::before,
.dataTables_paginate .paginate_button.next::before,
.dataTables_paginate .paginate_button.first::after,
.dataTables_paginate .paginate_button.last::after,
.dataTables_paginate .paginate_button.previous::after,
.dataTables_paginate .paginate_button.next::after {
  font-family: flexkit-icons;
  speak: none;
  font-style: normal;
  font-weight: normal;
  text-transform: none;
  line-height: 1;
  position: relative;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.dataTables_paginate .paginate_button.first,
.dataTables_paginate .paginate_button.last {
  font-weight: bold;
}
.dataTables_paginate .paginate_button.first::before,
.dataTables_paginate .paginate_button.last::before,
.dataTables_paginate .paginate_button.first::after,
.dataTables_paginate .paginate_button.last::after {
  font-size: 15px;
  font-weight: bold;
}
.dataTables_paginate .paginate_button.first::before,
.dataTables_paginate .paginate_button.previous::before {
  content: "\e0b1";
}
.dataTables_paginate .paginate_button.last::after,
.dataTables_paginate .paginate_button.next::after {
  content: "\e0af";
}
.responsive-ratio {
  position: relative;
  overflow: hidden;
  padding: 0;
  display: block;
  height: auto !important;
}
.responsive-ratio::before {
  display: block;
  content: " ";
}
._16x9.responsive-ratio::before {
  padding-bottom: 56.25%;
}
._9x16.responsive-ratio::before {
  padding-bottom: 177.77777778%;
}
._4x3.responsive-ratio::before {
  padding-bottom: 75%;
}
._3x4.responsive-ratio::before {
  padding-bottom: 133.33333333%;
}
._1x1.responsive-ratio::before {
  padding-bottom: 100%;
}
.responsive-ratio iframe,
.responsive-ratio object,
.responsive-ratio embed,
.responsive-ratio video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.responsive-ratio > img,
.responsive-ratio ._lbox img,
.responsive-ratio .gall img {
  position: absolute !important;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  min-height: 100% !important;
  min-width: 100% !important;
  width: auto;
  height: auto;
}
._9x16.responsive-ratio > img,
._3x4.responsive-ratio > img,
._1x1.responsive-ratio > img {
  max-width: none;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
.responsive-ratio.bottom > img,
.responsive-ratio.bottom ._lbox img,
.responsive-ratio.bottom .gall img {
  min-height: 0 !important;
  top: auto;
}
.responsive-ratio.top > img,
.responsive-ratio.top ._lbox img,
.responsive-ratio.top .gall img {
  min-height: 0 !important;
  bottom: auto;
}
