.listpages,
.listcategories,
.featureditem,
.relatedpages,
.related-products {
  font-size: 0;
}
.listpages li,
.listcategories li,
.featureditem li,
.relatedpages li,
.related-products li {
  font-size: 18px;
  display: inline-block;
  vertical-align: top;
}
.main_menu {
  position: relative;
  z-index: 11;
  text-align: center;
  color: #616161;
}
.top-main .main_menu > li {
  font-size: 1.25vw;
}
.top-main .main_menu > li a {
  padding: 8px 1.4vw;
}
@media only screen and (min-width: 1600px) {
  .top-main .main_menu > li {
    font-size: 1.35vw;
  }
}
.top-main-fixed .top-main .main_menu > li {
  font-size: 1.15vw;
}
.inside .top-main .main_menu > li {
  font-size: 1vw;
}
.inside .top-main .main_menu > li a {
  padding: 8px 20px;
}
@media only screen and (min-width: 1600px) {
  .inside .top-main .main_menu > li {
    font-size: 1vw;
  }
}
.main_menu > li {
  display: inline-block;
  vertical-align: bottom;
  position: relative;
  font-weight: 600;
  font-size: 1.4vw;
  text-align: center;
}
.main_menu > li a {
  border-bottom: 2px solid transparent;
  transition: border-color 0.3s;
}
.main_menu > li:hover,
.main_menu a.current {
  color: #000;
}
.main_menu > li:hover > a {
  border-bottom: 2px solid #00adc6;
}
.main_menu > li:hover ul {
  text-align: left;
  display: block;
}
.main_menu a {
  display: block;
  padding: 8px 0;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.74em;
  color: inherit;
}
.main_menu ul {
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 0;
  display: none;
  min-width: 200px;
  white-space: nowrap;
  background: #FFF;
  box-shadow: 0 3px 5px #4a4a4a;
}
.main_menu ul li {
  float: none;
}
.main_menu ul li:hover,
.main_menu ul li a.current {
  background: #f0f0f0;
  color: #4a4a4a;
}
.static_menu {
  overflow: hidden;
}
.static_menu li {
  float: left;
  padding: 0 8px;
}
.static_menu li + li {
  border-left: 1px solid #616161;
}
.featureapage .page-teaser-image,
.featureditem li .page-teaser-image,
.relatedpages li .page-teaser-image {
  overflow: hidden;
}
.featureditem.featured-offers-main,
.featureditem.featured-services {
  margin-left: -15px;
  margin-right: -15px;
}
.featureditem .page-teaser-image img {
  width: 100%;
}
.featureditem span[class*="icon-"] {
  display: inline-block;
  font-size: 0.65rem;
}
.bottom-featured .featureditem {
  font-size: 0;
}
.bottom-featured .featureditem > * {
  font-size: 18px;
  display: inline-block;
  vertical-align: middle;
}
.bottom-featured .featureditem li {
  padding-left: 15px;
  padding-right: 15px;
  width: calc(100% / 4);
  vertical-align: top;
  margin-bottom: 30px;
}
@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .bottom-featured .featureditem li {
    width: calc(100% / 4);
  }
}
@media only screen and (max-width: 768px) {
  .bottom-featured .featureditem li {
    width: calc(100% / 1);
  }
}
.bottom-featured .featureditem li:hover .page-title {
  padding: 6px 1.5em;
  -webkit-transform: translate(0, 30px);
  -ms-transform: translate(0, 30px);
  transform: translate(0, 30px);
}
.bottom-featured .featureditem .page-current {
  display: none;
}
.bottom-featured .featureditem .page-title,
.bottom-services .featureditem .page-title {
  position: absolute;
  bottom: 30px;
  margin: 0;
  padding: 0.5em 1.5em;
  font-size: 1rem;
  text-transform: uppercase;
  color: #fff;
  background: rgba(0, 173, 198, 0.6);
  transition: all, 0.6s;
}
@media only screen and (min-width: 1024px) {
  .bottom-featured .featureditem .page-title,
  .bottom-services .featureditem .page-title {
    font-size: 1.25vw;
  }
}
.bottom-services .featureditem {
  font-size: 0;
}
.bottom-services .featureditem > * {
  font-size: 18px;
  display: inline-block;
  vertical-align: middle;
}
.bottom-services .featureditem li {
  padding-left: 15px;
  padding-right: 15px;
  width: calc(100% / 2);
  vertical-align: top;
  margin-bottom: 30px;
}
@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .bottom-services .featureditem li {
    width: calc(100% / 2);
  }
}
@media only screen and (max-width: 768px) {
  .bottom-services .featureditem li {
    width: calc(100% / 1);
  }
}
.bottom-services .featureditem li:hover .page-title {
  padding: 6px 1.5em;
  -webkit-transform: translate(0, 30px);
  -ms-transform: translate(0, 30px);
  transform: translate(0, 30px);
}
.bottom-services .featureditem .page-title {
  left: 15px;
  right: 15px;
  background: rgba(0, 173, 198, 0.45);
}
.bottom-services .featureditem .category-current {
  display: none;
}
.services-featured .featureditem {
  padding-bottom: calc(3vw - 30px);
  font-size: 0;
}
.services-featured .featureditem li {
  position: relative;
  display: inline-block;
  margin-bottom: 30px;
  font-size: 1rem;
  vertical-align: top;
  padding-left: 15px;
  padding-right: 15px;
  width: calc(100% / 3);
}
@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .services-featured .featureditem li {
    width: calc(100% / 1);
  }
}
@media only screen and (max-width: 768px) {
  .services-featured .featureditem li {
    width: calc(100% / 1);
  }
}
.services-featured .featureditem li:hover .page-title:after {
  left: calc(50% - 0.5vw);
  opacity: 1;
}
@media only screen and (max-width: 768px) {
  .services-featured .featureditem li {
    padding-left: 0;
    padding-right: 0;
  }
}
.services-featured .featureditem .page-teaser-image {
  position: relative;
  transition: opacity, 0.4s;
}
.services-featured .featureditem .page-teaser-image:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  height: 55vw;
  width: 55vw;
  border-radius: 50em;
  font-size: 1em;
  color: #FFF;
  pointer-events: none;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-filter: blur(0);
  background: rgba(0, 173, 198, 0.6);
}
@media only screen and (min-width: 1024px) {
  .services-featured .featureditem .page-teaser-image:before {
    height: 17vw;
    width: 17vw;
  }
}
.services-featured .featureditem .page-title {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 40%;
  color: #FFF;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 0.9em;
  line-height: 1.35em;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-filter: blur(0);
}
.services-featured .featureditem .page-title:after {
  content: '\e901';
  position: absolute;
  bottom: -2.5em;
  left: 25%;
  opacity: 0;
  font-family: flexkit-icons;
  speak: none;
  font-style: normal;
  font-weight: normal;
  text-transform: none;
  line-height: 1;
  text-align: center;
  font-size: 1em;
  display: inline-block;
  vertical-align: middle;
  transition: left 0.4s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media only screen and (min-width: 768px) {
  .services-featured .featureditem .page-title {
    font-size: 1.3em;
  }
}
@media only screen and (min-width: 1024px) {
  .services-featured .featureditem .page-title {
    font-size: 1.3vw;
  }
}
.main-featured .featureditem {
  font-size: 0;
}
.main-featured .featureditem li {
  position: relative;
  display: inline-block;
  margin-bottom: 30px;
  font-size: 1rem;
  vertical-align: top;
  padding-left: 15px;
  padding-right: 15px;
  width: calc(100% / 3);
}
.main-featured .featureditem li:nth-child(-n + 2) {
  padding-left: 15px;
  padding-right: 15px;
  width: calc(100% / 2);
}
@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .main-featured .featureditem li:nth-child(-n + 2) {
    width: calc(100% / 2);
  }
}
@media only screen and (max-width: 768px) {
  .main-featured .featureditem li:nth-child(-n + 2) {
    width: calc(100% / 1);
  }
}
@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .main-featured .featureditem li {
    width: calc(100% / 2);
  }
}
@media only screen and (max-width: 768px) {
  .main-featured .featureditem li {
    width: calc(100% / 1);
  }
}
.main-featured .featureditem li:after {
  content: "Scopri di pi? \2192";
  position: absolute;
  z-index: 1;
  left: 30px;
  bottom: 15px;
  pointer-events: none;
  font-size: 0.8em;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  height: auto;
  line-height: 2.7em;
  padding: 0 1.5em;
  font-family: 'Lato', Arial, sans-serif;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  color: #FFF;
  border-color: #00759a;
  background-color: #00adc6;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-shadow: none;
  border: none;
  transition: background 0.3s;
  background: rgba(0, 173, 198, 0.6);
}
.main-featured .featureditem li:after:hover,
.main-featured .featureditem li:after:active,
.main-featured .featureditem li:after.active {
  color: #FFF;
  border-color: #004e67;
  background-color: #008093;
}
.main-featured .featureditem li:after:active,
.main-featured .featureditem li:after.active,
.main-featured .featureditem li:after:hover,
.main-featured .featureditem li:after.touch {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3) inset;
}
@media only screen and (min-width: 1024px) {
  .main-featured .featureditem li:after {
    font-size: 1vw;
    left: 45px;
    bottom: 30px;
  }
}
.main-featured .featureditem li:hover .page-teaser-image:before,
.main-featured .featureditem li .touch .page-teaser-image:before {
  background: rgba(0, 0, 0, 0.3);
}
.main-featured .featureditem li:hover .page-title,
.main-featured .featureditem li .touch .page-title {
  top: 10%;
}
.main-featured .featureditem li:hover .page-title + span,
.main-featured .featureditem li .touch .page-title + span {
  opacity: 1;
  top: 30%;
}
.main-featured .featureditem li .page-teaser-image {
  position: relative;
}
.main-featured .featureditem li .page-teaser-image img {
  display: block;
  min-height: 287px;
}
.main-featured .featureditem li .page-teaser-image:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  transition: background, 0.4s;
}
.main-featured .featureditem li .page-title {
  position: absolute;
  left: 30px;
  top: 50%;
  font-size: 1.65em;
  color: #FFF;
  text-transform: uppercase;
  font-weight: 300;
  transition: top, 0.4s;
}
.main-featured .featureditem li .page-title + span {
  position: absolute;
  left: 30px;
  top: 85%;
  font-size: 1em;
  opacity: 0;
  color: #FFF;
  transition: top 0.4s, opacity 0.4s;
}
@media only screen and (min-width: 1024px) {
  .main-featured .featureditem li .page-title + span {
    font-size: 1vw;
    left: 45px;
  }
}
@media only screen and (min-width: 1024px) {
  .main-featured .featureditem li .page-title {
    left: 45px;
    font-size: 2em;
    font-size: 2.4vw;
  }
}
.featureapage {
  position: relative;
}
.featureapage img {
  display: block;
  transition: opacity 0.6s;
}
.featureapage .tpopup {
  position: absolute;
  top: 0;
  left: 0;
}
.featureapage .page-teaser-image img {
  opacity: 1;
  transition: opacity 0.6s;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.featureapage .page-title {
  display: none;
}
.featureapage li {
  display: block;
}
.featureapage p,
.featureapage span {
  position: absolute;
  bottom: 30px;
  width: 90%;
  padding: 15px 30px;
  font-size: 1.3em;
  line-height: 1.3em;
  font-weight: 300;
  text-transform: uppercase;
  color: #FFF;
  pointer-events: none;
  transition: all 0.6s;
  background: rgba(0, 173, 198, 0.6);
}
@media only screen and (min-width: 1024px) {
  .featureapage p,
  .featureapage span {
    padding: 20px 30px;
    font-size: 1.65em;
    font-size: 2.1vw;
  }
}
@media only screen and (min-width: 768px) {
  .featureapage p,
  .featureapage span {
    font-size: 1.65em;
  }
}
.featureapage p .tpopup,
.featureapage span .tpopup {
  position: absolute;
  top: 0;
  left: 0;
}
.featureapage:hover img,
.featureapage .touch img {
  opacity: 0.8;
}
.featureapage:hover p,
.featureapage .touch p,
.featureapage:hover span,
.featureapage .touch span {
  padding: 6px 30px;
  -webkit-transform: translate(0, 30px);
  -ms-transform: translate(0, 30px);
  transform: translate(0, 30px);
}
.listpages li,
.listcategories li {
  margin-bottom: 30px;
}
.listpages .page-teaser-image,
.listcategories .page-teaser-image {
  float: left;
  margin-right: 3%;
  width: 150px;
  overflow: hidden;
}
aside .listpages li,
aside .listcategories li,
aside .featureditem li,
aside .featureapage,
aside .relatedpages li {
  width: 100%;
  margin: 0 0 2em;
}
aside .listpages li .page-teaser-image,
aside .listcategories li .page-teaser-image,
aside .featureditem li .page-teaser-image,
aside .featureapage .page-teaser-image,
aside .relatedpages li .page-teaser-image {
  width: 100%;
  float: none;
  margin: 0 0 0.5em;
}
aside .listpages li span,
aside .listcategories li span,
aside .featureditem li span,
aside .featureapage span,
aside .relatedpages li span,
aside .listpages li p,
aside .listcategories li p,
aside .featureditem li p,
aside .featureapage p,
aside .relatedpages li p {
  font-size: 0.74em;
  line-height: 1.25;
}
.news-item .newslog-admin-actions {
  text-align: right;
}
.news-item .news-item-date {
  color: #707070;
}
.news-item .news-item-date::before {
  top: 2px;
  font-size: 16px;
  color: #00adc6;
}
.news-item .news-item-tags a {
  color: #616161;
}
.news-item .news-item-tags a:hover {
  color: #141414;
}
.news-item .news-item-tags a + a {
  margin-left: 0.5em;
}
.news-item .news-item-tags a::before {
  color: #616161;
  margin-right: 0.5em;
}
.news-item .newslog-tag-filter::before {
  content: "\e023";
}
@media (min-width: 1025px) {
  body .mobile-bar,
  body .mobile-menu {
    display: none;
  }
}
@media only screen and (max-width: 1024px) {
  body {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  body[data-menu-open],
  body[data-overlay] {
    overflow: hidden;
  }
  body[data-menu-open]::after,
  body[data-overlay]::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 91;
  }
  [data-menu-open]::after,
  [data-overlay]::after {
    background: rgba(0, 0, 0, 0.5);
  }
}
.mobile-bar {
  position: fixed;
  left: 0;
  right: 0;
  height: 48px;
  z-index: 61;
  font-family: "Roboto", Tahoma, Arial;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.mobile-bar::after {
  content: "";
  display: table;
  clear: both;
}
.mobile-bar.top {
  top: 0;
  color: #FFF;
  background: #00adc6;
}
.mobile-bar.top .btn.icon {
  width: 48px;
  height: 48px;
  line-height: 48px;
  border-radius: 0;
}
.mobile-bar.bottom {
  bottom: 0;
  line-height: 48px;
  color: #FFF;
  background: #FFFFFF;
  box-shadow: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}
.mobile-bar.bottom > * {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  text-align: center;
  font-size: 12px;
}
.mobile-bar.bottom a {
  text-decoration: none;
  color: #474747;
}
.mobile-bar.bottom .btn.icon {
  width: 48px;
}
@media only print {
  .mobile-bar {
    display: none;
  }
}
.mobile-bar .title {
  font-size: 20px;
  padding: 0 calc(72px -  48px );
  margin-right: auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.mobile-bar .btn::before {
  margin: initial;
  font-size: 18px;
}
.tabs {
  display: none;
}
.menu-btn:hover,
.menu-btn.active {
  background: rgba(0, 0, 0, 0.1);
}
.sub-menu-btn {
  width: 48px;
  text-align: center;
  color: #FFF;
  font-size: 1.25em;
  position: absolute;
  right: 0;
  top: 0;
}
.sub-menu-btn::before {
  content: "\e182";
  font-family: flexkit-icons;
  color: #7d7d7d;
  font-size: 1.1rem;
}
@media only screen and (max-width: 1024px) {
  .mobile-menu {
    z-index: 63;
    transition: all 0.3s;
  }
  .mobile-menu.top {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  .mobile-menu.bottom {
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
  }
  .mobile-menu.left {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  .mobile-menu.right {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }
  [data-menu-open] .mobile-menu {
    box-shadow: 0 0 30px #4a4a4a;
  }
  [data-menu-open="left"] .mobile-menu.left,
  [data-menu-open="right"] .mobile-menu.right {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  [data-menu-open="top"] .mobile-menu.top,
  [data-menu-open="bottom"] .mobile-menu.bottom {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  .menu-btn.active {
    background: rgba(0, 0, 0, 0.05);
  }
  .menu-btn.left.active::before {
    margin-left: -9.6px;
    margin-right: 14.4px;
  }
  .menu-btn.right {
    padding-right: 0;
  }
  .menu-btn.right.active::before {
    margin-right: -9.6px;
    margin-left: 14.4px;
  }
}
.m-menu {
  width: 260px;
  position: fixed;
  z-index: 92;
  overflow: auto;
  background: #ffffff;
  display: none;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}
.m-menu:not(.dropdown) {
  top: 0;
  bottom: 0;
}
.m-menu:not(.dropdown).left {
  left: 0;
}
.m-menu:not(.dropdown).right {
  right: 0;
}
.m-menu.dropdown {
  width: 250px;
  overflow: auto;
  max-height: 70%;
}
.m-menu.dropdown.top {
  top: 10px;
  bottom: auto;
}
.m-menu.dropdown.bottom {
  bottom: 10px;
  top: auto;
}
.m-menu.dropdown.right {
  right: 10px;
  left: auto;
}
.m-menu.dropdown.left {
  left: 10px;
  right: auto;
}
.m-menu.open {
  display: block;
}
.m-menu .menu-top-header {
  height: 48px;
  border-bottom: 1px solid #f2f2f2;
}
.m-menu ul {
  position: relative;
}
.m-menu ul ul {
  display: none;
  background: rgba(0, 0, 0, 0.03);
}
.m-menu ul ul a {
  padding-left: 48px;
}
.m-menu ul.open {
  display: block !important;
}
.m-menu li {
  float: none;
  display: block;
  border-bottom: 1px solid #f7f7f7;
  line-height: 48px;
  font-weight: bold;
  position: relative;
  text-align: left;
}
.m-menu li a {
  padding: 0 16px;
  font-size: 0.9rem;
  text-decoration: none;
  color: inherit;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.m-menu li a:hover,
.m-menu li a.current {
  background: #f2f2f2;
  color: #00adc6;
}
.m-menu li:hover {
  color: inherit;
}
.m-menu li:hover ul {
  display: none;
}
.m-menu li li {
  border: none;
}
.m-menu li li + li {
  border-top: 1px solid #f2f2f2;
}
