/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
  font-size: 18px;
  font-family: 'Lato', Arial, sans-serif;
  line-height: 1.65;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
body {
  margin: 0;
  -webkit-font-smoothing: subpixel-antialiased !important;
  background: #f0f0f0;
  color: #4a4a4a;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
.hidden,
[hidden],
template {
  display: none !important;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
table pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button:focus,
html input[type="button"]:focus,
[type="reset"]:focus,
[type="submit"]:focus {
  box-shadow: none;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: none;
  margin: 0;
}
legend {
  border: 0;
  padding: 0 0.75em;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
@media only screen and (min-width: 1940px) {
  html,
  body {
    font-size: 1.25em;
  }
}
* {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
::-moz-selection {
  background: #00adc6;
  color: #FFF;
}
::selection {
  background: #00adc6;
  color: #FFF;
}
blockquote,
q {
  quotes: none;
}
blockquote::before,
q::before,
blockquote::after,
q::after {
  content: none;
}
em {
  font-style: italic;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
a:focus,
[type="checkbox"]:focus,
[type="radio"]:focus,
*:focus {
  outline: none;
}
a,
[type="submit"],
[type="button"],
button,
[type="checkbox"],
[type="radio"] {
  cursor: pointer;
}
img,
[type="checkbox"],
[type="radio"] {
  vertical-align: middle;
}
img {
  max-width: 100%;
  width: 100%;
  height: auto;
}
iframe {
  display: block;
  border: none;
  max-width: 100%;
}
.gall {
  display: inline-block;
  vertical-align: middle;
}
.gmaps {
  color: #000;
  max-width: 100%;
}
.gmaps img {
  max-width: none;
}
.ltr {
  direction: ltr;
  unicode-bidi: bidi-override;
}
.rtl {
  direction: rtl;
  unicode-bidi: bidi-override;
}
.tpopup {
  position: relative;
  z-index: 11;
}
[contenteditable="true"] {
  display: inline-block;
  vertical-align: middle;
  background: #fff;
  border: 1px solid #d3d3d3;
  cursor: text;
  padding: 2px 6px;
}
dl,
dt,
dd {
  margin: 0;
}
input,
select,
textarea,
button {
  max-width: 100%;
  width: 100%;
}
input::-webkit-input-placeholder,
select::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
button::-webkit-input-placeholder {
  color: #e6e6e6;
}
input::-moz-placeholder,
select::-moz-placeholder,
textarea::-moz-placeholder,
button::-moz-placeholder {
  color: #e6e6e6;
}
input:-ms-input-placeholder,
select:-ms-input-placeholder,
textarea:-ms-input-placeholder,
button:-ms-input-placeholder {
  color: #e6e6e6;
}
input:placeholder,
select:placeholder,
textarea:placeholder,
button:placeholder {
  color: #e6e6e6;
}
button,
[type="file"],
[type="image"],
[type="submit"],
[type="reset"],
[type="button"],
[type="radio"],
[type="checkbox"] {
  width: auto;
}
[type="file"] {
  border: none;
  padding: 0;
}
[type="color"] {
  padding: 0;
}
textarea {
  vertical-align: top;
  line-height: normal;
  resize: none;
}
[type="checkbox"],
[type="radio"] {
  border: none;
  height: auto;
}
[type="checkbox"]:focus,
[type="radio"]:focus {
  box-shadow: none !important;
}
select[multiple],
select[size] {
  height: auto;
}
select optgroup {
  font-style: inherit;
  font-size: inherit;
  font-family: inherit;
}
.main_menu::after,
.listpages::after,
.listcategories::after,
.featureditem::after,
.featureapage::after,
.search-results::after,
.relatedpages::after,
.listxrss::after,
.related-products::after {
  content: "";
  display: table;
  clear: both;
}
::i-block-chrome,
.main_menu,
::i-block-chrome,
.listpages,
::i-block-chrome,
.listcategories,
::i-block-chrome,
.featureditem,
::i-block-chrome,
.search-results,
::i-block-chrome,
.relatedpages,
::i-block-chrome,
.listxrss,
::i-block-chrome,
.related-products {
  display: table;
  width: 100%;
}
.main_menu,
.main_menu li,
.main_menu ul,
.main_menu ul li,
.sitemap,
.sitemap li,
.listpages,
.listpages li,
.listcategories,
.listcategories li,
.featureditem,
.featureditem li,
.featureapage,
.relatedpages,
.relatedpages li,
.listxrss,
.listxrss li,
.search-results,
.search-results li,
.img_gallery,
.img_gallery li,
.related-products,
.related-products li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.listpages li,
.listcategories li,
.featureditem li,
.featureapage li,
.search-results li,
.relatedpages li,
.listxrss li,
.related-products li {
  position: relative;
}
.listpages a,
.listcategories a,
.featureditem a,
.featureapage a,
.search-results a,
.relatedpages a,
.listxrss a,
.related-products a {
  display: block;
  text-decoration: none;
}
.listpages img,
.listcategories img,
.featureditem img,
.featureapage img,
.search-results img,
.relatedpages img,
.listxrss img,
.related-products img {
  width: 100%;
}
.listpages .page-title,
.listcategories .page-title,
.featureditem .page-title,
.featureapage .page-title,
.search-results .page-title,
.relatedpages .page-title,
.listxrss .page-title,
.related-products .page-title {
  margin: 0 0 0.25em;
  font-size: 1.25em;
  font-family: 'Lato', Helvetica, Arial, serif;
}
.listpages span,
.listcategories span,
.featureditem span,
.featureapage p,
.search-results span,
.relatedpages span,
.listxrss p,
.related-products .product-description {
  display: block;
  overflow: hidden;
  margin: 0;
}
.listpages span:empty,
.listcategories span:empty,
.featureditem span:empty,
.featureapage p:empty,
.search-results span:empty,
.relatedpages span:empty,
.listxrss p:empty,
.related-products .product-description:empty {
  display: none;
}
.reset-style {
  float: none;
  width: auto;
  height: auto;
  background: transparent;
  border: 0 none;
  color: inherit;
  font-family: inherit;
  font-size: medium;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  padding: 0;
  position: static;
  vertical-align: baseline;
  box-shadow: none;
  border-radius: 0;
  transition: none;
}
.clear {
  display: block;
  clear: both;
  overflow: hidden;
  visibility: hidden;
  height: 0;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.disable-hover,
.disable-hover * {
  pointer-events: none !important;
}
.ui-widget-overlay,
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99;
  background: rgba(0, 0, 0, 0.5);
}
.ui-widget ~ .overlay {
  z-index: 999;
}
