body {
  overflow-x: hidden;
}
body.top-main-fixed-space {
  padding-top: 280px;
}
.alpha-p {
  padding-left: 0 !important;
}
.omega-p {
  padding-right: 0 !important;
}
@media only screen and (max-width: 1024px) {
  .omega-p-tablet {
    padding-right: 0 !important;
  }
}
.slogan {
  padding: 0.25em 0;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #00adc6;
}
.slogan img {
  margin: 0 0.5em;
}
.line-header {
  z-index: 35;
}
.line-header .container {
  width: 100%;
}
header {
  background: #FFF;
  color: #4a4a4a;
}
header.container {
  z-index: 12;
}
header.inside {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
header .logo {
  text-decoration: none;
  margin-top: 0;
  margin-bottom: 20px;
  margin-top: 20px;
}
header .logo a {
  display: inline-block;
}
header .logo span {
  position: absolute;
  left: 12px;
  top: 80%;
  font-size: 1.65rem;
  font-weight: normal;
  text-transform: uppercase;
  color: #4a4a4a;
}
header .logo img {
  width: auto;
}
header hr {
  margin: 0 -30px;
  border-width: 2px;
  border-color: #f0f0f0;
}
@media only screen and (min-width: 1024px) {
  .line-header.top-main-fixed {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: auto;
    width: 100%;
    max-width: 100%;
    z-index: 1000;
    text-align: center;
    background-color: #FFF;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .line-header.top-main-fixed .logo {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
  }
  .line-header.top-main-fixed .logo img {
    max-width: 400px;
  }
}
@media only screen and (min-width: 1024px) {
  .logo-caption {
    font-size: 1.45vw;
  }
}
.language-switcher {
  margin-top: 0;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.language-switcher li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.language-switcher li.point {
  margin-left: 3%;
  margin-right: 3%;
}
.language-switcher li.point::before {
  content: "";
  width: 3px;
  height: 3px;
  margin-right: 4px;
  border-radius: 50%;
  background-color: #FFF;
}
.language-switcher a {
  padding: 0 10px;
  color: #FFF;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}
.language-switcher a:hover {
  color: #b3b3b3;
}
.language-switcher a.active {
  border-bottom-color: #FFF;
}
.language-switcher a + a::before {
  content: "";
  width: 3px;
  height: 3px;
}
@media only screen and (max-width: 1024px) {
  .language-switcher {
    height: 48px;
    overflow: hidden;
  }
  .language-switcher .btn {
    display: block;
    margin-bottom: 2px;
  }
  .language-switcher a:first-of-type {
    pointer-events: none;
  }
  .language-switcher:hover,
  .language-switcher.touch,
  .language-switcher.active {
    height: auto;
    overflow: visible;
  }
}
.language-switcher .btn {
  width: 48px;
  height: 48px;
  line-height: 48px;
  padding: 0;
  border: 2px solid #00adc6;
  color: #00adc6;
}
.language-switcher .btn:hover,
.language-switcher .btn.active {
  background: #00adc6;
  color: #FFF;
  border-color: #00adc6;
}
@media only screen and (min-width: 1024px) {
  .language-switcher .btn {
    width: 2.7em;
    height: 2.7em;
    line-height: 2.7em;
  }
}
nav.col-menu {
  display: inline-block;
}
nav.col-menu li {
  display: block;
  text-align: left;
}
nav.col-menu li ul {
  display: none !important;
}
@media only screen and (min-width: 1024px) {
  .mobile-top-fixed.fixed-scroll > a {
    position: fixed;
    top: 2px;
    right: 15px;
    z-index: 70;
    font-size: 0.95vw;
  }
}
.bottom-buttons a {
  margin-bottom: 1em;
  margin-left: 0.8em;
  margin-right: 0.8em;
}
@media only screen and (min-width: 1024px) {
  .bottom-buttons {
    padding-top: 16vh;
  }
}
section p {
  margin-bottom: 20px;
}
.form-cont-acc {
  display: none;
}
.form-cont-acc:target {
  padding-top: 48px;
}
.disable-hover {
  pointer-events: none;
}
.download-button {
  float: right;
  height: 110px;
  width: 110px;
  border-radius: 50em;
  font-size: 3rem;
  color: #FFF;
  text-align: center;
  background: #e44545;
}
#page {
  padding: 0 60px;
}
#page > section,
main > section {
  margin-bottom: 90px;
}
#page > section:not(:first-of-type),
main > section:not(:first-of-type) {
  padding-top: 3vw;
}
#page h1.page-heading,
main h1.page-heading {
  display: inline-block;
  width: 100%;
  padding: 50px 15px;
  margin-bottom: 30px;
  text-align: center;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 300;
  background: #f0f0f0;
}
@media only screen and (max-width: 1024px) {
  #page h1.page-heading,
  main h1.page-heading {
    font-size: 2em;
  }
}
#page h2,
main h2 {
  font-weight: 300;
  text-transform: uppercase;
}
#page h4,
main h4 {
  padding-left: 15px;
  line-height: 2.5em;
  border-bottom: 1px solid #d9d9d9;
  font-weight: bold;
}
.full-imgs img {
  width: 100%;
}
.small-lh p,
.small-lh ul,
.small-lh li {
  line-height: 1.5;
}
.pb30px {
  padding-bottom: 30px;
}
.pt0 {
  padding-top: 0 !important;
}
.pl30px {
  padding-left: 30px;
}
.pt30px {
  padding-top: 30px;
}
.pl0px {
  padding-left: 0 !important;
}
.mb10px {
  margin-bottom: 10px;
}
.p {
  font-size: 1rem;
  color: #7d7d7d;
}
.error-container-404 {
  text-align: center;
}
@media only screen and (min-width: 1024px) {
  .error-container-404 {
    text-align: right;
  }
}
.bottom-section h2 {
  margin-bottom: 0.75em;
  color: #00adc6;
  text-align: center;
}
.bottom-section section {
  margin-bottom: 30px;
}
.review-section a:not(.tpopup) {
  color: #00adc6;
  text-decoration: none;
}
.initial-images img {
  width: auto;
}
.location-anchors {
  list-style-type: none;
  margin: 0;
  padding-top: 1em;
  padding-left: 0;
}
.location-anchors a {
  line-height: 2.5;
}
.location-anchors a:first-of-type {
  color: #4a4a4a;
  text-decoration: none;
  font-weight: bold;
  white-space: nowrap;
}
.location-anchors a:first-of-type:after {
  content: "\e903";
  color: #e44545;
  margin-left: 8px;
  opacity: 0;
  font-family: flexkit-icons;
  speak: none;
  font-style: normal;
  font-weight: normal;
  text-transform: none;
  line-height: 1;
  position: relative;
  text-align: center;
  display: inline-block;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all 0.3s;
}
.location-anchors a:first-of-type:hover:after {
  opacity: 1;
}
@media only screen and (min-width: 1024px) {
  .location-anchors {
    padding-top: 4em;
  }
}
.chalet-heading {
  background: #f0f0f0;
  padding: 50px 15px;
  margin-bottom: 30px;
}
@media only screen and (max-width: 1024px) {
  .chalet-heading {
    text-align: center;
    padding: 20px 0 70px;
  }
}
.chalet-heading h1 {
  display: inline-block;
  margin-bottom: 0;
  padding: 0 2vw 0 10px;
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: 500;
}
.chalet-heading h1 span {
  font-size: 0.74rem;
  display: inline-block;
  vertical-align: top;
}
.chalet-heading > span {
  padding: 0 3.5vw;
  font-size: 2.25em;
  border-left: 1px solid #7d7d7d;
  line-height: 1;
  font-weight: 300;
  white-space: nowrap;
}
@media only screen and (max-width: 768px) {
  .chalet-heading > span {
    display: block;
    padding-top: 0.2em;
    border-width: 0;
  }
}
.chalet-heading > span span {
  font-size: 0.5em;
  font-weight: bold;
}
.action-buttons-chalet {
  position: relative;
  float: right;
}
.action-buttons-chalet p {
  display: inline-block;
  margin-right: 30px;
  text-transform: uppercase;
  color: #00adc6;
}
@media only screen and (max-width: 1024px) {
  .action-buttons-chalet {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
  }
}
.action-buttons-chalet .custom-calendar {
  position: absolute;
  top: 115%;
  right: 0;
  width: 280px;
  height: 320px;
  display: none;
  overflow: hidden;
  padding: 15px;
  z-index: 12;
  background-color: #f0f0f0;
  box-shadow: 1px 1px 5px 0px #616161;
}
.action-buttons-chalet .custom-calendar.active {
  display: block;
}
.action-buttons-chalet .custom-calendar iframe {
  width: 250px;
  height: 280px;
}
@media only screen and (max-width: 1024px) {
  .action-buttons-chalet .custom-calendar {
    right: calc(50%  - 140px);
  }
}
.calendar-button {
  margin-right: 15px;
  padding-left: 0.8em;
  padding-right: 0.8em;
}
.calendar-button:before {
  font-size: 1.1em;
  color: #FFF;
}
@media only screen and (max-width: 768px) {
  .calendar-button {
    width: 50px;
    height: 50px;
    color: transparent;
  }
}
.chalet-images {
  margin-bottom: 1.5em;
}
.chalet-images .rotator {
  margin: 0 auto 30px;
}
.chalet-images ul {
  text-align: center;
}
.chalet-facilities {
  margin-bottom: 1em;
}
.chalet-facilities h5 {
  font-size: 1.25em;
  font-weight: bold;
}
.chalet-facilities h5:before {
  font-size: 1.8em;
  color: #7d7d7d;
  padding-right: 0.25em;
}
.chalet-facilities ul {
  list-style-type: none;
  padding-left: 1em;
  text-align: left;
}
.chalet-facilities ul li {
  color: #7d7d7d;
}
.chalet-facilities ul li:before {
  content: '\e0a4';
  padding: 0 10px 8px 0;
  color: #00adc6;
  font-family: flexkit-icons;
  speak: none;
  font-style: normal;
  font-weight: normal;
  text-transform: none;
  line-height: 1;
  position: relative;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media only screen and (max-width: 1220px) {
  .chalet-facilities {
    width: 100%;
  }
}
.mfp-title {
  display: none;
}
.video-caption {
  font-size: 1em;
  line-height: 1.2;
  max-width: 260px;
  margin: 0 auto;
}
.index-image {
  position: relative;
  padding-top: 92.5%;
}
.index-image > img {
  position: absolute;
  top: 0;
  left: 0;
}
#video-player {
  width: 560px;
  display: block;
  margin: 0 auto;
}
.index-logo {
  top: 50%;
  left: 50%;
  position: absolute;
  border-radius: 60em;
  display: block;
  width: 17vw;
  height: 17vw;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-filter: blur(0);
  background: rgba(255, 255, 255, 0.7);
}
.index-logo > img {
  position: absolute;
  width: 65%;
  top: 48%;
  left: 50%;
  -webkit-transform: translate(-50%, -48%);
  -ms-transform: translate(-50%, -48%);
  transform: translate(-50%, -48%);
  -webkit-filter: blur(0);
}
#calendarTabs1 {
  display: none;
}
.locations-header {
  padding-top: 1em;
}
.locations-header img {
  display: inline-block;
  vertical-align: top;
}
.locations-header h5 {
  display: inline-block;
  padding-left: 15px;
  width: 65%;
  padding-top: 0;
  font-size: 1em;
  line-height: 1.4;
  text-transform: uppercase;
  color: #00adc6;
}
.service-image {
  position: relative;
  margin-bottom: 30px;
}
.service-image figcaption {
  position: absolute;
  top: 10%;
  left: 0;
  width: 30%;
  padding: 0.5em;
  font-size: 1.1em;
  text-align: center;
  font-weight: bold;
  color: #FFF;
  background: rgba(0, 173, 198, 0.6);
}
@media only screen and (max-width: 768px) {
  .service-image figcaption {
    padding: 1vh 10vw;
  }
}
.checkmark-list {
  list-style-type: none;
  padding-left: 1em;
}
.checkmark-list li {
  position: relative;
  color: #7d7d7d;
  padding-left: 1.5rem;
}
.checkmark-list li:before {
  content: '\e0a4';
  position: absolute;
  left: 0;
  top: 4px;
  padding: 0 10px 8px 0;
  color: #00adc6;
  font-family: flexkit-icons;
  speak: none;
  font-style: normal;
  font-weight: normal;
  text-transform: none;
  line-height: 1;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.checkmark-list a {
  color: #00adc6;
  text-decoration: none;
}
.checkmark-list a:hover {
  text-decoration: underline;
}
.page404 {
  height: 100%;
  padding: 60px 15px;
  background-image: url(../images/light-bg.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}
@media only screen and (min-width: 1024px) {
  .page404 {
    padding: 30px;
  }
}
.review-container {
  font-size: 0;
}
.review-container > * {
  font-size: 18px;
  display: inline-block;
  vertical-align: middle;
}
.review-item {
  margin-bottom: 60px;
  display: inline-block;
  vertical-align: middle;
  padding-left: 15px;
  padding-right: 15px;
  width: calc(100% / 2);
}
@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .review-item {
    width: calc(100% / 2);
  }
}
@media only screen and (max-width: 768px) {
  .review-item {
    width: calc(100% / 1);
  }
}
.review-author {
  font-weight: bold;
}
.review-author em {
  font-weight: normal;
}
.notifications-toggle {
  -webkit-animation: bounce;
  animation: bounce;
  animation-name: bounce;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.reserve-buttons {
  font-size: 0;
  margin-bottom: 3rem;
  padding-top: 2rem;
  text-align: center;
}
.reserve-buttons > * {
  font-size: 18px;
  display: inline-block;
  vertical-align: top;
}
@media only screen and (min-width: 1024px) {
  .reserve-buttons {
    padding-left: 12.5vw;
  }
}
.bottom-slider .rotator {
  margin: 0 auto;
}
.reserve-item {
  margin-bottom: 30px;
  font-weight: normal;
  text-align: center;
}
.circle-button {
  display: inline-block;
  margin-bottom: 0.5rem;
  text-align: center;
}
.circle-button a {
  height: 6em;
  width: 6em;
  padding: 0;
  line-height: 6em;
  border-radius: 50em;
  text-transform: capitalize;
}
.text-hide {
  color: transparent;
}
.reserve-item-name {
  color: #7d7d7d;
}
.contact iframe {
  width: 100%;
}
aside {
  padding-top: 30px;
}
.aside-box {
  margin-bottom: 30px;
  padding: 30px;
  border: 1px solid #d9d9d9;
}
.aside-box.caption-content > p {
  display: inline-block;
  line-height: 2;
}
@media only screen and (min-width: 1200px) {
  .aside-box.caption-content > p {
    width: 60%;
  }
}
.contacts-section p {
  color: #4a4a4a;
}
footer {
  padding: 36px 0 24px;
  background: #4a4a4a;
  color: #FFF;
}
footer p {
  color: #f0f0f0;
  margin-bottom: 20px;
}
footer address {
  margin-bottom: 30px;
}
footer .org-desc {
  font-weight: 300;
}
footer .email-field a {
  color: #FFF;
  text-decoration: none;
}
footer .email-field a:hover {
  text-decoration: underline;
}
footer .copyright {
  line-height: 2em;
}
footer .copyright a {
  padding-right: 1.3em;
  color: #00adc6;
  text-decoration: none;
  font-weight: bold;
}
footer .copyright a:hover {
  text-decoration: underline;
}
footer .copyright span {
  display: inline-block;
  padding-left: 1.3em;
  border-left: 1px solid #7d7d7d;
  color: #7d7d7d;
}
.footer-contacts [class*="icon"],
.contacts-section [class*="icon"] {
  padding-left: 2.2em;
}
.footer-contacts [class*="icon"]:before,
.contacts-section [class*="icon"]:before {
  position: absolute;
  left: 0;
  top: 3px;
  font-size: 1.4em;
}
@media only screen and (max-width: 1024px) {
  .footer-box {
    margin-bottom: 30px;
  }
}
#go-top {
  color: #FFFFFF;
  border-color: rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.5);
}
#go-top:hover,
#go-top:active,
#go-top.active {
  color: #FFF;
  border-color: #00adc6;
  background-color: #00adc6;
}
.mobile-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
}
.mobile-footer li {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 100%;
  -ms-flex: 0 1 100%;
  flex: 0 1 100%;
  margin: 0;
}
.mobile-footer li a {
  color: #00adc6 !important;
  font-size: 18px;
  display: block;
}
.mobile-footer li a.fb_reserve-from-link-button {
  color: #FFF;
  border-color: #00adc6;
  background-color: #00adc6;
  color: #FFF !important;
  margin: 0 !important;
}
.mobile-footer li a.fb_reserve-from-link-button:hover,
.mobile-footer li a.fb_reserve-from-link-button:active,
.mobile-footer li a.fb_reserve-from-link-button.active {
  color: #FFF;
  border-color: #008093;
  background-color: #008093;
}
.right-contact-fixed-box {
  position: fixed;
  right: 0;
  bottom: 120px;
  background-color: white;
  z-index: 100;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.right-contact-fixed-box .fb_reserve-from-link-button {
  padding: 0 10px;
}
.right-contact-fixed-box ul {
  margin: 0;
  padding: 0;
  position: relative;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.right-contact-fixed-box ul li > a:not(.fb_reserve-from-link-button) {
  display: block;
  height: 48px;
  width: 64px;
  text-align: center;
  font-size: 24px;
  line-height: 48px;
  position: relative;
  z-index: 101;
}
.right-contact-fixed-box ul li:nth-child(4) {
  width: 64px;
  margin: 0;
  text-align: center;
}
.right-contact-fixed-box ul li:nth-child(4) > a {
  margin: 0 !important;
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
  writing-mode: tb-rl;
  padding: 10px 8px;
  z-index: 101;
  color: #FFF;
  border-color: #00adc6;
  background-color: #00adc6;
}
.right-contact-fixed-box ul li:nth-child(4) > a:hover,
.right-contact-fixed-box ul li:nth-child(4) > a:active,
.right-contact-fixed-box ul li:nth-child(4) > a.active {
  color: #FFF;
  border-color: #008093;
  background-color: #008093;
}
.index-image {
  position: relative;
}
.reserve-box-footer:not(.mobile) {
  position: absolute;
  right: 100%;
  bottom: 0;
  width: 650px;
  z-index: 20;
  color: #252525;
}
.reserve-box-footer .box {
  padding: 20px 40px !important;
  background-color: white !important;
  width: 100% !important;
  color: #4a4a4a !important;
}
.reserve-box-footer.mobile {
  position: absolute;
  right: 0;
  bottom: 48px;
  left: 0;
  z-index: 20;
  color: #252525;
}
@media only screen and (max-width: 1024px) {
  .reserve-box-footer.mobile {
    border-bottom: 1px solid #00adc6;
  }
  .reserve-box-footer.mobile .box {
    padding: 15px !important;
  }
  .reserve-box-footer.mobile .box > * {
    width: 25%;
  }
  .reserve-box-footer.mobile .box .reserve-btn {
    padding: 15px 10px !important;
    line-height: 1.75em !important;
    font-size: 14px !important;
  }
  .reserve-box-footer.mobile .btn {
    color: #FFF !important;
  }
}
@media only screen and (max-width: 767px) {
  .reserve-box-footer.mobile {
    background-color: white;
    box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.15);
  }
  .reserve-box-footer.mobile:not(.hide) {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  .reserve-box-footer.mobile.hide {
    display: none !important;
  }
  .reserve-box-footer.mobile .box {
    padding: 0 !important;
  }
  .reserve-box-footer.mobile .box > * {
    width: 100%;
    padding: 20px 0;
  }
  .reserve-box-footer.mobile .box > *:nth-child(1),
  .reserve-box-footer.mobile .box > *:nth-child(2) {
    width: 50%;
  }
  .reserve-box-footer.mobile .box > * .reserve-btn {
    padding: 15px 10px !important;
    font-size: 18px !important;
    max-width: 350px;
    margin: auto;
  }
  .reserve-box-footer.mobile .box > * input {
    width: 30%;
    margin: auto;
  }
  .reserve-box-footer.mobile .box > * + div {
    border-top: 1px solid #f0f0f0;
  }
  .reserve-box-footer.mobile .box > *:nth-child(4) {
    margin-top: 0 !important;
  }
}
.reserve-box {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  z-index: 20;
  pointer-events: none;
}
.reserve-box > * {
  pointer-events: all;
}
@media only screen and (max-width: 768px) {
  .reserve-box div.box > * {
    width: 100%;
    padding: 20px 0;
  }
  .reserve-box div.box > *:nth-child(1),
  .reserve-box div.box > *:nth-child(2) {
    width: 50%;
    margin: 0;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 50%;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
  }
}
.reserve-box .box,
.reserve-box-footer .box {
  width: 960px;
  padding: 15px 0;
  background: rgba(0, 173, 198, 0.75);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: white;
}
.reserve-box .box-btn,
.reserve-box-footer .box-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.reserve-box .box-btn .btn,
.reserve-box-footer .box-btn .btn {
  color: #00adc6;
  border-color: #FFF;
  background-color: #FFF;
}
.reserve-box .box-btn .btn:hover,
.reserve-box-footer .box-btn .btn:hover,
.reserve-box .box-btn .btn:active,
.reserve-box-footer .box-btn .btn:active,
.reserve-box .box-btn .btn.active,
.reserve-box-footer .box-btn .btn.active {
  color: #00adc6;
  border-color: #e6e6e6;
  background-color: #e6e6e6;
}
.reserve-box .box-guest,
.reserve-box-footer .box-guest,
.reserve-box .box-start,
.reserve-box-footer .box-start,
.reserve-box .box-end,
.reserve-box-footer .box-end,
.reserve-box .box-btn,
.reserve-box-footer .box-btn {
  position: relative;
  padding: 0 20px;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}
.reserve-box .box-guest input,
.reserve-box-footer .box-guest input,
.reserve-box .box-start input,
.reserve-box-footer .box-start input,
.reserve-box .box-end input,
.reserve-box-footer .box-end input,
.reserve-box .box-btn input,
.reserve-box-footer .box-btn input {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  padding: 0;
  height: 100%;
  opacity: 0;
  width: 80px;
  margin: auto;
}
.reserve-box .box-guest span,
.reserve-box-footer .box-guest span,
.reserve-box .box-start span,
.reserve-box-footer .box-start span,
.reserve-box .box-end span,
.reserve-box-footer .box-end span,
.reserve-box .box-btn span,
.reserve-box-footer .box-btn span {
  display: block;
  font-weight: 100;
  text-align: center;
  line-height: 1;
}
.reserve-box .box-guest span.title,
.reserve-box-footer .box-guest span.title,
.reserve-box .box-start span.title,
.reserve-box-footer .box-start span.title,
.reserve-box .box-end span.title,
.reserve-box-footer .box-end span.title,
.reserve-box .box-btn span.title,
.reserve-box-footer .box-btn span.title {
  letter-spacing: 0.05em;
  font-size: 14px;
  color: inherit;
}
.reserve-box .box-guest span.day,
.reserve-box-footer .box-guest span.day,
.reserve-box .box-start span.day,
.reserve-box-footer .box-start span.day,
.reserve-box .box-end span.day,
.reserve-box-footer .box-end span.day,
.reserve-box .box-btn span.day,
.reserve-box-footer .box-btn span.day,
.reserve-box .box-guest span.guest-number,
.reserve-box-footer .box-guest span.guest-number,
.reserve-box .box-start span.guest-number,
.reserve-box-footer .box-start span.guest-number,
.reserve-box .box-end span.guest-number,
.reserve-box-footer .box-end span.guest-number,
.reserve-box .box-btn span.guest-number,
.reserve-box-footer .box-btn span.guest-number {
  font-size: 48px;
  padding: 10px 0;
}
.reserve-box .box-guest span.month,
.reserve-box-footer .box-guest span.month,
.reserve-box .box-start span.month,
.reserve-box-footer .box-start span.month,
.reserve-box .box-end span.month,
.reserve-box-footer .box-end span.month,
.reserve-box .box-btn span.month,
.reserve-box-footer .box-btn span.month {
  font-size: 24px;
}
.reserve-box .box-guest .guest-more,
.reserve-box-footer .box-guest .guest-more,
.reserve-box .box-start .guest-more,
.reserve-box-footer .box-start .guest-more,
.reserve-box .box-end .guest-more,
.reserve-box-footer .box-end .guest-more,
.reserve-box .box-btn .guest-more,
.reserve-box-footer .box-btn .guest-more,
.reserve-box .box-guest .guest-less,
.reserve-box-footer .box-guest .guest-less,
.reserve-box .box-start .guest-less,
.reserve-box-footer .box-start .guest-less,
.reserve-box .box-end .guest-less,
.reserve-box-footer .box-end .guest-less,
.reserve-box .box-btn .guest-less,
.reserve-box-footer .box-btn .guest-less {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  -webkit-filter: blur(0);
  cursor: pointer;
}
.reserve-box .box-guest .guest-more:hover,
.reserve-box-footer .box-guest .guest-more:hover,
.reserve-box .box-start .guest-more:hover,
.reserve-box-footer .box-start .guest-more:hover,
.reserve-box .box-end .guest-more:hover,
.reserve-box-footer .box-end .guest-more:hover,
.reserve-box .box-btn .guest-more:hover,
.reserve-box-footer .box-btn .guest-more:hover,
.reserve-box .box-guest .guest-less:hover,
.reserve-box-footer .box-guest .guest-less:hover,
.reserve-box .box-start .guest-less:hover,
.reserve-box-footer .box-start .guest-less:hover,
.reserve-box .box-end .guest-less:hover,
.reserve-box-footer .box-end .guest-less:hover,
.reserve-box .box-btn .guest-less:hover,
.reserve-box-footer .box-btn .guest-less:hover {
  color: #7d7d7d;
}
.reserve-box .box-guest .guest-more,
.reserve-box-footer .box-guest .guest-more,
.reserve-box .box-start .guest-more,
.reserve-box-footer .box-start .guest-more,
.reserve-box .box-end .guest-more,
.reserve-box-footer .box-end .guest-more,
.reserve-box .box-btn .guest-more,
.reserve-box-footer .box-btn .guest-more {
  left: 65%;
}
.reserve-box .box-guest .guest-less,
.reserve-box-footer .box-guest .guest-less,
.reserve-box .box-start .guest-less,
.reserve-box-footer .box-start .guest-less,
.reserve-box .box-end .guest-less,
.reserve-box-footer .box-end .guest-less,
.reserve-box .box-btn .guest-less,
.reserve-box-footer .box-btn .guest-less {
  right: 65%;
}
.form-controls img {
  width: auto;
}
form::after {
  content: "";
  display: table;
  clear: both;
}
form p::after {
  content: "";
  display: table;
  clear: both;
}
form .captcha label,
form .captcha input {
  float: left;
  width: 100%;
  font-weight: normal;
}
form .captcha .captcha_field {
  margin-bottom: 1em;
}
form .captcha .recaptcha_links a,
form .captcha .captcha_image a {
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  height: auto;
  line-height: 2.7em;
  padding: 0 1.5em;
  font-family: 'Lato', Arial, sans-serif;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  color: #FFF;
  border-color: #00759a;
  background-color: #00adc6;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-shadow: none;
  border: none;
  transition: background 0.3s;
  float: left;
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
  width: 2.7em;
  margin-right: 0.25em;
}
form .captcha .recaptcha_links a:hover,
form .captcha .captcha_image a:hover,
form .captcha .recaptcha_links a:active,
form .captcha .captcha_image a:active,
form .captcha .recaptcha_links a.active,
form .captcha .captcha_image a.active {
  color: #FFF;
  border-color: #004e67;
  background-color: #008093;
}
form .captcha .recaptcha_links a:active,
form .captcha .captcha_image a:active,
form .captcha .recaptcha_links a.active,
form .captcha .captcha_image a.active,
form .captcha .recaptcha_links a:hover,
form .captcha .captcha_image a:hover,
form .captcha .recaptcha_links a.touch,
form .captcha .captcha_image a.touch {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3) inset;
}
form .captcha .recaptcha_links a::before,
form .captcha .captcha_image a::before {
  font-family: flexkit-icons;
  width: 100%;
  float: left;
  margin: 0;
  line-height: inherit !important;
}
form .captcha .captcha_image {
  width: 100% !important;
  height: auto !important;
  float: left;
  text-align: center;
  margin-bottom: 1em;
}
form .captcha .captcha_image br {
  display: none;
}
form .captcha .captcha_image span {
  float: left;
}
form .captcha .recaptcha_links {
  float: left;
  margin-bottom: 1em;
}
form .captcha .recaptcha_links a[href="javascript:Recaptcha.reload();"]::before {
  content: "\e09f";
}
form .captcha .recaptcha_links a.recaptcha_only_if_image::before {
  content: "\e019";
}
form .captcha .recaptcha_links a.recaptcha_only_if_audio::before {
  content: "\e00d";
}
form .captcha .recaptcha_links a.recaptcha_help::before {
  content: "\e042";
}
form .captcha #recaptcha_audio_play_again::before {
  content: "\e9d6";
}
form .captcha #recaptcha_audio_download::before {
  content: "\e968";
}
@media only screen and (max-width: 768px), only screen and (min-width: 1024px) {
  aside form .captcha .recaptcha_links {
    width: 100%;
  }
  aside form .captcha .recaptcha_links a {
    margin: 0;
    width: 32%;
  }
  aside form .captcha .recaptcha_links a + a {
    margin-left: 2%;
  }
  aside form .captcha .captcha_image span {
    width: 49%;
  }
  aside form .captcha .captcha_image span + br + span {
    margin-left: 2%;
  }
  aside form .captcha .captcha_image a {
    margin: 0;
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  form .captcha .recaptcha_links {
    width: 100%;
  }
  form .captcha .recaptcha_links a {
    margin: 0;
    width: 32%;
  }
  form .captcha .recaptcha_links a + a {
    margin-left: 2%;
  }
  form .captcha .captcha_image span {
    width: 49%;
  }
  form .captcha .captcha_image span + br + span {
    margin-left: 2%;
  }
  form .captcha .captcha_image a {
    margin: 0;
    width: 100%;
  }
}
.tablet form .captcha .captcha_image span,
.mobile form .captcha .captcha_image span {
  width: 100%;
}
form [type="submit"] {
  font-weight: 300;
  font-size: 1.1em;
  float: right;
  -webkit-text-fill-color: #FFF;
}
form img {
  width: auto;
}
fieldset legend {
  font-size: 1.25em;
}
fieldset.unstyled {
  padding: 0;
  border: 0;
}
fieldset.unstyled legend {
  padding: 0;
  margin-bottom: 0.45em;
  font-weight: normal;
}
label,
.label {
  display: block;
  margin-bottom: 0.6em;
  font-size: 0.95rem;
  font-weight: bold;
}
label[for],
.label[for] {
  cursor: pointer;
}
label[class*="grid_"],
.label[class*="grid_"] {
  margin-bottom: 0;
}
.label-inline label,
.label-inline .label {
  margin-bottom: 0;
  line-height: 2.7em;
}
label.required > span,
.label.required > span {
  color: #e44545;
}
.notvalid {
  color: #e44545;
}
select,
textarea,
input {
  font-family: 'Lato', Arial, sans-serif;
  border: 1px solid #d3d3d3;
  background-color: #fff;
  color: #242424;
  -webkit-text-fill-color: #4a4a4a;
  -webkit-opacity: 1;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: #7d7d7d;
  transition: border 0.3s;
}
select:focus,
textarea:focus,
input:focus {
  border-color: #00adc6;
}
select.success,
textarea.success,
input.success,
select.warning,
textarea.warning,
input.warning,
select.error,
textarea.error,
input.error,
select.info,
textarea.info,
input.info {
  color: #242424;
}
select.success,
textarea.success,
input.success {
  border-color: #4fc752;
}
select.success:focus,
textarea.success:focus,
input.success:focus {
  box-shadow: 0 0 3px #4fc752 inset;
}
select.warning,
textarea.warning,
input.warning {
  border-color: #ffc159;
}
select.warning:focus,
textarea.warning:focus,
input.warning:focus {
  box-shadow: 0 0 3px #ffc159 inset;
}
select.error,
textarea.error,
input.error,
select.notvalid,
textarea.notvalid,
input.notvalid {
  border-color: #e44545;
}
select.error:focus,
textarea.error:focus,
input.error:focus,
select.notvalid:focus,
textarea.notvalid:focus,
input.notvalid:focus {
  box-shadow: 0 0 3px #e44545 inset;
}
select.info,
textarea.info,
input.info {
  border-color: #28b0ed;
}
select.info:focus,
textarea.info:focus,
input.info:focus {
  box-shadow: 0 0 3px #28b0ed inset;
}
select[disabled],
textarea[disabled],
input[disabled],
[disabled] select,
[disabled] textarea,
[disabled] input,
select[disabled]:focus,
textarea[disabled]:focus,
input[disabled]:focus,
select.noedit,
textarea.noedit,
input.noedit,
select.noedit:focus,
textarea.noedit:focus,
input.noedit:focus {
  border-color: #dedede;
  background: #f0f0f0;
  color: #a3a3a3;
  cursor: not-allowed;
  box-shadow: none;
}
select::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {
  color: #7d7d7d !important;
}
input,
select {
  padding: 0 0.5em;
  height: 2.295em;
  line-height: 1.7em;
}
textarea {
  padding: 0.5em;
  min-height: 5em;
}
textarea.resize {
  resize: vertical;
}
.forgot-password,
.retrieveFormBlock > form + a {
  float: left;
  margin-top: -37px;
}
.checkbox_radio {
  pointer-events: none;
}
.radio-inputs {
  padding-top: 0;
  padding-bottom: 0.5rem;
}
.radio-inputs > label {
  display: inline-block;
  vertical-align: top;
  padding-left: 15px;
  padding-right: 15px;
  width: calc(100% / 6);
}
@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .radio-inputs > label {
    width: calc(100% / 6);
  }
}
@media only screen and (max-width: 768px) {
  .radio-inputs > label {
    width: calc(100% / 4);
  }
}
.grid-inputs {
  font-size: 0;
}
.grid-inputs > * {
  font-size: 18px;
  display: inline-block;
  vertical-align: middle;
}
.grid-inputs > label,
.grid-inputs > div {
  padding-left: 15px;
  padding-right: 15px;
  width: calc(100% / 2);
}
@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .grid-inputs > label,
  .grid-inputs > div {
    width: calc(100% / 2);
  }
}
@media only screen and (max-width: 768px) {
  .grid-inputs > label,
  .grid-inputs > div {
    width: calc(100% / 1);
  }
}
.grid-inputs > div {
  margin-bottom: 0.6em;
}
.grid-inputs > div label {
  margin-bottom: 0;
}
.input-format {
  padding-top: 10px;
}
.input-format label {
  float: left;
}
.input-format label:first-child {
  margin-right: 10px;
}
.input-format input {
  width: 60px;
}
.filed-upgrade {
  height: auto;
  position: absolute;
  z-index: -10;
  transition: none;
  opacity: 0;
}
.filed-upgrade ~ .checkbox_radio {
  display: inline-block;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  font-size: 16px;
  height: calc(1.25em + 1px * 2);
  width: calc(1.25em + 1px * 2);
  line-height: 0;
  margin: 0 0.5em 0 0;
  background: #fff;
  border: 1px solid #000;
  color: transparent;
}
.filed-upgrade.error ~ .checkbox_radio {
  border-color: #e44545;
}
.filed-upgrade:hover ~ .checkbox_radio {
  color: #f0f0f0;
}
.filed-upgrade:checked ~ .checkbox_radio {
  border-color: #222222;
}
.filed-upgrade:disabled ~ .checkbox_radio {
  background: #f0f0f0 !important;
  border-color: #d6d6d6 !important;
  color: transparent;
}
.filed-upgrade[type="radio"] ~ .checkbox_radio {
  border-radius: 10em;
}
.filed-upgrade[type="radio"] ~ .checkbox_radio::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 0.625em;
  height: 0.625em;
  border-radius: 10em;
}
.filed-upgrade[type="radio"]:hover ~ .checkbox_radio::before {
  background: #f0f0f0;
}
.filed-upgrade[type="radio"]:checked ~ .checkbox_radio::before {
  background: #4a4a4a;
}
.filed-upgrade[type="radio"]:checked:disabled ~ .checkbox_radio::before {
  background: #a3a3a3 !important;
}
.filed-upgrade[type="checkbox"] ~ .checkbox_radio::before {
  font-family: flexkit-icons;
  speak: none;
  font-style: normal;
  font-weight: normal;
  text-transform: none;
  line-height: 1;
  position: relative;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  left: 0;
  bottom: 0;
  content: "\e09c";
  font-size: 1.5em;
}
.filed-upgrade[type="checkbox"]:checked ~ .checkbox_radio {
  color: #4fc752;
}
.filed-upgrade[type="checkbox"]:checked:disabled ~ .checkbox_radio {
  color: #a3a3a3 !important;
}
.filed-upgrade[type="checkbox"].switcher ~ .checkbox_radio {
  overflow: hidden;
  position: relative;
  width: 4em;
  height: calc(1.25em + 1px * 2);
  line-height: 1.25em;
}
.filed-upgrade[type="checkbox"].switcher ~ .checkbox_radio::before {
  font-size: 0.444rem;
  line-height: inherit;
  content: 'OFF';
  background: none;
  color: #e44545;
  position: static;
  font-family: 'Lato', Arial, sans-serif;
  font-weight: bold;
  width: 50%;
  text-align: center;
  float: left;
  margin-left: 50%;
}
.filed-upgrade[type="checkbox"].switcher ~ .checkbox_radio::after {
  content: '';
  background: #e44545;
  transition: all 0.3s;
  background: rgba(0, 0, 0, 0.1);
  position: absolute;
  border: 1px solid #fff;
  z-index: 1;
  left: 0;
  top: 0;
  bottom: 0;
  width: 50%;
}
.filed-upgrade[type="checkbox"].switcher:checked ~ .checkbox_radio::before {
  content: 'ON';
  margin-left: 0;
  color: #4fc752;
}
.filed-upgrade[type="checkbox"].switcher:checked ~ .checkbox_radio::after {
  left: 50%;
  background: #4fc752;
}
.filed-upgrade[type="checkbox"].switcher:disabled ~ .checkbox_radio::before {
  color: #a3a3a3 !important;
  background: none !important;
}
.filed-upgrade[type="checkbox"].switcher:disabled ~ .checkbox_radio::after {
  background: #a3a3a3 !important;
}
.input-label {
  position: relative;
}
.input-label label {
  color: #e6e6e6;
  position: absolute;
  top: 0;
  left: 0.5em;
  z-index: 1;
  line-height: 2.7em;
  transition: all 0.2s;
}
.input-label input {
  border-width: 0 0 1px;
  box-shadow: none !important;
}
.input-label input:focus + label,
.input-label input:valid + label {
  color: #00adc6;
  top: -0.9em;
  font-size: 0.74em;
  line-height: 1em;
}
.input-label input.success:focus + label,
.input-label input.success:valid + label {
  color: #4fc752;
}
.input-label input.warning:focus + label,
.input-label input.warning:valid + label {
  color: #ffc159;
}
.input-label input.error:focus + label,
.input-label input.error:valid + label {
  color: #e44545;
}
.input-label input.info:focus + label,
.input-label input.info:valid + label {
  color: #28b0ed;
}
.img_gallery {
  margin: 0 0 2rem;
  font-size: 0;
}
.img_gallery li {
  font-size: 1rem;
  position: relative;
  margin: 5px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}
.img_gallery a img {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  text-align: center;
  padding: 3px;
  background: transparent;
  transition: all 0.3s;
}
.img_gallery .image_caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  margin: 0;
  line-height: 1.65;
  padding: 4px;
  color: #FFF;
  text-align: center;
  font-size: 0.74em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background: rgba(0, 173, 198, 0.8);
}
@media only screen and (max-width: 380px) {
  .chalet-images .img_gallery .gallery_image,
  .chalet-images .img_gallery .gall {
    width: 90%;
  }
}
.rotator {
  position: relative;
  overflow: hidden;
}
.rotator .slide-description {
  padding: 10px 16px;
  color: #FFF;
  background: rgba(0, 0, 0, 0.005);
}
.rotator img {
  width: 100%;
}
.rotator img ~ .slide-description {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}
.cycle-slideshow {
  height: auto;
}
.cycle-slideshow.review-slider {
  height: auto;
}
.cycle-slideshow.review-slider p {
  text-align: justify;
}
.cycle-slideshow.review-slider img {
  width: auto;
  display: block;
  margin: 0 auto 1em;
}
.cycle-slideshow.review-slider h5 {
  font-weight: bold;
  text-align: center;
}
.cycle-slideshow.review-slider strong {
  margin-right: 10px;
}
@media only screen and (min-width: 768px) {
  .cycle-slideshow.review-slider {
    margin: 0 1.5em;
  }
}
.cycle-slideshow.main-slider {
  min-height: 450px;
}
@media only screen and (min-width: 1400px) {
  .cycle-slideshow.main-slider {
    height: 900px;
    height: 88vh;
  }
}
.cycle-slideshow.main-slider .slide-main > img {
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s;
}
.cycle-slideshow.main-slider .slide-main > img.loaded {
  opacity: 1;
}
.cycle-slideshow .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  list-style: none;
}
.cycle-slideshow .slide > a.generator-links:not(:first-child),
.cycle-slideshow .slide > a.tpopup:not(:first-child) {
  position: absolute;
  top: 10px;
  left: 10px;
}
.cycle-slideshow .slide > a.generator-links:not(:first-child) img,
.cycle-slideshow .slide > a.tpopup:not(:first-child) img {
  opacity: 1;
}
.cycle-slideshow .cycle-pager {
  position: absolute;
  bottom: 30px;
  left: 50%;
  z-index: 11;
  text-align: center;
  font-size: 0;
  line-height: 0;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
.cycle-slideshow .cycle-pager > * {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  margin: 0 4px;
  color: #FFF;
  background: #00adc6;
  border-radius: 10rem;
  width: 8px;
  height: 8px;
  line-height: 8px;
  font-size: 0;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
  transition: transform 0.3s;
}
.cycle-slideshow .cycle-pager > *::before {
  font-size: 8px;
}
.cycle-slideshow .cycle-pager > *:hover {
  background: #008093;
}
.cycle-slideshow .cycle-pager > *.cycle-pager-active {
  cursor: default;
  -webkit-transform: scale(1.5, 1.5);
  -ms-transform: scale(1.5, 1.5);
  transform: scale(1.5, 1.5);
}
.cycle-slideshow [class*="cycle-"].action-button {
  color: #4a4a4a;
  position: absolute;
  top: 50%;
  z-index: 20;
  cursor: pointer;
  margin-top: -19px;
  padding: 16px 12px;
  box-sizing: content-box;
  width: 1.15rem;
  height: 1.15rem;
  line-height: 1.15rem;
  font-size: 0;
  transition: all 0.3s;
  background: rgba(240, 240, 240, 0.4);
}
.cycle-slideshow [class*="cycle-"].action-button::before {
  font-size: 1.15rem;
}
.cycle-slideshow [class*="cycle-"].action-button:hover {
  background: rgba(240, 240, 240, 0.75);
}
.cycle-slideshow [class*="cycle-"].action-button::before {
  font-family: flexkit-icons;
}
.cycle-slideshow [class*="cycle-"].action-button.cycle-prev {
  left: -54px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.cycle-slideshow [class*="cycle-"].action-button.cycle-prev::before {
  content: "\e901";
}
.cycle-slideshow [class*="cycle-"].action-button.cycle-next {
  right: -54px;
}
.cycle-slideshow [class*="cycle-"].action-button.cycle-next::before {
  content: "\e901";
}
.cycle-slideshow:hover .action-button.cycle-prev {
  left: 10px;
}
.cycle-slideshow:hover .action-button.cycle-next {
  right: 10px;
}
.cycle-slideshow .review-action-button {
  position: absolute;
  top: 1rem;
  z-index: 20;
  cursor: pointer;
  box-sizing: content-box;
  font-size: 1.3rem;
  transition: all 0.3s;
}
.cycle-slideshow .review-action-button:hover:before {
  color: #4a4a4a;
}
.cycle-slideshow .review-action-button:before {
  color: #7d7d7d;
}
.cycle-slideshow .review-action-button.review-cycle-prev {
  left: 0;
}
.cycle-slideshow .review-action-button.review-cycle-prev:before {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.cycle-slideshow .review-action-button.review-cycle-next {
  right: 0;
}
@media only screen and (min-width: 1025px) {
  .d-hide,
  .t-visible,
  .m-visible {
    display: none !important;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .t-hide,
  .d-visible,
  .m-visible {
    display: none !important;
  }
}
@media only screen and (max-width: 768px) {
  .m-hide,
  .d-visible,
  .t-visible {
    display: none !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .logo {
    text-align: center;
  }
  .logo img {
    width: 75%;
  }
}
@media only screen and (max-width: 1024px) {
  #page {
    padding: 0;
  }
  .top-main-fixed {
    z-index: 35;
    position: relative;
  }
  .reserve-box .box {
    width: 80%;
  }
  .reserve-box .box > * {
    width: 31.31%;
    margin: 0 1%;
    padding: 10px 0;
  }
  .reserve-box .box > *.box-btn {
    width: 100%;
  }
  .logo img {
    width: 50% !important;
  }
  body {
    padding-top: 210px;
  }
  header.container {
    position: fixed;
    top: 48px;
    z-index: 25;
    box-shadow: 0 2px 15px rgba(255, 255, 255, 0.15);
  }
  .mobile-top-fixed {
    position: fixed;
    top: 0;
    right: 0;
    width: auto;
    z-index: 62;
  }
  .index-logo {
    width: 55vw;
    height: 55vw;
  }
  .datepickers-container .datepicker.active {
    position: fixed;
    background-color: white;
    left: 0 !important;
    right: 0 !important;
    top: 0 !important;
    bottom: 0 !important;
    width: 260px;
    margin: auto;
    height: 270px;
    box-shadow: 0 0 0 100vh rgba(255, 255, 255, 0.7);
  }
}
@media only screen and (max-width: 768px) {
  .page-heading {
    padding: 0 15px !important;
  }
  body {
    padding-top: 150px !important;
  }
  .logo {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    padding: 0 !important;
  }
  .logo img {
    width: 80% !important;
  }
  .captcha,
  .captcha img {
    width: 100%;
  }
  form [type="submit"],
  form [type="button"] {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
}
@media only screen and (max-width: 400px) {
  .reserve-box .box {
    width: 100%;
    height: 100%;
  }
}
html.mobile,
html.tablet {
  overflow: hidden;
}
html.mobile::before,
html.tablet::before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 101;
  background-color: #00adc6;
}
html.mobile .mobile-loader,
html.tablet .mobile-loader {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 102;
}
html.mobile .mobile-loader::after,
html.tablet .mobile-loader::after,
html.mobile .mobile-loader::before,
html.tablet .mobile-loader::before,
.slider-preloader:after,
.slider-preloader:before {
  margin: auto;
  content: "";
  display: block;
  border: 5px solid transparent;
  border-top-color: #FFF;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  border-radius: 50%;
}
html.mobile .mobile-loader::after,
html.tablet .mobile-loader::after,
.slider-preloader:after {
  animation: rotate 1.45s linear infinite;
  width: 4em;
  height: 4em;
}
html.mobile .mobile-loader::before,
html.tablet .mobile-loader::before,
.slider-preloader:before {
  animation: rotate 1.85s linear infinite;
  width: 4.75em;
  height: 4.75em;
}
html.mobile.loaded,
html.tablet.loaded {
  overflow: initial;
}
html.mobile.loaded::before,
html.tablet.loaded::before {
  content: none;
}
html.mobile.loaded .mobile-loader,
html.tablet.loaded .mobile-loader {
  display: none;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.slider-preloader {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 102;
}
@media only print {
  * {
    background: none !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    /* Images, vectors and such */
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter     id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    filter: gray;
    -webkit-filter: grayscale(100%);
    /* Chrome + Safari 6 */
    -moz-filter: grayscale(100%);
    /* Future proof */
    -ms-filter: grayscale(100%);
    /* Future proof */
    -o-filter: grayscale(100%);
    /* Future proof */
    filter: grayscale(100%);
    /* Future proof or polyfilled */
  }
  .print-hide,
  header,
  footer,
  nav,
  aside {
    display: none !important;
  }
  .print-visible {
    display: block !important;
  }
  .print-visible-inline {
    display: inline !important;
  }
  .print-page-break-inside,
  img,
  table {
    page-break-inside: avoid;
  }
  .print-page-break,
  article + article {
    page-break-before: always;
  }
  a::after {
    color: #616161;
    margin: 0 0 0 0.5em;
    font-size: 18px;
    font-style: italic;
    text-decoration: underline;
  }
  a.btn::after,
  a.page-title::after {
    margin: 0;
    display: block;
  }
  a.page-teaser-image::after,
  .page-teaser-image a::after,
  .gmaps a::after,
  a._lbox::after {
    display: none;
  }
  a[href*=".html"]::after,
  a[href^="http"]::after,
  a[href^="//"]::after {
    content: "(" attr(href) ")";
  }
}
