<footer class="grid_12 mt30px" itemscope itemtype="http://schema.org/LocalBusiness" role="contentinfo">
    <div class="footer-box grid_4 t-grid_3 initial-images text-center">
        <h5 class="uppercase mb30px">{$header:footer3:static}</h5>
        <!--<p>{$ imageonly:video-anchor:original:static}</p>-->
        {$content:video-container:static}
        <h5 class="text-light video-caption">{$header:video-label:static}</h5>
    </div>
    <div class="footer-box text-center grid_4 t-grid_3">
        <h5 class="text-bold uppercase"><span>{$header:footer1:static}</span></h5>
        <!--<div class="org-desc">{$ textonly:about-company:static}</div>-->

        <!-- Include Social links template -->
        <div class="social-panel">
            {$template:_social links}
        </div>
        <p class="copyright">{$fastbutton:mention-link:static} <span>{$header:copyright:static}</span></p>
    </div>
    <div class="footer-box footer-contacts grid_4 t-grid_3">
        <h5 class="text-bold">{$header:footer2:static}</h5>
        <dl class="horizontal icon-phonering" itemprop="telephone">
            <dt>{$header:tel-1:static}</dt><dd>{$plugin:widcard:BizTelephone:notag}</dd>
            <dt>{$header:tel-2:static}</dt><dd>{$header:tel-21:static}</dd>
            <dt>{$header:tel-3:static}</dt><dd style="margin-bottom: 15px;">{$header:tel-31:static}</dd>
            <dt>GPS:</dt><dd>{$header:gps-coord:static}</dd>
        </dl>
        <p class="icon-mail6 email-field text-light"><a href="mailto:{$plugin:widcard:BizEmail:notag}" itemprop="email">{$plugin:widcard:BizEmail:notag}</a></p>
        <address class="icon-location5 text-light" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
            <span itemprop="name">{$plugin:widcard:bizOrgName}</span><br/>
            <span itemprop="streetAddress">{$plugin:widcard:BizAddress1:notag}</span><br/>
            <span itemprop="postalCode">{$plugin:widcard:BizZip:notag}</span>
            <span itemprop="addressLocality">{$plugin:widcard:BizCity:notag}</span>
            <span itemprop="addressRegion">{$plugin:widcard:BizState:notag}</span>
            <meta itemprop="addressCountry" content="EN"/>
        </address>
    </div>

    <!--Video popup init-->
    <div class="popup-overlay" id="video-popup">
        <div class="_popup video-popup">
            <div class="_header">
                <h2 class="_title">{$header:video-title:static}</h2>
                <a class="icon-cancel close-popup" href="#!"></a>
            </div>
            <div class="_content">
                <!--{$ content:video-container:static}-->
            </div>

            <!--<iframe id="video-player" style="width: 560px; display: block; margin: 0 auto;" src="https://www.youtube.com/embed/UWg-meL55WA?rel=0" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe>-->

            {adminonly}
            <!--Enter video id:-->
            {/adminonly}
            <!--<span class="hidden" {adminonly} style="display: inline !important;" {/adminonly}>{$prepop:footer-video-popup:text:static}</span>-->


            <!--<div id="video-player"></div>-->

            <!--<script>-->

            <!--// Youtube API page - https://developers.google.com/youtube/iframe_api_reference-->

            <!--//                var tag = document.createElement('script'),-->
            <!--//                    idVideo = $("#footer-video-popup").val() ? $("#footer-video-popup").val() : $("#prepop-footer-video-popup").text();-->
            <!--//-->
            <!--//                tag.src = "https://www.youtube.com/iframe_api";-->
            <!--//                var firstScriptTag = document.getElementsByTagName('script')[0];-->
            <!--//                firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);-->
            <!--//-->
            <!--//                var player;-->
            <!--//                function onYouTubeIframeAPIReady() {-->
            <!--//                    player = new YT.Player('video-player', {-->
            <!--//                        height: '360',-->
            <!--//                        width: '640',-->
            <!--//                        videoId: '' + idVideo-->
            <!--//                    });-->
            <!--//                };-->
            <!--//-->
            <!--//                function stopVideo() {-->
            <!--//                    player.stopVideo();-->
            <!--//                };-->
            <!--</script>-->

        </div>
    </div>

</footer>


<div class="right-contact-fixed-box d-visible">
    <ul class="list-unstyled ">
        <li>
            <a href="tel:{$plugin:widcard:BizTelephone:href:notag}" class="icon-phone2"></a>
        </li>
        <li>
            <a href="#" data-dialog-element="#contact-dialog" data-dialog-height="600" class="icon-mail dialog-btn"></a>
        </li>
        <li>
            <a href="{$website:url}access-and-contact.html#contact_map" class="icon-location"></a>
        </li>
        <li>
            {$fastbutton:reserve-from-link-button:static}
            <div class="reserve-box-footer hide">
                <div class="box">
                    <div class="grid_4 box-start">
                        <span class="title">Il tuo arrivo</span>
                        <span class="day"></span>
                        <span class="month"></span>
                        <input readonly type="text" class="date-start" id="date-start" data-language="it">
                    </div>
                    <div class="grid_4 box-end">
                        <span class="title">La tua partenza</span>
                        <span class="day"></span>
                        <span class="month"></span>
                        <input readonly type="text" class="date-end" id="date-end" data-language="it">
                    </div>
                    <div class="grid_4 box-guest">
                        <span class="title">Numero di ospiti</span>
                        <span class="guest-number">1</span>
                        <i class="icon-arrow-left guest-less"></i>
                        <i class="icon-arrow-right guest-more"></i>
                    </div>
                    <div class="grid_12 mt30px text-center">
                        <a target="_blank" class="btn reserve-btn small" href="https://secure.reservit.com/reservit/reserhotel.php?lang=IT&id=2&hotelid=347614">Vedi disponibilità</a>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>


<div class="dialog" id="contact-dialog">
    <div class="content">
        {$content:pop-up-content:static}
    </div>
</div>