<div class="line-header">
    <div class="slogan d-visible">
        <div class="container">
            <div class="grid_6 prefix_3 suffix_1">
                {$header:slogan:static}
            </div>
            <div class="grid_2">
                <ul class="language-switcher list-unstyled">
                    <li><a href="/it" class="active">IT</a></li>
                    <li class="point"></li>
                    <li><a href="/" class="">FR</a></li>
                    <li class="point"></li>
                    <li><a href="/en" class="">EN</a></li>
                </ul>
            </div>
        </div>
    </div>

    <header class="container inside" role="banner">
        <div class="logo grid_3 text-center" itemscope itemtype="http://schema.org/Organization">
            <a href="{$website:url}" title="Location Chalet de Luxe La Clusaz" itemprop="url">
                <img src="{$plugin:widcard:bizLogo:url}" alt="Location Chalet de Luxe La Clusaz" width="717" height="135" itemprop="logo">
                <!--<span itemprop="name">{$plugin:widcard:BizOrgName:notag}</span>-->
            </a>
        </div>
        <nav id="main-menu" class="grid_9 top-main d-visible" role="navigation">{$menu:main:_main menu}</nav>
        <!--<hr/>-->
    </header>
</div>


