<!-- Top bar for mobile, with button show/hide menu -->
<div id="mobile-top-bar" class="mobile-bar top clearfix">
    <!--<span class="menu-btn left icon-list2" data-menu-position="left"></span>-->
    <span class="btn icon icon-list2" data-refer="main"></span>
    <span class="title">{$page:h1}</span>
    <!--<a class="btn icon icon-phone2" href="tel:{$plugin:widcard:BizTelephone:notag}"></a>-->
    <!--<div class="mobile-top-fixed text-right">-->
        <!--{$fastbutton:reserve-from-link-button:static}-->
        <!--<div class="language-switcher">-->
            <!--<a href="#" class="btn outline active">IT</a>-->
            <!--<a href="https://www.lafermedeslombardes.com" class="btn outline ">FR</a>-->
            <!--<a href="https://www.lafermedeslombardes.com/en" class="btn outline">EN</a>-->
        <!--</div>-->
    <!--</div>-->
</div>


<aside class="m-menu left" data-el="main">
    {$menu:main:_main menu}
</aside>


<div class="mobile-loader">
    <!--<span class="horz"></span>-->
    <!--<span class="vert"></span>-->
</div>



<div class="mobile-bar bottom d-hide">
<ul class="list-unstyled mobile-footer">
    <li>
        <a href="tel:{$plugin:widcard:BizTelephone:href:notag}" class="icon-phone2"></a>
    </li>
    <li>
        <a href="#" data-dialog-element="#contact-dialog" data-dialog-height="600" class="icon-mail dialog-btn"></a>
    </li>
    <li>
        <a href="{$website:url}access-and-contact.html#contact_map" class="icon-location"></a>
    </li>
    <li>
        {$fastbutton:reserve-from-link-button:static}
        <div class="reserve-box-footer mobile hide">
            <div class="box">
                <div class="grid_4 box-start">
                    <span class="title">Il tuo arrivo</span>
                    <span class="day"></span>
                    <span class="month"></span>
                    <input readonly type="text" class="date-start" id="date-start" data-language="it">
                </div>
                <div class="grid_4 box-end">
                    <span class="title">La tua partenza</span>
                    <span class="day"></span>
                    <span class="month"></span>
                    <input readonly type="text" class="date-end" id="date-end" data-language="it">
                </div>
                <div class="grid_4 box-guest">
                    <span class="title">Numero di ospiti</span>
                    <span class="guest-number">1</span>
                    <i class="icon-arrow-left guest-less"></i>
                    <i class="icon-arrow-right guest-more"></i>
                </div>
                <div class="grid_12 mt30px text-center">
                    <a target="_blank" class="btn reserve-btn small" href="https://secure.reservit.com/reservit/reserhotel.php?lang=IT&id=2&hotelid=347614">Vedi disponibilità</a>
                </div>
            </div>
        </div>
    </li>
</ul>
</div>