<!-- SCRIPTS ZONE -->
<script src="js/scripts.min.js"></script>
<script src="js/system/flexkit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/air-datepicker/2.2.3/js/datepicker.min.js"></script>
<script>


    $(function(){
        $('.reserve-btn').on('click', function(e){
            e.preventDefault();
            var link = e.target.href;
            var elementData = e.target.dataset;
            // get
            link = link + '&fday=' + elementData.day + '&fmonth=' + elementData.month + '&fyear=' + elementData.year + '&nbnights=' + e.target.dataset.daysNumber + '&nbadt=' + $(this).closest('.box').find('.box-guest .guest-number').text();
            console.log(link);
            window.open(
                link,
                '_blank' // <- This is what makes it open in a new window.
            );
        });
    });
    $(function(){
        var guestMin = 1;
        var guestMax = 7;


        $('.box-guest')
            .on('click', '.guest-more', function(e){
                var guestNumber =  Number($(this).closest('.box').find('.guest-number').text());
                if(guestMax == guestNumber){
                    return false;
                }
                $(this).closest('.box').find('.guest-number').text(guestNumber + 1);

            })
            .on('click', '.guest-less', function(){
                var guestNumber =  Number($(this).closest('.box').find('.guest-number').text());
                if(guestMin == guestNumber){
                    return false;
                }
                $(this).closest('.box').find('.guest-number').text(guestNumber - 1);

            });
    });
    $(function(){
//        var monthsShort = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        var monthsShort = ['Gen','Feb','Mar','Apr','Mag','Giu','Lug','Ago','Set','Ott','Nov','Dic'];


        var today = new Date();
        var dd = String(today.getDate()).padStart(2, '0');
        var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
        var yyyy = today.getFullYear();

        var tomorrow = new Date();
        tomorrow.setDate(today.getDate()+1);
        var tomorrowdd = String(tomorrow.getDate()).padStart(2, '0');
        var tomorrowmm = String(tomorrow.getMonth() + 1).padStart(2, '0'); //January is 0!
        var tomorrowyyyy = tomorrow.getFullYear();

        today = mm + '/' + dd + '/' + yyyy;
//        document.write(today);

        function isElementInViewport(el) {
            var rect = el.getBoundingClientRect();
            var fitsLeft = (rect.left >= 0 && rect.left <= $(window).width());
            var fitsTop = (rect.top >= 0 && rect.top <= $(window).height());
            var fitsRight = (rect.right >= 0 && rect.right <= $(window).width());
            var fitsBottom = (rect.bottom >= 0 && rect.bottom <= $(window).height());
            return {
                top: fitsTop,
                left: fitsLeft,
                right: fitsRight,
                bottom: fitsBottom,
                all: (fitsLeft && fitsTop && fitsRight && fitsBottom)
            };
        }



        $('.reserve-box, .reserve-box-footer').find('.box').each(function(){
            var _this = this;

            _this.querySelector('.box-start span.day').textContent = dd;
            _this.querySelector('.box-start span.month').textContent = monthsShort[Number(mm-1)];
//
            _this.querySelector('.box-end span.day').textContent = tomorrowdd;
            _this.querySelector('.box-end span.month').textContent = monthsShort[Number(tomorrowmm-1)];


            var $start = $('.date-start', _this),
                $end = $('.date-end', _this);

            $.fn.datepicker.language['it'] = {
                days: ['Domenica','Lunedì','Martedì','Mercoledì','Giovedì','Venerdì','Sabato'],
                daysShort: ['Dom','Lun','Mar','Mer','Gio','Ven','Sab'],
                daysMin: ['Do','Lu','Ma','Me','Gi','Ve','Sa'],
                months: ['Gennaio','Febbraio','Marzo','Aprile','Maggio','Giugno', 'Luglio','Agosto','Settembre','Ottobre','Novembre','Dicembre'],
                monthsShort: ['Gen','Feb','Mar','Apr','Mag','Giu', 'Lug','Ago','Set','Ott','Nov','Dic'],
            };


            function setPseudoDate(type, dayData, monthData){
                var selectorPart = '.box-' + type;

                _this.querySelector(selectorPart + ' .day').innerText = dayData;
                _this.querySelector(selectorPart + ' .month').innerText = monthData;

            }


            $start.datepicker({
                minDate: new Date(),
                language: 'it',
                position: 'bottom left',
                autoClose: true,
                onHide: function(inst){
                    inst.update('position', 'bottom left'); // Update the position to the default again
                },
                onShow: function(inst, animationComplete){
                    // Just before showing the datepicker
                    if(!animationComplete){
                        var iFits = false;
                        // Loop through a few possible position and see which one fits
                        $.each(['bottom left', 'bottom right', 'top right', 'top left'], function (i, pos) {
                            if (!iFits) {
                                inst.update('position', pos);
                                var fits = isElementInViewport(inst.$datepicker[0]);
                                if (fits.all) {
                                    iFits = true;
                                }
                            }
                        });
                    }
                },
                onSelect: function (formattedDate, date, inst) {
                    setPseudoDate('start', formattedDate.split('.')[0], monthsShort[formattedDate.split('.')[1]-1]);

//                console.log(formattedDate);
                    _this.querySelector('.reserve-btn').dataset.day = formattedDate.split('.')[0];
                    _this.querySelector('.reserve-btn').dataset.month = formattedDate.split('.')[1];
                    _this.querySelector('.reserve-btn').dataset.year = formattedDate.split('.')[2];

                    date.setDate(date.getDate() + 2);
                    $end.data('datepicker').update('minDate', date);

                    $end.data('datepicker').selectDate(date);
                    var difference = ($end.data('datepicker').selectedDates[0] - $start.data('datepicker').selectedDates[0]) / (1000 * 60 * 60 * 24);
                    _this.querySelector('.reserve-btn').dataset.daysNumber = difference;

//                    $end.focus();

                },
            });

            $end.datepicker({
                language: 'it',
                position: 'bottom left',
                autoClose: true,
                onHide: function(inst){
                    inst.update('position', 'bottom left'); // Update the position to the default again
                },
                onShow: function(inst, animationComplete){
                    // Just before showing the datepicker
                    if(!animationComplete){
                        var iFits = false;
                        // Loop through a few possible position and see which one fits
                        $.each(['bottom left', 'bottom right', 'top right', 'top left'], function (i, pos) {
                            if (!iFits) {
                                inst.update('position', pos);
                                var fits = isElementInViewport(inst.$datepicker[0]);
                                if (fits.all) {
                                    iFits = true;
                                }
                            }
                        });
                    }
                },
                onSelect: function (formattedDate, date) {
                    $start.data('datepicker').update('maxDate', date);

                    var difference = (date - $start.data('datepicker').selectedDates[0]) / (1000 * 60 * 60 * 24);
                    _this.querySelector('.reserve-btn').dataset.daysNumber = difference;

                    setPseudoDate('end', formattedDate.split('.')[0], monthsShort[formattedDate.split('.')[1]-1]);
                }
            }) ;
        });

    });
</script>
<script>

    $(function(){
        $('.right-contact-fixed-box .fb_reserve-from-link-button, .mobile-footer .fb_reserve-from-link-button').on('click', function(e){
            e.preventDefault();
            $(this).closest('li').find('.reserve-box-footer').toggleClass('hide');
        });
    });

</script>