@responsive-size-tablet-over : (@responsive-size-tablet + 1);
@media only screen and (min-width : @responsive-size-tablet-over) {
    .d-hide, .t-visible, .m-visible {
        display : none !important;
    }
}

@responsive-size-mobile-over : (@responsive-size-mobile + 1);
@media only screen and (min-width : @responsive-size-mobile-over) and (max-width : @responsive-size-tablet) {
    .t-hide, .d-visible, .m-visible {
        display : none !important;
    }
}

@media only screen and (max-width : @responsive-size-mobile) {
    .m-hide, .d-visible, .t-visible {
        display : none !important;
    }
}

//================================================\\
//************** Divece orientation **************\\
//================================================\\
@media only screen and (orientation : portrait) {
}

@media only screen and (orientation : landscape) {
}

//================================================\\
//*************** Divece screen size *************\\
//================================================\\

//***** Bigger than Desktop site size *****\\
@responsive-size-desktop-above : (@responsive-size-desktop + 1);
@media only screen and (min-width : @responsive-size-desktop-above) {
}

@media only screen and (max-width : @responsive-size-big-screen) {
}

@media only screen and (min-width : @responsive-size-mobile) and (max-width : @responsive-size-tablet) {
    .logo {
        text-align : center;

        img {
            width : 75%;
        }
    }
}

//***** Tablet Portrait *****\\
@media only screen and (max-width : @responsive-size-desktop) {
}

//***** All Mobile Sizes *****\\
@media only screen and (max-width : @responsive-size-tablet) {

    #page {
        padding : 0;
    }

    .top-main-fixed {
        z-index  : 35;
        position : relative;
    }

    .reserve-box {
        .box {
            width  : 80%;
            //height : 100%;

            & > * {
                width   : 31.31%;
                margin  : 0 1%;
                padding : 10px 0;

                &.box-btn {
                    width : 100%;
                }
            }
        }
    }

    .logo img {
        width : 50% !important;
    }

    body {
        padding-top : 210px;
    }

    header.container {
        //padding-top : 30px;
        position : fixed;
        top      : 48px;
        z-index  : 25;
        //z-index     : 100;
        .box-shadow(0 2px 15px rgba(255, 255, 255, 0.15));
    }

    .mobile-top-fixed {
        position : fixed;
        top      : 0;
        right    : 0;
        width    : auto;
        z-index  : 62;
    }

    .index-logo {
        width  : 55vw;
        height : 55vw;
    }


    .datepickers-container {
        .datepicker.active {
            position         : fixed;
            background-color : white;
            left             : 0 !important;
            right            : 0 !important;
            top              : 0 !important;
            bottom           : 0 !important;
            width            : 260px;
            margin           : auto;
            height           : 270px;
            box-shadow       : 0 0 0 100vh rgba(255, 255,255, 0.70);
        }
    }

}

//***** Just Mobile Landscape *****\\
@media only screen and (max-width : @responsive-size-tablet) and (orientation : landscape) {
}

//***** Just Mobile Portrait *****\\
@media only screen and (max-width : @responsive-size-mobile) {

    .page-heading {
        padding: 0 15px !important;
    }

    body {
        padding-top : 150px !important;
    }

    .logo {
        margin-top    : 10px !important;
        margin-bottom : 10px !important;
        padding       : 0 !important;
        img {
            width : 80% !important;
        }
    }

    .captcha {
        &, img {
            width : 100%;
        }
    }

    form [type="submit"], form [type="button"] {
        width        : 100%;
        margin-right : 0;
        margin-left  : 0;
    }
}

@media only screen and (max-width : 400px) {

    .reserve-box {
        .box {
            width  : 100%;
            height : 100%;
        }
    }

}

//***** Just Small Phone *****\\
@media only screen and (max-width : @responsive-size-phone) {
}

//================================================\\
//************** Divece pixel ratio **************\\
//================================================\\
@media screen and (-webkit-min-device-pixel-ratio : 1.3) {
}

@media screen and (-webkit-min-device-pixel-ratio : 1.5) {
}

@media screen and (-webkit-min-device-pixel-ratio : 2) {
}

@import "../mobile/loader";