// Featured Areas & Featured Pages & Related Pages
//==================================================
.featureapage, .featureditem li, .relatedpages li {
  & when (@widget-FA-FP-RP) {
    //margin-bottom : 30px;
    //.grid-elements(1; @grid-margin-width; true);

    a {
    }

    .page-teaser-image {
      overflow: hidden;
      //margin-bottom: 0.5em;

      img {
      }
    }

    .page-title {
    }

    span, p {
    }

    &:hover {

      a {
      }

      .page-teaser-image {
        img {
        }
      }

      .page-title {
      }

      span, p {
      }
    }
  }
}

// Featured Areas
//==================================================
.featureditem when (@widget-FA) and (@widget-FA-FP-RP){


  &.featured-offers-main, &.featured-services {
    margin-left: -15px;
    margin-right: -15px;
  }

  li {
  }

  a {
  }

  .page-teaser-image {
    img {
      //display: block;
      width: 100%;
    }
  }

  .page-title {
  }

  span {
    &[class*="@{icon-prefix}-"] {
      display: inline-block;
      font-size: 0.65rem;
    }
  }

  li:hover {

    a {
    }

    .page-teaser-image {
      img {
      }
    }

    .page-title {
    }

    span {
    }
  }

  .bottom-featured & {
    .inline-block-wrap();

    li {
      .grid-padding-elements(4; @grid-padding-width; false; 4; 1);
      vertical-align: top;
      margin-bottom: 30px;

      &:hover {
        .page-title {
          padding: 6px 1.5em;
          .translate(0, @grid-padding-width);
        }
      }
    }

    .page-current {
      display: none;
    }

    img {
      //display: block;
    }

    .page-title {
      position: absolute;
      bottom: @grid-padding-width;
      margin: 0;
      padding: 0.5em 1.5em;
      font-size: 1rem;
      text-transform: uppercase;
      color: #fff;

      .rgba(@brand-primary; 60);
      .transition(all, 0.6s);

      @media only screen and (min-width: @responsive-size-tablet) {
        font-size: 1.25vw;
      }

    }
  }

  .bottom-services & {
    .inline-block-wrap();

    li {
      .grid-padding-elements(2; @grid-padding-width; false; 2; 1);
      vertical-align: top;
      margin-bottom: 30px;

      &:hover {
        .page-title{
          padding: 6px 1.5em;
          .translate(0, @grid-padding-width);
        }
      }
    }

    .page-title {
      &:extend(.bottom-featured .featureditem .page-title);
      left: @grid-padding-width/2;
      right: @grid-padding-width/2;
      .rgba(@brand-primary; 45);
    }

    .category-current {
      display: none;
    }
  }

  .services-featured & {
    padding-bottom: calc(~"3vw - 30px");
    font-size: 0;

    li {
      position: relative;
      display: inline-block;
      margin-bottom: @grid-padding-width;
      font-size: 1rem;
      vertical-align: top;

      .grid-padding-elements(3; @grid-padding-width; false; 1; 1);

      &:hover {

        .page-title {
          &:after {
            left: calc(~"50% - 0.5vw");
            opacity: 1;
          }
        }
      }

      @media only screen and (max-width: @responsive-size-mobile) {
        padding-left: 0;
        padding-right: 0;
      }

    }

    .page-teaser-image {
      position: relative;

      .transition(opacity, 0.4s);

      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        height: 55vw;
        width: 55vw;
        border-radius: 50em;
        font-size: 1em;
        color: @primary-color;
        pointer-events: none;

        .translate(-50%, -50%);
        .rgba(@brand-primary; 60);

        @media only screen and (min-width: @responsive-size-tablet) {
          height: 17vw;
          width: 17vw;
        }
      }

    }

    .page-title {
      position: absolute;
      top: 50%;
      left: 50%;
      max-width: 40%;
      color: @primary-color;
      text-transform: uppercase;
      font-weight: normal;
      font-size: 0.9em;
      line-height: 1.35em;
      text-align: center;

      .translate(-50%, -50%);

      &:after {
        content: '\e901';
        position: absolute;
        bottom: -2.5em;
        left: 25%;
        opacity: 0;

        font-family: @font-family-icons;
        speak: none;
        font-style: normal;
        font-weight: normal;
        text-transform: none;
        line-height: 1;
        text-align: center;
        font-size: 1em;
        .inline-block();
        .transition(left 0.4s);

        // Better Font Rendering
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }

      @media only screen and (min-width: @responsive-size-mobile) {
        font-size: 1.3em;
      }

      @media only screen and (min-width: @responsive-size-tablet) {
        font-size: 1.3vw;
      }
    }
  }

  .main-featured & {
    font-size: 0;

    li {
      position: relative;
      display: inline-block;
      margin-bottom: @grid-padding-width;
      font-size: 1rem;
      vertical-align: top;

      &:nth-child(-n + 2) {
        .grid-padding-elements(2; @grid-padding-width; false; 2; 1);
      }

      .grid-padding-elements(3; @grid-padding-width; false; 2; 1);

      &:after {
        content: "Scopri di pi? \2192";
        position: absolute;
        z-index: 1;
        left: @grid-padding-width;
        bottom: @grid-padding-width/2;
        pointer-events: none;
        font-size: 0.8em;

        .button();
        .rgba(@brand-primary; 60);

        @media only screen and (min-width: @responsive-size-tablet) {
          font-size: 1vw;
          left: @grid-padding-width + @grid-padding-width/2;
          bottom: @grid-padding-width;
        }
      }

      &:hover, .touch {
        .page-teaser-image:before {
          .rgba(@black, 30);
        }

        .page-title {
          top: 10%;

          & + span {
            opacity: 1;
            top: 30%;
          }
        }

      }

      .page-teaser-image {
        position: relative;

        img {
          display: block;
          min-height: 287px;
        }

        &:before {
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          top: 0;

          .transition(background, 0.4s);
        }
      }

      .page-title {
        position: absolute;
        left: @grid-padding-width;
        top: 50%;
        font-size: 1.65em;
        color: @primary-color;
        text-transform: uppercase;
        font-weight: 300;

        .transition(top, 0.4s);

        & + span {
          position: absolute;
          left: @grid-padding-width;
          top: 85%;
          font-size: 1em;
          opacity: 0;
          color: @primary-color;

          .transition(top 0.4s; opacity 0.4s);

          @media only screen and (min-width: @responsive-size-tablet) {
            font-size: 1vw;
            left: @grid-padding-width + @grid-padding-width/2;
          }
        }

        @media only screen and (min-width: @responsive-size-tablet) {
          left: @grid-padding-width + @grid-padding-width/2;
          font-size: 2em;
          font-size: 2.4vw;
        }
      }
    }
  }
}

// Featured Pages
//==================================================
.featureapage when (@widget-FP) and (@widget-FA-FP-RP){
  //float : left;
  position: relative;

  a {
  }

  img {
    display: block;
    .transition(opacity 0.6s);
  }

  .tpopup {
    position: absolute;
    top: 0;
    left: 0;
  }


  .page-teaser-image {
    img {
      opacity: 1;
      .transition(opacity 0.6s);
      .translate3d(0, 0, 0);
    }
  }

  .page-title {
    display: none;

  }

  li {
    display: block;

  }

  //&:before {
  //  content: '';
  //  position: absolute;
  //  top: 0;
  //  bottom: 0;
  //  left: 0;
  //  right: 0;
  //  background: transparent;
  //  pointer-events: none;
  //  .transition(background 0.5s)
  //}

  p, span {
    position: absolute;
    bottom: @grid-padding-width;
    width: 90%;
    padding: 15px @grid-padding-width;
    font-size: 1.3em;
    line-height: 1.3em;
    font-weight: 300;
    text-transform: uppercase;
    color: @primary-color;
    pointer-events: none;

    .transition(all 0.6s);
    .rgba(@brand-primary; 60);

    @media only screen and (min-width: @responsive-size-tablet) {
      padding: 20px @grid-padding-width;
      font-size: 1.65em;
      font-size: 2.1vw;
    }

    @media only screen and (min-width: @responsive-size-mobile) {
      font-size: 1.65em;
    }

    .tpopup {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &:hover, .touch {

    img {
      opacity: 0.8;
    }

    li {
      &:before {
        //.rgba(@primary-color; 20);
      }
    }

    a {
    }

    .page-teaser-image {

      img {
      }
    }

    .page-title {
    }

    p, span {
      padding: 6px @grid-padding-width;
      .translate(0, @grid-padding-width);
    }
  }
}

// Related Pages
//==================================================
.relatedpages when (@widget-RP) and (@widget-FA-FP-RP){
  li {
  }

  a {
  }

  .page-teaser-image {
    img {
    }
  }

  .page-title {
  }

  span {
  }

  li:hover {
    a {
    }

    .page-teaser-image {
      img {
      }
    }

    .page-title {
    }

    span {
    }
  }
}