.main_menu when (@menu-main) {
    position   : relative;
    z-index    : 11;
    text-align : center;
    & when not(@nav-bg = transparent) {
        background : @nav-bg;
    }
    & when not(@nav-color = @link-color) {
        color : @nav-color;
    }

    .top-main & {

        & > li {
            font-size : 1.25vw;

            a {
                padding : @padding-base-vertical 1.4vw;
            }

            @media only screen and (min-width : 1600px) {
                font-size : 1.35vw;
            }

        }
    }


    .top-main-fixed .top-main & {
        & > li {
            font-size : 1.15vw;
        }
    }


    .inside .top-main & {
        & > li {
            font-size : 1vw;

            a {
                padding : @padding-base-vertical 20px;
            }

            @media only screen and (min-width : 1600px) {
                font-size : 1vw;
            }

        }
    }

    & > li {
        //float: left;
        display        : inline-block;
        vertical-align : bottom;
        position       : relative;
        font-weight    : 600;
        font-size      : 1.4vw;
        text-align     : center;
        //padding: 0 @padding-large-horizontal;

        a {
            border-bottom : 2px solid transparent;

            .transition(border-color 0.3s);
        }

        &:hover {
            & when not(@nav-bg = @nav-bg-li-hover) {
                background : @nav-bg-li-hover;
            }
            & when not(@nav-color = @nav-color-li-hover) {
                color : @nav-color-li-hover;
            }

            & > a {
                border-bottom : 2px solid @brand-primary;
            }

            ul {
                text-align : left;
                display    : block;
            }
        }
        // TODO Why we had this property for the tag 'a'?
        //& > a when (@responsive), (@adaptive){
        //    float : left;
        //}
    }

    a {
        display         : block;
        padding         : @padding-base-vertical 0;
        text-decoration : none;
        text-transform  : uppercase;
        font-size       : @font-size-small;
        & when not(@nav-color = @link-color) {
            color : inherit;
        }

        &.current {
            & when (@nav-bg-li-hover = @nav-bg-li-current) {
                &:extend(.main_menu > li:hover);
            }

            & when not(@nav-bg-li-hover = @nav-bg-li-current) {
                background : @nav-bg-li-current;
            }
            & when not(@nav-color-li-hover = @nav-color-li-current) {
                color : @nav-color-li-current;
            }
        }
    }

    ul {
        position   : absolute;
        left       : 0;
        top        : 100%;
        z-index    : 0;
        display    : none;

        //width      : 300px;
        min-width: 200px;
        white-space: nowrap;
        background : @nav-drop-down-list-bg;
        & when not(@nav-drop-down-list-color = @nav-color) {
            color : @nav-drop-down-list-color;
        }
        .box-shadow(0 3px 5px @gray-dark);

        & when (@mobile-menu) {
            //&.open:extend(.mobile-menu ul.open) {
            //}
        }

        li {
            float : none;

            &:hover {
                & when not(@nav-drop-down-list-bg-hover = @nav-bg-li-hover)
                   and not(@nav-drop-down-list-bg-hover = @nav-drop-down-list-bg) {
                    background : @nav-drop-down-list-bg-hover;
                }
                & when not(@nav-drop-down-list-color-hover = @nav-drop-down-list-color)
                   and not(@nav-drop-down-list-color-hover = @nav-color-li-hover) {
                    color : @nav-drop-down-list-color-hover;
                }
            }

            a {
                &.current {
                    & when (@nav-drop-down-list-color-hover = @nav-drop-down-list-color-current) {
                        &:extend(.main_menu ul li:hover);
                    }

                    & when not(@nav-drop-down-list-bg-current = @nav-drop-down-list-bg)
                       and not(@nav-drop-down-list-bg-current = @nav-drop-down-list-bg-hover) {
                        background : @nav-drop-down-list-bg-current;
                    }
                    & when not(@nav-drop-down-list-color-current = @nav-drop-down-list-color)
                       and not(@nav-drop-down-list-color-current = @nav-drop-down-list-color-hover) {
                        color : @nav-drop-down-list-color-current;
                    }
                }
            }
        }
    }
}