.rotator when (@widget-rotator) {
  position: relative;
  overflow: hidden;
  //background: #fff;

  // -- Description
  .slide-description {
    padding: @padding-large-vertical @padding-large-horizontal;
    color: #FFF;
    .rgba(#000; 0.5);
  }

  img {
    width: 100%;

    & ~ .slide-description {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
}

.cycle-slideshow when (@widget-rotator) {

  &.review-slider {
    height: auto;

    p {
      text-align: justify;
    }

    img {
      width: auto;
      display: block;
      margin: 0 auto 1em;
    }

    h5 {
      font-weight: bold;
      text-align: center;
    }

    strong {
      margin-right: 10px;
    }

    @media only screen and (min-width : @responsive-size-mobile){
      margin: 0 1.5em;
    }
  }

  height: auto;

  &.main-slider {
    min-height: 450px;

    @media only screen and (min-width : 1400px){
      height: 900px;
      height: 88vh;
    }

    .slide-main {
      & > img {
        height: 100%;
        opacity: 0;
        .transition(opacity .3s);
        
        &.loaded {
          opacity: 1;
        }
      }
    }

    //&::after {
    //  content: "";
    //  display: block;
    //  width: 65%;
    //  position: absolute;
    //  left: 50%;
    //  bottom: -35vh;
    //  height: 32vh;
    //  z-index: 10;
    //  border-radius: 40em 40em 0 0;
    //  box-shadow: 0px 0px 3.5vw 5.5vw rgba(255, 255, 255, 0.80);
    //  background: rgba(255, 255, 255, 0.80);
    //  -webkit-transform: translate(-50%, 0);
    //  -ms-transform: translate(-50%, 0);
    //  transform: translate(-50%, 0);
    //
    //  .translate(-50%, 0);
    //}
  }

  .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    list-style: none;

    & > a.generator-links:not(:first-child), & > a.tpopup:not(:first-child) {
      position: absolute;
      top: 10px;
      left: 10px;

      img {
        opacity: 1;
      }
    }
  }

  // -- Pager
  .cycle-pager {
    position: absolute;
    bottom: 30px;
    left: 50%;
    z-index: 11;
    text-align: center;
    font-size: 0;
    line-height: 0;

    .translate(-50%, 0);

    > * {
      .inline-block;
      cursor: pointer;
      margin: 0 4px;
      color: @primary-color;
      background: @brand-primary;
      .border-radius(10rem);
      .icon-size(8px; true);

      .scale(1; 1);
      .transition(transform 0.3s);

      &:hover {
        background: darken(@primary-bg, 10%);
      }

      &.cycle-pager-active {
        cursor: default;
        //color: @primary-color;
        //background: @primary-bg;

        .scale(1.5; 1.5);
      }
    }
  }

  [class*="cycle-"].action-button {
    //background: @primary-bg;
    color: @gray-dark;
    position: absolute;
    top: 50%;
    z-index: 20;
    cursor: pointer;
    margin-top: -@slider-button-size / 2 - @padding-large-vertical;
    padding: 16px 12px;
    .box-sizing(content-box);
    .icon-size(1.15rem; true);
    .transition();
    .rgba(@body-bg, 40);

    &:hover {
      //color: @primary-color;
      .rgba(@body-bg, 75);
    }

    &::before {
      font-family: @font-family-icons;
    }

    &.cycle-prev {
      left: -@slider-button-size * 3;
      .rotate(180deg);

      &::before {
        content: "\e901";
      }
    }

    &.cycle-next {
      right: -@slider-button-size * 3;

      &::before {
        content: "\e901";
      }
    }
  }

  &:hover .action-button {
    &.cycle-prev {
      left: 10px;
    }

    &.cycle-next {
      right: 10px;
    }

  }

  .review-action-button {
    position: absolute;
    top: 1rem;
    z-index: 20;
    cursor: pointer;
    //margin-top: -@slider-button-size / 2 - @padding-large-vertical;
    //padding: @padding-large-vertical;
    .box-sizing(content-box);
    font-size: 1.3rem;
    .transition();

    &:hover {
      &:before {
        color: @gray-dark;
      }
    }

    &:before {
      color: @gray-light;
    }

    &.review-cycle-prev {
      left: 0;

      &:before {
        .rotate(180deg);
      }
    }

    &.review-cycle-next {
      right: 0;
    }
  }

}