//	PAGE Style
//==================================================
body {
    // custom scroll-bar
    //.scroll-bar();
    overflow-x : hidden;

    &.top-main-fixed-space {
        padding-top : 280px;
    }

}

.grid_12 {
    //margin-right: 30px !important;
    //margin-left: 30px !important;
}

main {
}

.container {
    //padding: @grid-padding-width 0 0;
    //@media only screen and (min-width : @responsive-size-mobile ) {
    //    padding : 0 @grid-padding-width/2 0;
    //}
}

.alpha-p {
    padding-left : 0 !important;
}

.omega-p {
    padding-right : 0 !important;
}

.omega-p-tablet {
    @media only screen and (max-width : @responsive-size-tablet) {
        padding-right : 0 !important;
    }
}

.slogan {
    padding          : 0.25em 0;
    text-align       : center;
    text-transform   : uppercase;
    color            : #FFFFFF;
    background-color : @brand-primary;
    img {
        margin : 0 0.5em;
    }
}

//	HEADER Style
//==================================================

.line-header {
    z-index : 35;

    .container {
        width : 100%;
    }
}

header {
    //margin-bottom : 45px;
    background : @header-bg;
    color      : @header-color;

    &.container {

        //padding-top : @grid-padding-width;
        z-index : 12;
    }

    &.inside {
        .flexbox(row; nowrap; center);
    }

    // -- LOGO Style
    .logo {
        text-decoration : none;
        margin-top      : 0;
        margin-bottom   : 20px;
        margin-top      : 20px;

        a {
            display : inline-block;
        }

        span {
            position       : absolute;
            left           : 12px;
            top            : 80%;
            font-size      : 1.65rem;
            font-weight    : normal;
            text-transform : uppercase;
            color          : @gray-dark;
        }

        img {
            width : auto;
            //max-width : 580px;
        }
    }

    hr {
        margin       : 0 -@grid-padding-width;
        border-width : 2px;
        border-color : @gray-lighter;
    }

}

.line-header {

    @media only screen and (min-width : @responsive-size-tablet ) {
        &.top-main-fixed {
            position         : fixed;
            top              : 0;
            right            : 0;
            left             : 0;
            bottom           : auto;
            width            : 100%;
            max-width        : 100%;
            z-index          : 1000;
            text-align       : center;
            background-color : @primary-color;

            .box-shadow(0 2px 15px rgba(0, 0, 0, 0.15));
            .translate3d(0; 0; 0);

            //.main_menu {
            //    text-align : left;
            //
            //    li {
            //        display   : inline-block;
            //        float     : none;
            //        max-width : 100%;
            //        font-size : 1.25vw;
            //
            //        a {
            //            padding : @padding-base-vertical 1.2vw;
            //        }
            //
            //        ul {
            //            li {
            //                display : block;
            //            }
            //        }
            //    }
            //}

            .logo {
                margin-top    : 10px;
                margin-bottom : 10px;
                padding       : 0;
                img {
                    max-width : 400px;
                }
            }
        }
    }
}

.logo-caption {
    @media only screen and (min-width : @responsive-size-tablet) {
        font-size : 1.45vw;
    }
}

.language-switcher {
    //float             : right;
    //margin-left       : 5px;
    margin-top        : 0;
    margin-bottom     : 0;

    display           : -webkit-box;
    display           : -ms-flexbox;
    display           : flex;
    -webkit-box-pack  : end;
    -ms-flex-pack     : end;
    justify-content   : flex-end;
    -webkit-box-align : center;
    -ms-flex-align    : center;
    align-items       : center;

    li {
        display           : -webkit-box;
        display           : -ms-flexbox;
        display           : flex;
        -webkit-box-pack  : center;
        -ms-flex-pack     : center;
        justify-content   : center;
        -webkit-box-align : center;
        -ms-flex-align    : center;
        align-items       : center;
        &.point {
            margin-left  : 3%;
            margin-right : 3%;
            &::before {
                content          : "";
                width            : 3px;
                height           : 3px;
                margin-right     : 4px;
                .border-radius(50%);
                background-color : @primary-color;

            }
        }
    }

    a {
        padding         : 0 10px;
        .link-color(@primary-color);
        text-decoration : none;

        border-bottom   : 2px solid transparent;

        &.active {
            border-bottom-color : @primary-color;
        }

        & + a {
            &::before {
                content : "";
                width   : 3px;
                height  : 3px;
            }
        }
    }

    @media only screen and (max-width : @responsive-size-tablet) {
        height   : 48px;
        overflow : hidden;

        .btn {
            display       : block;
            margin-bottom : 2px;
        }

        a:first-of-type {
            pointer-events : none;
        }

        &:hover, &.touch, &.active {
            height   : auto;
            overflow : visible;
        }
    }

    .btn {
        width       : 48px;
        height      : 48px;
        line-height : 48px;
        padding     : 0;
        border      : 2px solid @brand-primary;
        color       : @brand-primary;

        &:hover, &.active {
            background   : @brand-primary;
            color        : @primary-color;
            border-color : @brand-primary;
        }

        @media only screen and (min-width : @responsive-size-tablet) {
            width       : 2.7em;
            height      : 2.7em;
            line-height : 2.7em;
        }
    }
}

// -- NAV Style
nav {
    //&.top-main {

    //}

    &.col-menu {
        display : inline-block;

        li {
            display    : block;
            text-align : left;

            ul {
                display : none !important;
            }
        }
    }
}

.mobile-top-fixed {
    @media only screen and (min-width : @responsive-size-tablet ) {
        &.fixed-scroll > a {
            position  : fixed;
            top       : 2px;
            right     : @grid-padding-width/2;
            z-index   : 70;
            font-size : 0.95vw;
        }
    }
}

.bottom-buttons {
    a {
        margin-bottom : 1em;
        margin-left   : 0.8em;
        margin-right  : 0.8em;
    }

    @media only screen and (min-width : @responsive-size-tablet ) {
        padding-top : 16vh;
    }

}

//	CONTENT Style
//==================================================
article {
}

section {
    p {
        margin-bottom : 20px;
    }
}

.form-cont-acc {
    display : none;

    &:target {
        padding-top : 48px;
    }
}

.disable-hover {
    pointer-events : none;
}

.download-button {
    float         : right;
    height        : 110px;
    width         : 110px;
    border-radius : 50em;
    font-size     : 3rem;
    color         : @primary-color;
    text-align    : center;
    background    : @brand-error;

}

#page {
    padding : 0 60px;
}

#page, main {
    & > section {
        margin-bottom : @grid-padding-width*3;

        &:not(:first-of-type) {
            padding-top : 3vw;
        }
    }

    h1.page-heading {
        display        : inline-block;
        width          : 100%;
        padding        : 50px @grid-padding-width/2;
        margin-bottom  : 30px;
        text-align     : center;
        line-height    : 1;
        text-transform : uppercase;
        font-weight    : 300;
        background     : @gray-lighter;

        @media only screen and (max-width : @responsive-size-tablet ) {
            font-size : 2em;
        }
    }

    h2 {
        font-weight    : 300;
        text-transform : uppercase;
    }

    h4 {
        padding-left  : 15px;
        line-height   : 2.5em;
        border-bottom : 1px solid @gray-light1;
        font-weight   : bold;
    }
}

.full-imgs {
    img {
        width : 100%;
    }
}

.small-lh {
    p, ul, li {

        line-height : 1.5;
    }
}

.pb30px {
    padding-bottom : 30px;
}

.pt0 {
    padding-top : 0 !important;
}

.pl30px {
    padding-left : 30px;
}

.pt30px {
    padding-top : 30px;
}

.pl0px {
    padding-left : 0 !important;
}

.mb10px {
    margin-bottom : 10px;
}

.p {
    font-size : 1rem;
    color     : @gray-light;
}

.error-container-404 {
    text-align : center;

    @media only screen and (min-width : @responsive-size-tablet ) {
        text-align : right;
    }
}

.bottom-section {
    h2 {
        margin-bottom : 0.75em;
        color         : @brand-primary;
        text-align    : center;
    }

    section {
        margin-bottom : @grid-padding-width;
    }
}

.review-section {
    a:not(.tpopup) {
        color           : @brand-primary;
        text-decoration : none;
    }
}

.initial-images {
    img {
        width : auto;
    }
}

.location-anchors {
    list-style-type : none;
    margin          : 0;
    padding-top     : 1em;
    padding-left    : 0;

    a {
        line-height : 2.5;

        &:first-of-type {
            color           : @gray-dark;
            text-decoration : none;
            font-weight     : bold;
            white-space     : nowrap;

            &:after {
                content                 : "\e903";
                color                   : @brand-error;
                margin-left             : 8px;
                opacity                 : 0;

                font-family             : @font-family-icons;
                speak                   : none;
                font-style              : normal;
                font-weight             : normal;
                text-transform          : none;
                line-height             : 1;
                position                : relative;
                text-align              : center;
                .inline-block(baseline);

                // Better Font Rendering
                -webkit-font-smoothing  : antialiased;
                -moz-osx-font-smoothing : grayscale;

                .transition();
            }

            &:hover {
                &:after {
                    opacity : 1;
                }
            }
        }
    }

    @media only screen and (min-width : @responsive-size-tablet) {
        padding-top : 4em;
    }
}

.chalet-heading {
    background    : @gray-lighter;
    padding       : 50px @grid-padding-width/2;
    margin-bottom : 30px;

    @media only screen and (max-width : @responsive-size-tablet ) {
        text-align : center;
        padding    : 20px 0 70px;
    }

    h1 {
        display        : inline-block;
        margin-bottom  : 0;
        padding        : 0 2vw 0 10px;
        line-height    : 1.2;
        text-transform : uppercase;
        font-weight    : 500;

        span {
            font-size      : 0.74rem;
            display        : inline-block;
            vertical-align : top;
        }
    }

    & > span {
        padding     : 0 3.5vw;
        font-size   : 2.25em;
        border-left : 1px solid @gray-light;
        line-height : 1;
        font-weight : 300;
        white-space : nowrap;

        @media only screen and (max-width : @responsive-size-mobile ) {
            display      : block;
            padding-top  : 0.2em;
            border-width : 0;
        }

        span {
            font-size   : @font-size-mini;
            font-weight : bold;
        }
    }
}

.action-buttons-chalet {
    position : relative;
    float    : right;

    p {
        display        : inline-block;
        margin-right   : @grid-padding-width;
        text-transform : uppercase;
        color          : @brand-primary;
    }

    @media only screen and (max-width : @responsive-size-tablet ) {
        position : absolute;
        bottom   : 0;
        right    : 0;
        left     : 0;
    }

    .custom-calendar {
        position         : absolute;
        top              : 115%;
        right            : 0;
        width            : 280px;
        height           : 320px;
        display          : none;
        overflow         : hidden;
        padding          : @grid-padding-width/2;
        z-index          : 12;
        background-color : @body-bg;

        .box-shadow(1px 1px 5px 0px @gray);

        &.active {
            display : block;
        }

        iframe {
            width  : 250px;
            height : 280px;
        }

        @media only screen and (max-width : @responsive-size-tablet ) {
            right : ~'calc(50%  - 140px)';
        }
    }
}

.calendar-button {
    margin-right  : @grid-padding-width/2;
    padding-left  : 0.8em;
    padding-right : 0.8em;

    &:before {
        font-size : 1.1em;
        color     : @primary-color;
    }

    @media only screen and (max-width : @responsive-size-mobile ) {
        width  : 50px;
        height : 50px;
        color  : transparent;
    }
}

.chalet-images {
    margin-bottom : 1.5em;

    .rotator {
        margin : 0 auto 30px;
    }

    ul {
        text-align : center;
    }
}

.chalet-facilities {
    margin-bottom : 1em;

    h5 {
        font-size   : 1.25em;
        font-weight : bold;

        &:before {
            font-size     : 1.8em;
            color         : @gray-light;
            padding-right : 0.25em;
        }
    }

    ul {
        list-style-type : none;
        padding-left    : 1em;
        text-align      : left;

        li {
            color : @gray-light;

            &:before {
                content                 : '\e0a4';
                padding                 : 0 10px 8px 0;
                color                   : @brand-primary;

                font-family             : @font-family-icons;
                speak                   : none;
                font-style              : normal;
                font-weight             : normal;
                text-transform          : none;
                line-height             : 1;
                position                : relative;
                text-align              : center;
                .inline-block();

                // Better Font Rendering
                -webkit-font-smoothing  : antialiased;
                -moz-osx-font-smoothing : grayscale;
            }
        }
    }

    @media only screen and (max-width : 1220px ) {
        width : 100%;
    }
}

.mfp-title {
    display : none;
}

.video-caption {
    font-size   : 1em;
    line-height : 1.2;
    max-width   : 260px;
    margin      : 0 auto;
}

.index-image {
    position    : relative;
    padding-top : 92.5%;

    & > img {
        position : absolute;
        top      : 0;
        left     : 0;
    }
}

#video-player {
    width   : 560px;
    display : block;
    margin  : 0 auto;
}

.index-logo {
    top           : 50%;
    left          : 50%;
    position      : absolute;
    border-radius : 60em;
    display       : block;
    width         : 17vw;
    height        : 17vw;

    .translate(-50%, -50%);
    .rgba(@primary-color, 70);

    & > img {
        position : absolute;
        width    : 65%;
        top      : 48%;
        left     : 50%;
        .translate(-50%, -48%);
    }
}

#calendarTabs1 {
    display : none;
}

.locations-header {
    padding-top : 1em;

    img {
        display        : inline-block;
        vertical-align : top;
    }

    h5 {
        display        : inline-block;
        padding-left   : @grid-padding-width/2;
        width          : 65%;
        padding-top    : 0;
        font-size      : 1em;
        line-height    : 1.4;
        text-transform : uppercase;
        color          : @brand-primary;
    }
}

.service-image {
    position      : relative;
    margin-bottom : 30px;

    figcaption {
        position    : absolute;
        top         : 10%;
        left        : 0;
        width       : 30%;
        padding     : 0.5em;
        font-size   : 1.1em;
        text-align  : center;
        font-weight : bold;
        color       : @primary-color;

        .rgba(@brand-primary; 60);

        @media only screen and (max-width : @responsive-size-mobile ) {
            padding : 1vh 10vw;
        }
    }
}

.checkmark-list {
    list-style-type : none;
    padding-left    : 1em;

    li {
        position     : relative;
        color        : @gray-light;
        padding-left : 1.5rem;

        &:before {
            content                 : '\e0a4';
            position                : absolute;
            left                    : 0;
            top                     : 4px;
            padding                 : 0 10px 8px 0;
            color                   : @brand-primary;

            font-family             : @font-family-icons;
            speak                   : none;
            font-style              : normal;
            font-weight             : normal;
            text-transform          : none;
            line-height             : 1;
            text-align              : center;
            .inline-block();

            // Better Font Rendering
            -webkit-font-smoothing  : antialiased;
            -moz-osx-font-smoothing : grayscale;
        }
    }

    a {
        color           : @brand-primary;
        text-decoration : none;

        &:hover {
            text-decoration : underline;
        }
    }
}

.page404 {
    height                  : 100%;
    padding                 : @grid-padding-width*2 @grid-padding-width/2;
    background-image        : url(../images/light-bg.jpg);
    -webkit-background-size : cover;
    background-size         : cover;
    background-repeat       : no-repeat;

    @media only screen and (min-width : @responsive-size-tablet ) {
        padding : @grid-padding-width;
    }
}

.review-container {
    .inline-block-wrap
}

.review-item {
    margin-bottom : @grid-padding-width*2;

    .inline-block();
    .grid-padding-elements(2; @grid-padding-width; false; 2; 1);
}

.review-author {
    font-weight : bold;

    em {
        font-weight : normal;
    }
}

.notifications-toggle {
    .animation(bounce);
    animation-name            : bounce;
    animation-duration        : 1s;
    animation-iteration-count : infinite;
}

.reserve-buttons {
    .inline-block-wrap(top);
    margin-bottom : 3rem;
    padding-top   : 2rem;
    text-align    : center;

    @media only screen and (min-width : @responsive-size-tablet ) {
        padding-left : 12.5vw;
    }
}

.bottom-slider {
    .rotator {
        margin : 0 auto;
    }
}

.reserve-item {
    //.grid-padding-elements(5; @grid-padding-width; false; 5; 1);
    margin-bottom : @grid-padding-width;
    font-weight   : normal;
    text-align    : center;
}

.circle-button {
    display       : inline-block;
    margin-bottom : 0.5rem;
    text-align    : center;

    a {
        height         : 6em;
        width          : 6em;
        padding        : 0;
        line-height    : 6em;
        border-radius  : 50em;
        text-transform : capitalize;
    }
}

.text-hide {
    color : transparent;
}

.reserve-item-name {
    color : @gray-light;
}

.contact {
    iframe {
        width : 100%;
    }
}

//	SIDEBAR Style
//==================================================
aside {
    padding-top : @grid-padding-width;
}

.aside-box {
    margin-bottom : @grid-padding-width;
    padding       : @grid-padding-width;
    border        : 1px solid @gray-light1;

    &.caption-content {
        & > p {
            display     : inline-block;
            line-height : 2;

            @media only screen and (min-width : @responsive-size-desktop ) {
                width : 60%;
            }
        }
    }
}

.contacts-section {
    p {
        color : @gray-dark;
    }
}

//	FOOTER Style
//==================================================
footer {
    padding    : @padding-larger-vertical * 3 0 @padding-larger-vertical * 2;
    background : @footer-bg;
    color      : @footer-color;

    p {
        color         : @gray-lighter;
        margin-bottom : 20px;
    }

    address {
        margin-bottom : 30px;
    }

    .org-desc {
        font-weight : 300;
    }

    .email-field a {
        color           : @footer-color;
        text-decoration : none;

        &:hover {
            text-decoration : underline;
        }
    }

    .copyright {
        line-height : 2em;

        a {
            padding-right   : 1.3em;
            color           : @brand-primary;
            text-decoration : none;
            font-weight     : bold;

            &:hover {
                text-decoration : underline;
            }
        }

        span {
            display      : inline-block;
            padding-left : 1.3em;
            border-left  : 1px solid @gray-light;
            color        : @gray-light;
        }
    }
}

.footer-contacts, .contacts-section {

    [class*="icon"] {
        padding-left : 2.2em;
        &:before {
            position  : absolute;
            left      : 0;
            top       : 3px;
            font-size : 1.4em;
        }
    }
}

.footer-box {
    @media only screen and (max-width : @responsive-size-tablet ) {
        margin-bottom : 30px;
    }
}

//	Button to scroll top
//==================================================
#go-top {
    .button-color(#FFFFFF; fade(#000000, 50%); fade(#000000, 50%); @primary-color; @primary-bg; @primary-bg);
}

.mobile-footer {
    .flexbox(row; nowrap; center);
    margin : 0;
    li {
        .flex-box-size(0; 1; 100%);
        margin : 0;

        a {
            color     : @brand-primary !important;
            font-size : 18px;
            display   : block;

            &.fb_reserve-from-link-button {
                .button-color(@primary-color; @brand-primary; @brand-primary);
                color  : @primary-color !important;
                margin : 0 !important;
            }
        }
    }
}

.right-contact-fixed-box {
    position         : fixed;
    right            : 0;
    bottom           : 120px;
    //top              : 50%;
    //.translate(0; -50%);
    background-color : white;
    z-index          : 100;
    .box-shadow(0 0 15px rgba(0, 0, 0, 0.2));

    .fb_reserve-from-link-button {
        padding : 0 10px;
    }

    ul {
        margin     : 0;
        padding    : 0;
        position   : relative;
        list-style : none;
        .flexbox(column; wrap; center);

        li {
            & > a:not(.fb_reserve-from-link-button) {
                display     : block;
                height      : 48px;
                width       : 64px;
                text-align  : center;
                font-size   : 24px;
                line-height : 48px;
                position    : relative;
                z-index     : 101;
            }

            &:nth-child(4) {
                //width  : 48px;
                //height : 120px;
                width      : 64px;
                margin     : 0;
                text-align : center;
                & > a {
                    margin       : 0 !important;
                    .rotate(-180deg);
                    writing-mode : tb-rl;
                    padding      : 10px 8px;
                    //transform-origin : top left;
                    //transform-style  : preserve-3d;
                    //position         : absolute;
                    //bottom           : -60px;
                    z-index      : 101;
                    .button-color(@primary-color; @brand-primary; @brand-primary);
                }
            }
        }
    }
}

///////////////////////////////
.index-image {
    position : relative;
}

.reserve-box-footer {

    &:not(.mobile) {
        position : absolute;
        right    : 100%;
        bottom   : 0;
        width    : 650px;
        z-index  : 20;
        color    : #252525;
    }

    .box {
        padding          : 20px 40px !important;
        background-color : white !important;
        width            : 100% !important;
        color            : @gray-dark !important;
    }

    &.mobile {
        position : absolute;
        right    : 0;
        bottom   : 48px;
        left     : 0;
        z-index  : 20;
        color    : #252525;
    }

    @media only screen and (max-width : @responsive-size-tablet) {
        &.mobile {
            border-bottom : 1px solid @brand-primary;
            .box {
                padding : 15px !important;
                & > * {
                    width : 25%;
                }

                .reserve-btn {
                    padding     : 15px 10px !important;
                    line-height : 1.75em !important;
                    font-size   : 14px !important;
                }
            }

            .btn {
                color : @primary-color !important;
            }
        }
    }

    @media only screen and (max-width : @responsive-size-mobile - 1) {
        &.mobile {
            //min-height : 100vh;
            background-color : white;
            box-shadow       : 0 -5px 15px rgba(0, 0, 0, 0.15);

            &:not(.hide) {
                .flexbox(row; nowrap; flex-end);
            }

            &.hide {
                display : none !important;
            }

            //border-bottom: 1px solid @brand-primary;
            .box {
                padding : 0 !important;
                & > * {
                    &:nth-child(1),
                    &:nth-child(2) {
                        width : 50%;
                    }
                    width   : 100%;
                    padding : 20px 0;
                    //height: 160px;

                    .reserve-btn {
                        padding   : 15px 10px !important;
                        font-size : 18px !important;
                        max-width : 350px;
                        margin    : auto;
                    }

                    input {
                        width  : 30%;
                        margin : auto;
                    }

                    & + div {
                        border-top : 1px solid @gray-lighter;
                    }

                    &:nth-child(4) {
                        margin-top : 0 !important;
                    }
                }
            }
        }
    }
}

.reserve-box {
    position       : absolute;
    top            : 0;
    right          : 0;
    bottom         : 0;
    left           : 0;
    .flexbox(row; wrap; center);
    .flex-justify-content(center);
    z-index        : 20;
    pointer-events : none;

    & > * {
        pointer-events : all;
    }

    @media only screen and (max-width : @responsive-size-mobile) {
        & {
            div.box {
                //.flex-direction(column);
                & > * {
                    &:nth-child(1),
                    &:nth-child(2) {
                        width  : 50%;
                        margin : 0;
                        .flex-box-size(0; 1; 50%);
                    }

                    width   : 100%;
                    padding : 20px 0;
                    //.flex-box-size(1; 1; 100%);
                }
            }
        }
    }
}

.reserve-box,
.reserve-box-footer {

    .box {
        width   : 960px;
        padding : 15px 0;
        .rgba(@brand-primary, 75%);
        .flexbox(row; wrap; center);
        color   : white;
    }

    .box-btn {
        .flexbox(row; nowrap; center);
        .flex-justify-content(center);

        .btn {
            .button-color(@brand-primary; @primary-color; @primary-color);
        }
    }

    .box-guest,
    .box-start,
    .box-end,
    .box-btn {
        position : relative;
        padding  : 0 20px;
        .flex-box-size(1; 0; auto);

        input {
            //display : none;
            position : absolute;
            top      : 0;
            right    : 0;
            bottom   : 0;
            left     : 0;
            .box-sizing(border-box);
            padding  : 0;
            height   : 100%;
            opacity  : 0;
            width    : 80px;
            margin   : auto;
        }

        span {
            display     : block;
            font-weight : 100;
            text-align  : center;
            line-height : 1;

            &.title {
                letter-spacing : 0.05em;
                //text-transform : uppercase;
                font-size      : 14px;
                color          : inherit;
            }

            &.day, &.guest-number {
                font-size : 48px;
                //font-weight : bold;
                padding   : 10px 0;
            }
            &.month {
                font-size : 24px;
            }
        }

        .guest-more,
        .guest-less {
            position : absolute;
            top      : 50%;
            .translate(0; -50%);
            cursor   : pointer;
            &:hover {
                color : @gray-light;
            }
        }
        .guest-more {
            left : 65%;
        }
        .guest-less {
            right : 65%;
        }
    }
}