.icon12, .icon14, .icon16, .icon18, .icon24, .icon32, .icon48, .icon64 {
    .inline-block();
    .box-sizing(content-box);
}
.icon12 { .icon-size(12px; true) !important; }
.icon14 { .icon-size(14px; true) !important; }
.icon16 { .icon-size(16px; true) !important; }
.icon18 { .icon-size(18px; true) !important; }
.icon24 { .icon-size(24px; true) !important; }
.icon32 { .icon-size(32px; true) !important; }
.icon48 { .icon-size(48px; true) !important; }
.icon64 { .icon-size(64px; true) !important; }

[class*="@{icon-prefix}-"], [class^=" @{icon-prefix}-"] {
    position : relative;
}

.flexkit-icon,
[class*="@{icon-prefix}-"]::before, [class^=" @{icon-prefix}-"]::before,
[data-icon]::before {
    font-family             : @font-family-icons;
    speak                   : none;
    font-style              : normal;
    font-weight             : normal;
    text-transform          : none;
    line-height             : 1;
    position                : relative;
    text-align              : center;
    .inline-block();

    // Better Font Rendering
    -webkit-font-smoothing  : antialiased;
    -moz-osx-font-smoothing : grayscale;
}

// Use the following CSS code if you want to use data attributes for inserting your icons
[data-icon]::before {
    content : attr(data-icon);
}

.@{icon-prefix}-stars3:before {
    content: "\e098\e098\e098";
}
.@{icon-prefix}-stars4:before {
    content: "\e098\e098\e098\e098";
}
.@{icon-prefix}-stars5:before {
    content: "\e098\e098\e098\e098\e098";
}
.@{icon-prefix}-doc-pdf:before {
    content: "\ea3e";
}
.@{icon-prefix}-f-chambres:before {
    content: "\e907";
}
.@{icon-prefix}-f-cuisine:before {
    content: "\e908";
}
.@{icon-prefix}-f-pour:before {
    content: "\e909";
}
.@{icon-prefix}-f-salle:before {
    content: "\e90a";
}
.@{icon-prefix}-f-salon:before {
    content: "\e90b";
}
.@{icon-prefix}-arrowright:before {
    content: "\e901";
}
.@{icon-prefix}-googleplus:before {
    content: "\e902";
}
.@{icon-prefix}-location:before {
    content: "\e903";
}
.@{icon-prefix}-mail:before {
    content: "\e904";
}
.@{icon-prefix}-phonering:before {
    content: "\e905";
}
.@{icon-prefix}-alarm-01:before {
    content: "\e90c";
}
.@{icon-prefix}-arrow-0:before {
    content: "\e90d";
}
.@{icon-prefix}-arrow-1-copy:before {
    content: "\e90e";
}
.@{icon-prefix}-arrow-1:before {
    content: "\e90f";
}
.@{icon-prefix}-arrow-1-1:before {
    content: "\e910";
}
.@{icon-prefix}-arrow-11:before {
    content: "\e911";
}
.@{icon-prefix}-backet-01-copy-4:before {
    content: "\e912";
}
.@{icon-prefix}-backet-01:before {
    content: "\e913";
}
.@{icon-prefix}-backet-02:before {
    content: "\e914";
}
.@{icon-prefix}-backet-03:before {
    content: "\e915";
}
.@{icon-prefix}-backet-04:before {
    content: "\e916";
}
.@{icon-prefix}-calendar-1:before {
    content: "\e917";
}
.@{icon-prefix}-calendar-2:before {
    content: "\e918";
}
.@{icon-prefix}-calendar-3:before {
    content: "\e919";
}
.@{icon-prefix}-th-clock:before {
    content: "\e91a";
}
.@{icon-prefix}-th-earth:before {
    content: "\e91b";
}
.@{icon-prefix}-th-location-1:before {
    content: "\e91c";
}
.@{icon-prefix}-th-location-2-copy-2:before {
    content: "\e91d";
}
.@{icon-prefix}-th-location-2-copy-2-1:before {
    content: "\e91e";
}
.@{icon-prefix}-th-location-2-copy-3:before {
    content: "\e91f";
}
.@{icon-prefix}-th-location-2-copy-3-1:before {
    content: "\e920";
}
.@{icon-prefix}-th-location-2-copy-4:before {
    content: "\e921";
}
.@{icon-prefix}-th-location-2-copy-5:before {
    content: "\e922";
}
.@{icon-prefix}-th-location-2-copy-5-1:before {
    content: "\e923";
}
.@{icon-prefix}-th-location-2-copy-6:before {
    content: "\e924";
}
.@{icon-prefix}-th-location-2-copy-6-1:before {
    content: "\e925";
}
.@{icon-prefix}-th-location-2-copy:before {
    content: "\e926";
}
.@{icon-prefix}-th-location-2:before {
    content: "\e927";
}
.@{icon-prefix}-th-pencil:before {
    content: "\e928";
}
.@{icon-prefix}-th-profile:before {
    content: "\e929";
}
.@{icon-prefix}-th-settings:before {
    content: "\e92a";
}
.@{icon-prefix}-th-social-media-copy-3:before {
    content: "\e92b";
}
.@{icon-prefix}-th-social-media-copy-3-1:before {
    content: "\e92c";
}
.@{icon-prefix}-th-social-media-copy-4:before {
    content: "\e92d";
}
.@{icon-prefix}-th-social-media-copy-4-1:before {
    content: "\e92e";
}
.@{icon-prefix}-th-social-media-copy-5:before {
    content: "\e92f";
}
.@{icon-prefix}-th-social-media-copy-6:before {
    content: "\e930";
}
.@{icon-prefix}-th-social-media-copy-7:before {
    content: "\e931";
}
.@{icon-prefix}-th-social-media-1:before {
    content: "\e932";
}
.@{icon-prefix}-th-social-media-2-copy-2:before {
    content: "\e933";
}
.@{icon-prefix}-th-social-media-2-copy-2-1:before {
    content: "\e934";
}
.@{icon-prefix}-th-social-media-2-copy-3:before {
    content: "\e935";
}
.@{icon-prefix}-th-social-media-2-copy-3-1:before {
    content: "\e936";
}
.@{icon-prefix}-th-social-media-2-copy-4:before {
    content: "\e937";
}
.@{icon-prefix}-th-social-media-2-copy-5:before {
    content: "\e938";
}
.@{icon-prefix}-th-social-media-2-copy-5-1:before {
    content: "\e939";
}
.@{icon-prefix}-th-social-media-2-copy-6:before {
    content: "\e93a";
}
.@{icon-prefix}-th-social-media-2-copy-6-1:before {
    content: "\e93b";
}
.@{icon-prefix}-th-social-media-2-copy-7:before {
    content: "\e93c";
}
.@{icon-prefix}-th-social-media-2-copy:before {
    content: "\e93d";
}
.@{icon-prefix}-th-social-media-2:before {
    content: "\e93e";
}
.@{icon-prefix}-add:before {
    content: "\e93f";
}
.@{icon-prefix}-add-1:before {
    content: "\e940";
}
.@{icon-prefix}-add-3:before {
    content: "\e941";
}
.@{icon-prefix}-agenda:before {
    content: "\e942";
}
.@{icon-prefix}-alarm:before {
    content: "\e943";
}
.@{icon-prefix}-alarm-1:before {
    content: "\e944";
}
.@{icon-prefix}-alarm-clock:before {
    content: "\e945";
}
.@{icon-prefix}-app:before {
    content: "\e946";
}
.@{icon-prefix}-archive-1:before {
    content: "\e947";
}
.@{icon-prefix}-attachment:before {
    content: "\e948";
}
.@{icon-prefix}-binoculars:before {
    content: "\e949";
}
.@{icon-prefix}-bookmark:before {
    content: "\e94a";
}
.@{icon-prefix}-bookmark-1:before {
    content: "\e94b";
}
.@{icon-prefix}-briefcase:before {
    content: "\e94c";
}
.@{icon-prefix}-broken-link:before {
    content: "\e94d";
}
.@{icon-prefix}-calculator-1:before {
    content: "\e94e";
}
.@{icon-prefix}-calendar:before {
    content: "\e94f";
}
.@{icon-prefix}-calendar-12:before {
    content: "\e950";
}
.@{icon-prefix}-calendar-22:before {
    content: "\e951";
}
.@{icon-prefix}-calendar-5:before {
    content: "\e952";
}
.@{icon-prefix}-calendar-6:before {
    content: "\e953";
}
.@{icon-prefix}-checked:before {
    content: "\e954";
}
.@{icon-prefix}-checked-1:before {
    content: "\e955";
}
.@{icon-prefix}-clock-1:before {
    content: "\e956";
}
.@{icon-prefix}-cloud:before {
    content: "\e957";
}
.@{icon-prefix}-cloud-computing:before {
    content: "\e958";
}
.@{icon-prefix}-cloud-computing-1:before {
    content: "\e959";
}
.@{icon-prefix}-cloud-computing-2:before {
    content: "\e95a";
}
.@{icon-prefix}-compass:before {
    content: "\e95b";
}
.@{icon-prefix}-controls:before {
    content: "\e95c";
}
.@{icon-prefix}-controls-1:before {
    content: "\e95d";
}
.@{icon-prefix}-controls-4:before {
    content: "\e95e";
}
.@{icon-prefix}-controls-5:before {
    content: "\e95f";
}
.@{icon-prefix}-database:before {
    content: "\e960";
}
.@{icon-prefix}-database-1:before {
    content: "\e961";
}
.@{icon-prefix}-database-2:before {
    content: "\e962";
}
.@{icon-prefix}-database-3:before {
    content: "\e963";
}
.@{icon-prefix}-diamond:before {
    content: "\e964";
}
.@{icon-prefix}-diploma:before {
    content: "\e965";
}
.@{icon-prefix}-dislike:before {
    content: "\e966";
}
.@{icon-prefix}-document:before {
    content: "\e967";
}
.@{icon-prefix}-download:before {
    content: "\e968";
}
.@{icon-prefix}-edit:before {
    content: "\e969";
}
.@{icon-prefix}-edit-1:before {
    content: "\e96a";
}
.@{icon-prefix}-error:before {
    content: "\e96b";
}
.@{icon-prefix}-exit:before {
    content: "\e96c";
}
.@{icon-prefix}-exit-1:before {
    content: "\e96d";
}
.@{icon-prefix}-eyeglasses:before {
    content: "\e96e";
}
.@{icon-prefix}-fast-forward:before {
    content: "\e96f";
}
.@{icon-prefix}-fax:before {
    content: "\e970";
}
.@{icon-prefix}-file2:before {
    content: "\e971";
}
.@{icon-prefix}-file-1:before {
    content: "\e972";
}
.@{icon-prefix}-file-2:before {
    content: "\e973";
}
.@{icon-prefix}-fingerprint:before {
    content: "\e974";
}
.@{icon-prefix}-flag:before {
    content: "\e975";
}
.@{icon-prefix}-flag-1:before {
    content: "\e976";
}
.@{icon-prefix}-flag-2:before {
    content: "\e977";
}
.@{icon-prefix}-flag-3:before {
    content: "\e978";
}
.@{icon-prefix}-flag-4:before {
    content: "\e979";
}
.@{icon-prefix}-folder-2:before {
    content: "\e97a";
}
.@{icon-prefix}-folder-6:before {
    content: "\e97b";
}
.@{icon-prefix}-folder-7:before {
    content: "\e97c";
}
.@{icon-prefix}-folder-10:before {
    content: "\e97d";
}
.@{icon-prefix}-folder-11:before {
    content: "\e97e";
}
.@{icon-prefix}-folder-13:before {
    content: "\e97f";
}
.@{icon-prefix}-folder-14:before {
    content: "\e980";
}
.@{icon-prefix}-folder-19:before {
    content: "\e981";
}
.@{icon-prefix}-forbidden:before {
    content: "\e982";
}
.@{icon-prefix}-funnel:before {
    content: "\e983";
}
.@{icon-prefix}-garbage-2:before {
    content: "\e984";
}
.@{icon-prefix}-gift:before {
    content: "\e985";
}
.@{icon-prefix}-hide:before {
    content: "\e986";
}
.@{icon-prefix}-home5:before {
    content: "\e987";
}
.@{icon-prefix}-home-1:before {
    content: "\e988";
}
.@{icon-prefix}-home-2:before {
    content: "\e989";
}
.@{icon-prefix}-hourglass-1:before {
    content: "\e98a";
}
.@{icon-prefix}-hourglass-2:before {
    content: "\e98b";
}
.@{icon-prefix}-id-card-1:before {
    content: "\e98c";
}
.@{icon-prefix}-id-card-2:before {
    content: "\e98d";
}
.@{icon-prefix}-id-card-3:before {
    content: "\e98e";
}
.@{icon-prefix}-id-card-4:before {
    content: "\e98f";
}
.@{icon-prefix}-idea:before {
    content: "\e990";
}
.@{icon-prefix}-incoming:before {
    content: "\e991";
}
.@{icon-prefix}-infinity:before {
    content: "\e992";
}
.@{icon-prefix}-info:before {
    content: "\e993";
}
.@{icon-prefix}-internet:before {
    content: "\e994";
}
.@{icon-prefix}-key3:before {
    content: "\e995";
}
.@{icon-prefix}-layers:before {
    content: "\e996";
}
.@{icon-prefix}-layers-1:before {
    content: "\e997";
}
.@{icon-prefix}-like:before {
    content: "\e998";
}
.@{icon-prefix}-like-1:before {
    content: "\e999";
}
.@{icon-prefix}-like-2:before {
    content: "\e99a";
}
.@{icon-prefix}-link:before {
    content: "\e99b";
}
.@{icon-prefix}-list5:before {
    content: "\e99c";
}
.@{icon-prefix}-list-1:before {
    content: "\e99d";
}
.@{icon-prefix}-locked3:before {
    content: "\e99e";
}
.@{icon-prefix}-locked-1:before {
    content: "\e99f";
}
.@{icon-prefix}-locked-4:before {
    content: "\e9a0";
}
.@{icon-prefix}-locked-5:before {
    content: "\e9a1";
}
.@{icon-prefix}-login:before {
    content: "\e9a2";
}
.@{icon-prefix}-magic-wand:before {
    content: "\e9a3";
}
.@{icon-prefix}-magnet:before {
    content: "\e9a4";
}
.@{icon-prefix}-magnet-1:before {
    content: "\e9a5";
}
.@{icon-prefix}-magnet-2:before {
    content: "\e9a6";
}
.@{icon-prefix}-map-1:before {
    content: "\e9a7";
}
.@{icon-prefix}-map-2:before {
    content: "\e9a8";
}
.@{icon-prefix}-map-location:before {
    content: "\e9a9";
}
.@{icon-prefix}-megaphone:before {
    content: "\e9aa";
}
.@{icon-prefix}-megaphone-1:before {
    content: "\e9ab";
}
.@{icon-prefix}-menu2:before {
    content: "\e9ac";
}
.@{icon-prefix}-menu-1:before {
    content: "\e9ad";
}
.@{icon-prefix}-menu-2:before {
    content: "\e9ae";
}
.@{icon-prefix}-menu-3:before {
    content: "\e9af";
}
.@{icon-prefix}-menu-4:before {
    content: "\e9b0";
}
.@{icon-prefix}-microphone:before {
    content: "\e9b1";
}
.@{icon-prefix}-minus2:before {
    content: "\e9b2";
}
.@{icon-prefix}-minus-1:before {
    content: "\e9b3";
}
.@{icon-prefix}-more:before {
    content: "\e9b4";
}
.@{icon-prefix}-more-1:before {
    content: "\e9b5";
}
.@{icon-prefix}-multiply:before {
    content: "\e9b6";
}
.@{icon-prefix}-multiply-1:before {
    content: "\e9b7";
}
.@{icon-prefix}-music-player-1:before {
    content: "\e9b8";
}
.@{icon-prefix}-mute:before {
    content: "\e9b9";
}
.@{icon-prefix}-muted:before {
    content: "\e9ba";
}
.@{icon-prefix}-navigation:before {
    content: "\e9bb";
}
.@{icon-prefix}-navigation-1:before {
    content: "\e9bc";
}
.@{icon-prefix}-network:before {
    content: "\e9bd";
}
.@{icon-prefix}-newspaper2:before {
    content: "\e9be";
}
.@{icon-prefix}-note:before {
    content: "\e9bf";
}
.@{icon-prefix}-notebook2:before {
    content: "\e9c0";
}
.@{icon-prefix}-notebook-1:before {
    content: "\e9c1";
}
.@{icon-prefix}-notebook-4:before {
    content: "\e9c2";
}
.@{icon-prefix}-notebook-5:before {
    content: "\e9c3";
}
.@{icon-prefix}-notepad:before {
    content: "\e9c4";
}
.@{icon-prefix}-notepad-1:before {
    content: "\e9c5";
}
.@{icon-prefix}-paper-plane:before {
    content: "\e9c6";
}
.@{icon-prefix}-paper-plane-1:before {
    content: "\e9c7";
}
.@{icon-prefix}-pause:before {
    content: "\e9c8";
}
.@{icon-prefix}-pause-1:before {
    content: "\e9c9";
}
.@{icon-prefix}-percent:before {
    content: "\e9ca";
}
.@{icon-prefix}-percent-1:before {
    content: "\e9cb";
}
.@{icon-prefix}-perspective:before {
    content: "\e9cc";
}
.@{icon-prefix}-photo-camera:before {
    content: "\e9cd";
}
.@{icon-prefix}-photo-camera-1:before {
    content: "\e9ce";
}
.@{icon-prefix}-picture3:before {
    content: "\e9cf";
}
.@{icon-prefix}-picture-2:before {
    content: "\e9d0";
}
.@{icon-prefix}-pin:before {
    content: "\e9d1";
}
.@{icon-prefix}-placeholder:before {
    content: "\e9d2";
}
.@{icon-prefix}-placeholder-2:before {
    content: "\e9d3";
}
.@{icon-prefix}-placeholder-3:before {
    content: "\e9d4";
}
.@{icon-prefix}-placeholders:before {
    content: "\e9d5";
}
.@{icon-prefix}-play-button:before {
    content: "\e9d6";
}
.@{icon-prefix}-play-button-1:before {
    content: "\e9d7";
}
.@{icon-prefix}-plus2:before {
    content: "\e9d8";
}
.@{icon-prefix}-power:before {
    content: "\e9d9";
}
.@{icon-prefix}-price-tag:before {
    content: "\e9da";
}
.@{icon-prefix}-print:before {
    content: "\e9db";
}
.@{icon-prefix}-push-pin:before {
    content: "\e9dc";
}
.@{icon-prefix}-reading2:before {
    content: "\e9dd";
}
.@{icon-prefix}-repeat:before {
    content: "\e9de";
}
.@{icon-prefix}-repeat-1:before {
    content: "\e9df";
}
.@{icon-prefix}-restart:before {
    content: "\e9e0";
}
.@{icon-prefix}-resume:before {
    content: "\e9e1";
}
.@{icon-prefix}-route:before {
    content: "\e9e2";
}
.@{icon-prefix}-save:before {
    content: "\e9e3";
}
.@{icon-prefix}-search3:before {
    content: "\e9e4";
}
.@{icon-prefix}-search-1:before {
    content: "\e9e5";
}
.@{icon-prefix}-send:before {
    content: "\e9e6";
}
.@{icon-prefix}-server:before {
    content: "\e9e7";
}
.@{icon-prefix}-server-1:before {
    content: "\e9e8";
}
.@{icon-prefix}-settings-1:before {
    content: "\e9e9";
}
.@{icon-prefix}-settings-2:before {
    content: "\e9ea";
}
.@{icon-prefix}-settings-3:before {
    content: "\e9eb";
}
.@{icon-prefix}-settings-4:before {
    content: "\e9ec";
}
.@{icon-prefix}-settings-5:before {
    content: "\e9ed";
}
.@{icon-prefix}-settings-6:before {
    content: "\e9ee";
}
.@{icon-prefix}-share-1:before {
    content: "\e9ef";
}
.@{icon-prefix}-share-2:before {
    content: "\e9f0";
}
.@{icon-prefix}-shuffle:before {
    content: "\e9f1";
}
.@{icon-prefix}-sign:before {
    content: "\e9f2";
}
.@{icon-prefix}-sign-1:before {
    content: "\e9f3";
}
.@{icon-prefix}-skip:before {
    content: "\e9f4";
}
.@{icon-prefix}-smartphone-4:before {
    content: "\e9f5";
}
.@{icon-prefix}-smartphone-5:before {
    content: "\e9f6";
}
.@{icon-prefix}-smartphone-6:before {
    content: "\e9f7";
}
.@{icon-prefix}-smartphone-7:before {
    content: "\e9f8";
}
.@{icon-prefix}-smartphone-8:before {
    content: "\e9f9";
}
.@{icon-prefix}-smartphone-9:before {
    content: "\e9fa";
}
.@{icon-prefix}-smartphone-10:before {
    content: "\e9fb";
}
.@{icon-prefix}-smartphone-11:before {
    content: "\e9fc";
}
.@{icon-prefix}-speaker:before {
    content: "\e9fd";
}
.@{icon-prefix}-speaker-1:before {
    content: "\e9fe";
}
.@{icon-prefix}-speaker-2:before {
    content: "\e9ff";
}
.@{icon-prefix}-speaker-3:before {
    content: "\ea00";
}
.@{icon-prefix}-speaker-4:before {
    content: "\ea01";
}
.@{icon-prefix}-speaker-5:before {
    content: "\ea02";
}
.@{icon-prefix}-speaker-6:before {
    content: "\ea03";
}
.@{icon-prefix}-speaker-7:before {
    content: "\ea04";
}
.@{icon-prefix}-speaker-8:before {
    content: "\ea05";
}
.@{icon-prefix}-star4:before {
    content: "\ea06";
}
.@{icon-prefix}-star-1:before {
    content: "\ea07";
}
.@{icon-prefix}-stopwatch-1:before {
    content: "\ea08";
}
.@{icon-prefix}-stopwatch-2:before {
    content: "\ea09";
}
.@{icon-prefix}-stopwatch-3:before {
    content: "\ea0a";
}
.@{icon-prefix}-stopwatch-4:before {
    content: "\ea0b";
}
.@{icon-prefix}-street-1:before {
    content: "\ea0c";
}
.@{icon-prefix}-substract:before {
    content: "\ea0d";
}
.@{icon-prefix}-success:before {
    content: "\ea0e";
}
.@{icon-prefix}-switch:before {
    content: "\ea0f";
}
.@{icon-prefix}-switch-1:before {
    content: "\ea10";
}
.@{icon-prefix}-switch-4:before {
    content: "\ea11";
}
.@{icon-prefix}-switch-5:before {
    content: "\ea12";
}
.@{icon-prefix}-switch-6:before {
    content: "\ea13";
}
.@{icon-prefix}-switch-7:before {
    content: "\ea14";
}
.@{icon-prefix}-tabs:before {
    content: "\ea15";
}
.@{icon-prefix}-target:before {
    content: "\ea16";
}
.@{icon-prefix}-television:before {
    content: "\ea17";
}
.@{icon-prefix}-time:before {
    content: "\ea18";
}
.@{icon-prefix}-trash:before {
    content: "\ea19";
}
.@{icon-prefix}-umbrella:before {
    content: "\ea1a";
}
.@{icon-prefix}-unlink:before {
    content: "\ea1b";
}
.@{icon-prefix}-unlocked-1:before {
    content: "\ea1c";
}
.@{icon-prefix}-upload:before {
    content: "\ea1d";
}
.@{icon-prefix}-user2:before {
    content: "\ea1e";
}
.@{icon-prefix}-user-1:before {
    content: "\ea1f";
}
.@{icon-prefix}-user-2:before {
    content: "\ea20";
}
.@{icon-prefix}-user-3:before {
    content: "\ea21";
}
.@{icon-prefix}-user-4:before {
    content: "\ea22";
}
.@{icon-prefix}-user-5:before {
    content: "\ea23";
}
.@{icon-prefix}-user-6:before {
    content: "\ea24";
}
.@{icon-prefix}-user-7:before {
    content: "\ea25";
}
.@{icon-prefix}-users3:before {
    content: "\ea26";
}
.@{icon-prefix}-users-1:before {
    content: "\ea27";
}
.@{icon-prefix}-video-camera:before {
    content: "\ea28";
}
.@{icon-prefix}-video-camera-1:before {
    content: "\ea29";
}
.@{icon-prefix}-video-player:before {
    content: "\ea2a";
}
.@{icon-prefix}-video-player-1:before {
    content: "\ea2b";
}
.@{icon-prefix}-video-player-2:before {
    content: "\ea2c";
}
.@{icon-prefix}-view:before {
    content: "\ea2d";
}
.@{icon-prefix}-view-1:before {
    content: "\ea2e";
}
.@{icon-prefix}-view-2:before {
    content: "\ea2f";
}
.@{icon-prefix}-volume-control:before {
    content: "\ea30";
}
.@{icon-prefix}-volume-control-1:before {
    content: "\ea31";
}
.@{icon-prefix}-warning:before {
    content: "\ea32";
}
.@{icon-prefix}-wifi:before {
    content: "\ea33";
}
.@{icon-prefix}-wifi-1:before {
    content: "\ea34";
}
.@{icon-prefix}-windows:before {
    content: "\ea35";
}
.@{icon-prefix}-windows-1:before {
    content: "\ea36";
}
.@{icon-prefix}-windows-2:before {
    content: "\ea37";
}
.@{icon-prefix}-windows-3:before {
    content: "\ea38";
}
.@{icon-prefix}-windows-4:before {
    content: "\ea39";
}
.@{icon-prefix}-worldwide:before {
    content: "\ea3a";
}
.@{icon-prefix}-worldwide-1:before {
    content: "\ea3b";
}
.@{icon-prefix}-zoom-in2:before {
    content: "\ea3c";
}
.@{icon-prefix}-zoom-out2:before {
    content: "\ea3d";
}
.@{icon-prefix}-fax2:before {
    content: "\e900";
}
.@{icon-prefix}-home:before {
    content: "\e000";
}
.@{icon-prefix}-home2:before {
    content: "\e001";
}
.@{icon-prefix}-home3:before {
    content: "\e002";
}
.@{icon-prefix}-office:before {
    content: "\e003";
}
.@{icon-prefix}-newspaper:before {
    content: "\e004";
}
.@{icon-prefix}-pencil:before {
    content: "\e005";
}
.@{icon-prefix}-pencil2:before {
    content: "\e006";
}
.@{icon-prefix}-pencil3:before {
    content: "\e007";
}
.@{icon-prefix}-pencil4:before {
    content: "\e008";
}
.@{icon-prefix}-feather:before {
    content: "\e009";
}
.@{icon-prefix}-brush:before {
    content: "\e00a";
}
.@{icon-prefix}-pictures:before {
    content: "\e00b";
}
.@{icon-prefix}-pictures2:before {
    content: "\e00c";
}
.@{icon-prefix}-picture:before {
    content: "\e00d";
}
.@{icon-prefix}-picture2:before {
    content: "\e00e";
}
.@{icon-prefix}-pictures3:before {
    content: "\e00f";
}
.@{icon-prefix}-camera:before {
    content: "\e010";
}
.@{icon-prefix}-camera2:before {
    content: "\e011";
}
.@{icon-prefix}-movie:before {
    content: "\e012";
}
.@{icon-prefix}-movie2:before {
    content: "\e013";
}
.@{icon-prefix}-movie3:before {
    content: "\e014";
}
.@{icon-prefix}-film:before {
    content: "\e015";
}
.@{icon-prefix}-film2:before {
    content: "\e016";
}
.@{icon-prefix}-king:before {
    content: "\e017";
}
.@{icon-prefix}-queen:before {
    content: "\e018";
}
.@{icon-prefix}-announcement:before {
    content: "\e019";
}
.@{icon-prefix}-announcement2:before {
    content: "\e01a";
}
.@{icon-prefix}-broadcast:before {
    content: "\e01b";
}
.@{icon-prefix}-books:before {
    content: "\e01c";
}
.@{icon-prefix}-reading:before {
    content: "\e01d";
}
.@{icon-prefix}-file:before {
    content: "\e01e";
}
.@{icon-prefix}-file-add:before {
    content: "\e01f";
}
.@{icon-prefix}-file-remove:before {
    content: "\e020";
}
.@{icon-prefix}-copy:before {
    content: "\e021";
}
.@{icon-prefix}-stack:before {
    content: "\e022";
}
.@{icon-prefix}-folder:before {
    content: "\e023";
}
.@{icon-prefix}-folder2:before {
    content: "\e024";
}
.@{icon-prefix}-folder-add:before {
    content: "\e025";
}
.@{icon-prefix}-folder-remove:before {
    content: "\e026";
}
.@{icon-prefix}-folder-add2:before {
    content: "\e027";
}
.@{icon-prefix}-folder-remove2:before {
    content: "\e028";
}
.@{icon-prefix}-folder-download:before {
    content: "\e029";
}
.@{icon-prefix}-folder-upload:before {
    content: "\e02a";
}
.@{icon-prefix}-folder-download2:before {
    content: "\e02b";
}
.@{icon-prefix}-folder-upload2:before {
    content: "\e02c";
}
.@{icon-prefix}-folder3:before {
    content: "\e02d";
}
.@{icon-prefix}-folder4:before {
    content: "\e02e";
}
.@{icon-prefix}-tag:before {
    content: "\e02f";
}
.@{icon-prefix}-tag2:before {
    content: "\e030";
}
.@{icon-prefix}-tag3:before {
    content: "\e031";
}
.@{icon-prefix}-tag4:before {
    content: "\e032";
}
.@{icon-prefix}-tag5:before {
    content: "\e033";
}
.@{icon-prefix}-barcode:before {
    content: "\e034";
}
.@{icon-prefix}-barcode2:before {
    content: "\e035";
}
.@{icon-prefix}-ticket:before {
    content: "\e036";
}
.@{icon-prefix}-cart:before {
    content: "\e037";
}
.@{icon-prefix}-cart2:before {
    content: "\e038";
}
.@{icon-prefix}-cart3:before {
    content: "\e039";
}
.@{icon-prefix}-cart4:before {
    content: "\e03a";
}
.@{icon-prefix}-cart-add:before {
    content: "\e03b";
}
.@{icon-prefix}-cart-remove:before {
    content: "\e03c";
}
.@{icon-prefix}-cart-checkout:before {
    content: "\e03d";
}
.@{icon-prefix}-basket:before {
    content: "\e03e";
}
.@{icon-prefix}-basket2:before {
    content: "\e03f";
}
.@{icon-prefix}-bag:before {
    content: "\e040";
}
.@{icon-prefix}-coin:before {
    content: "\e041";
}
.@{icon-prefix}-support:before {
    content: "\e042";
}
.@{icon-prefix}-phone:before {
    content: "\e043";
}
.@{icon-prefix}-phone2:before {
    content: "\e044";
}
.@{icon-prefix}-phone3:before {
    content: "\e045";
}
.@{icon-prefix}-phone4:before {
    content: "\e046";
}
.@{icon-prefix}-address:before {
    content: "\e047";
}
.@{icon-prefix}-address2:before {
    content: "\e048";
}
.@{icon-prefix}-notebook:before {
    content: "\e049";
}
.@{icon-prefix}-mail2:before {
    content: "\e04a";
}
.@{icon-prefix}-mail22:before {
    content: "\e04b";
}
.@{icon-prefix}-mail3:before {
    content: "\e04c";
}
.@{icon-prefix}-mail4:before {
    content: "\e04d";
}
.@{icon-prefix}-mail5:before {
    content: "\e04e";
}
.@{icon-prefix}-location2:before {
    content: "\e04f";
}
.@{icon-prefix}-location22:before {
    content: "\e050";
}
.@{icon-prefix}-location3:before {
    content: "\e051";
}
.@{icon-prefix}-location4:before {
    content: "\e052";
}
.@{icon-prefix}-map:before {
    content: "\e053";
}
.@{icon-prefix}-map2:before {
    content: "\e054";
}
.@{icon-prefix}-history:before {
    content: "\e055";
}
.@{icon-prefix}-clock:before {
    content: "\e056";
}
.@{icon-prefix}-clock2:before {
    content: "\e057";
}
.@{icon-prefix}-wrist-watch:before {
    content: "\e058";
}
.@{icon-prefix}-calendar2:before {
    content: "\e059";
}
.@{icon-prefix}-calendar22:before {
    content: "\e05a";
}
.@{icon-prefix}-printer:before {
    content: "\e05b";
}
.@{icon-prefix}-printer2:before {
    content: "\e05c";
}
.@{icon-prefix}-screen:before {
    content: "\e05d";
}
.@{icon-prefix}-screen2:before {
    content: "\e05e";
}
.@{icon-prefix}-laptop:before {
    content: "\e05f";
}
.@{icon-prefix}-mobile:before {
    content: "\e060";
}
.@{icon-prefix}-tablet:before {
    content: "\e061";
}
.@{icon-prefix}-mobile2:before {
    content: "\e062";
}
.@{icon-prefix}-disk:before {
    content: "\e063";
}
.@{icon-prefix}-cd:before {
    content: "\e064";
}
.@{icon-prefix}-comments:before {
    content: "\e065";
}
.@{icon-prefix}-comments2:before {
    content: "\e066";
}
.@{icon-prefix}-comments3:before {
    content: "\e067";
}
.@{icon-prefix}-comments4:before {
    content: "\e068";
}
.@{icon-prefix}-comments5:before {
    content: "\e069";
}
.@{icon-prefix}-comments6:before {
    content: "\e06a";
}
.@{icon-prefix}-comments7:before {
    content: "\e06b";
}
.@{icon-prefix}-comments8:before {
    content: "\e06c";
}
.@{icon-prefix}-comments9:before {
    content: "\e06d";
}
.@{icon-prefix}-user:before {
    content: "\e06e";
}
.@{icon-prefix}-user-add:before {
    content: "\e06f";
}
.@{icon-prefix}-user-remove:before {
    content: "\e070";
}
.@{icon-prefix}-users:before {
    content: "\e071";
}
.@{icon-prefix}-users2:before {
    content: "\e072";
}
.@{icon-prefix}-quote:before {
    content: "\e073";
}
.@{icon-prefix}-quote2:before {
    content: "\e074";
}
.@{icon-prefix}-quote3:before {
    content: "\e075";
}
.@{icon-prefix}-quote4:before {
    content: "\e076";
}
.@{icon-prefix}-search:before {
    content: "\e077";
}
.@{icon-prefix}-search2:before {
    content: "\e078";
}
.@{icon-prefix}-zoom-in:before {
    content: "\e079";
}
.@{icon-prefix}-zoom-out:before {
    content: "\e07a";
}
.@{icon-prefix}-key:before {
    content: "\e07b";
}
.@{icon-prefix}-key2:before {
    content: "\e07c";
}
.@{icon-prefix}-locked:before {
    content: "\e07d";
}
.@{icon-prefix}-unlocked:before {
    content: "\e07e";
}
.@{icon-prefix}-locked2:before {
    content: "\e07f";
}
.@{icon-prefix}-unlocked2:before {
    content: "\e080";
}
.@{icon-prefix}-cogs:before {
    content: "\e081";
}
.@{icon-prefix}-cog:before {
    content: "\e082";
}
.@{icon-prefix}-cog2:before {
    content: "\e083";
}
.@{icon-prefix}-remove:before {
    content: "\e084";
}
.@{icon-prefix}-remove2:before {
    content: "\e085";
}
.@{icon-prefix}-remove3:before {
    content: "\e086";
}
.@{icon-prefix}-remove4:before {
    content: "\e087";
}
.@{icon-prefix}-remove5:before {
    content: "\e088";
}
.@{icon-prefix}-clipboard:before {
    content: "\e089";
}
.@{icon-prefix}-clipboard2:before {
    content: "\e08a";
}
.@{icon-prefix}-grid:before {
    content: "\e08b";
}
.@{icon-prefix}-list:before {
    content: "\e08c";
}
.@{icon-prefix}-list2:before {
    content: "\e08d";
}
.@{icon-prefix}-list3:before {
    content: "\e08e";
}
.@{icon-prefix}-grid2:before {
    content: "\e08f";
}
.@{icon-prefix}-list4:before {
    content: "\e090";
}
.@{icon-prefix}-list52:before {
    content: "\e091";
}
.@{icon-prefix}-list6:before {
    content: "\e092";
}
.@{icon-prefix}-menu:before {
    content: "\e093";
}
.@{icon-prefix}-menu4:before {
    content: "\e094";
}
.@{icon-prefix}-link2:before {
    content: "\e095";
}
.@{icon-prefix}-star:before {
    content: "\e096";
}
.@{icon-prefix}-star2:before {
    content: "\e097";
}
.@{icon-prefix}-star3:before {
    content: "\e098";
}
.@{icon-prefix}-heart:before {
    content: "\e099";
}
.@{icon-prefix}-heart2:before {
    content: "\e09a";
}
.@{icon-prefix}-thumbs-up:before {
    content: "\e09b";
}
.@{icon-prefix}-thumbs-down:before {
    content: "\e09c";
}
.@{icon-prefix}-male:before {
    content: "\e09d";
}
.@{icon-prefix}-female:before {
    content: "\e09e";
}
.@{icon-prefix}-reload:before {
    content: "\e09f";
}
.@{icon-prefix}-turn:before {
    content: "\e0a0";
}
.@{icon-prefix}-expand:before {
    content: "\e0a1";
}
.@{icon-prefix}-cancel:before {
    content: "\e0a2";
}
.@{icon-prefix}-checkmark:before {
    content: "\e0a3";
}
.@{icon-prefix}-checkmark2:before {
    content: "\e0a4";
}
.@{icon-prefix}-checkmark3:before {
    content: "\e0a5";
}
.@{icon-prefix}-minus:before {
    content: "\e0a6";
}
.@{icon-prefix}-plus:before {
    content: "\e0a7";
}
.@{icon-prefix}-plus-sign:before {
    content: "\e0a8";
}
.@{icon-prefix}-minus-sign:before {
    content: "\e0a9";
}
.@{icon-prefix}-remove-sign:before {
    content: "\e0aa";
}
.@{icon-prefix}-ok-sign:before {
    content: "\e0ab";
}
.@{icon-prefix}-question-sign:before {
    content: "\e0ac";
}
.@{icon-prefix}-exclamation-sign:before {
    content: "\e0ad";
}
.@{icon-prefix}-info-sign:before {
    content: "\e0ae";
}
.@{icon-prefix}-login2:before {
    content: "\e0af";
}
.@{icon-prefix}-logout:before {
    content: "\e0b0";
}
.@{icon-prefix}-arrow-up:before {
    content: "\e0b1";
}
.@{icon-prefix}-arrow-right:before {
    content: "\e0b2";
}
.@{icon-prefix}-arrow-down:before {
    content: "\e0b3";
}
.@{icon-prefix}-arrow-left:before {
    content: "\e0b4";
}
.@{icon-prefix}-arrow-up2:before {
    content: "\e0b5";
}
.@{icon-prefix}-arrow-right2:before {
    content: "\e0b6";
}
.@{icon-prefix}-arrow-down2:before {
    content: "\e0b7";
}
.@{icon-prefix}-arrow-left2:before {
    content: "\e0b8";
}
.@{icon-prefix}-arrow-up3:before {
    content: "\e0b9";
}
.@{icon-prefix}-arrow-right3:before {
    content: "\e0ba";
}
.@{icon-prefix}-arrow-down3:before {
    content: "\e0bb";
}
.@{icon-prefix}-arrow-left3:before {
    content: "\e0bc";
}
.@{icon-prefix}-arrow-up4:before {
    content: "\e0bd";
}
.@{icon-prefix}-arrow-right4:before {
    content: "\e0be";
}
.@{icon-prefix}-arrow-down4:before {
    content: "\e0bf";
}
.@{icon-prefix}-arrow-left4:before {
    content: "\e0c0";
}
.@{icon-prefix}-arrow-down5:before {
    content: "\e0c1";
}
.@{icon-prefix}-arrow-left5:before {
    content: "\e0c2";
}
.@{icon-prefix}-arrow-right5:before {
    content: "\e0c3";
}
.@{icon-prefix}-arrow-up5:before {
    content: "\e0c4";
}
.@{icon-prefix}-arrow-left6:before {
    content: "\e0c5";
}
.@{icon-prefix}-arrow-right6:before {
    content: "\e0c6";
}
.@{icon-prefix}-arrow-up7:before {
    content: "\e0c7";
}
.@{icon-prefix}-arrow-right7:before {
    content: "\e0c8";
}
.@{icon-prefix}-arrow-left7:before {
    content: "\e0c9";
}
.@{icon-prefix}-arrow-down7:before {
    content: "\e0ca";
}
.@{icon-prefix}-sort-up:before {
    content: "\e0cb";
}
.@{icon-prefix}-sort-down:before {
    content: "\e0cc";
}
.@{icon-prefix}-sort:before {
    content: "\e0cd";
}
.@{icon-prefix}-delivery:before {
    content: "\e0ce";
}
.@{icon-prefix}-delivery2:before {
    content: "\e0cf";
}
.@{icon-prefix}-delivery3:before {
    content: "\e0d0";
}
.@{icon-prefix}-delivery4:before {
    content: "\e0d1";
}
.@{icon-prefix}-delivery5:before {
    content: "\e0d2";
}
.@{icon-prefix}-idcard:before {
    content: "\e0d3";
}
.@{icon-prefix}-idcard2:before {
    content: "\e0d4";
}
.@{icon-prefix}-idcard3:before {
    content: "\e0d5";
}
.@{icon-prefix}-mail-book:before {
    content: "\e0d6";
}
.@{icon-prefix}-user-book:before {
    content: "\e0d7";
}
.@{icon-prefix}-earth:before {
    content: "\e0d8";
}
.@{icon-prefix}-gplus:before {
    content: "\e0d9";
}
.@{icon-prefix}-gplus2:before {
    content: "\e0da";
}
.@{icon-prefix}-gplus3:before {
    content: "\e0db";
}
.@{icon-prefix}-facebook:before {
    content: "\e0dc";
}
.@{icon-prefix}-facebook2:before {
    content: "\e0dd";
}
.@{icon-prefix}-facebook3:before {
    content: "\e0de";
}
.@{icon-prefix}-twitter:before {
    content: "\e0df";
}
.@{icon-prefix}-twitter2:before {
    content: "\e0e0";
}
.@{icon-prefix}-twitter3:before {
    content: "\e0e1";
}
.@{icon-prefix}-feed:before {
    content: "\e0e2";
}
.@{icon-prefix}-feed2:before {
    content: "\e0e3";
}
.@{icon-prefix}-feed3:before {
    content: "\e0e4";
}
.@{icon-prefix}-youtube:before {
    content: "\e0e5";
}
.@{icon-prefix}-youtube2:before {
    content: "\e0e6";
}
.@{icon-prefix}-vimeo:before {
    content: "\e0e7";
}
.@{icon-prefix}-vimeo2:before {
    content: "\e0e8";
}
.@{icon-prefix}-linkedin:before {
    content: "\e0e9";
}
.@{icon-prefix}-linkedin4:before {
    content: "\e0ea";
}
.@{icon-prefix}-linkedin2:before {
    content: "\e0eb";
}
.@{icon-prefix}-html5:before {
    content: "\e0ec";
}
.@{icon-prefix}-html52:before {
    content: "\e0ed";
}
.@{icon-prefix}-chrome:before {
    content: "\e0ee";
}
.@{icon-prefix}-firefox:before {
    content: "\e0ef";
}
.@{icon-prefix}-IE:before {
    content: "\e0f0";
}
.@{icon-prefix}-opera:before {
    content: "\e0f1";
}
.@{icon-prefix}-safari:before {
    content: "\e0f2";
}
.@{icon-prefix}-toaster:before {
    content: "\e0f3";
}
.@{icon-prefix}-instagram:before {
    content: "\2b68";
}
.@{icon-prefix}-home4:before {
    content: "\e906";
}
.@{icon-prefix}-home6:before {
    content: "\e0f4";
}
.@{icon-prefix}-home22:before {
    content: "\e0f5";
}
.@{icon-prefix}-home32:before {
    content: "\e0f6";
}
.@{icon-prefix}-office2:before {
    content: "\e0f7";
}
.@{icon-prefix}-newspaper3:before {
    content: "\e0f8";
}
.@{icon-prefix}-pencil5:before {
    content: "\e0f9";
}
.@{icon-prefix}-pencil22:before {
    content: "\e0fa";
}
.@{icon-prefix}-pencil32:before {
    content: "\e0fb";
}
.@{icon-prefix}-pencil42:before {
    content: "\e0fc";
}
.@{icon-prefix}-feather2:before {
    content: "\e0fd";
}
.@{icon-prefix}-brush2:before {
    content: "\e0fe";
}
.@{icon-prefix}-pictures4:before {
    content: "\e0ff";
}
.@{icon-prefix}-pictures22:before {
    content: "\e100";
}
.@{icon-prefix}-picture4:before {
    content: "\e101";
}
.@{icon-prefix}-picture22:before {
    content: "\e102";
}
.@{icon-prefix}-pictures32:before {
    content: "\e103";
}
.@{icon-prefix}-camera3:before {
    content: "\e104";
}
.@{icon-prefix}-camera22:before {
    content: "\e105";
}
.@{icon-prefix}-movie4:before {
    content: "\e106";
}
.@{icon-prefix}-movie22:before {
    content: "\e107";
}
.@{icon-prefix}-movie32:before {
    content: "\e108";
}
.@{icon-prefix}-film3:before {
    content: "\e109";
}
.@{icon-prefix}-film22:before {
    content: "\e10a";
}
.@{icon-prefix}-king2:before {
    content: "\e10b";
}
.@{icon-prefix}-queen2:before {
    content: "\e10c";
}
.@{icon-prefix}-announcement3:before {
    content: "\e10d";
}
.@{icon-prefix}-announcement22:before {
    content: "\e10e";
}
.@{icon-prefix}-broadcast2:before {
    content: "\e10f";
}
.@{icon-prefix}-books2:before {
    content: "\e110";
}
.@{icon-prefix}-reading3:before {
    content: "\e111";
}
.@{icon-prefix}-file3:before {
    content: "\e112";
}
.@{icon-prefix}-file-add2:before {
    content: "\e113";
}
.@{icon-prefix}-file-remove2:before {
    content: "\e114";
}
.@{icon-prefix}-copy2:before {
    content: "\e115";
}
.@{icon-prefix}-stack2:before {
    content: "\e116";
}
.@{icon-prefix}-folder5:before {
    content: "\e117";
}
.@{icon-prefix}-folder22:before {
    content: "\e118";
}
.@{icon-prefix}-folder-add3:before {
    content: "\e119";
}
.@{icon-prefix}-folder-remove3:before {
    content: "\e11a";
}
.@{icon-prefix}-folder-add22:before {
    content: "\e11b";
}
.@{icon-prefix}-folder-remove22:before {
    content: "\e11c";
}
.@{icon-prefix}-folder-download3:before {
    content: "\e11d";
}
.@{icon-prefix}-folder-upload3:before {
    content: "\e11e";
}
.@{icon-prefix}-folder-download22:before {
    content: "\e11f";
}
.@{icon-prefix}-folder-upload22:before {
    content: "\e120";
}
.@{icon-prefix}-folder32:before {
    content: "\e121";
}
.@{icon-prefix}-folder42:before {
    content: "\e122";
}
.@{icon-prefix}-tag6:before {
    content: "\e123";
}
.@{icon-prefix}-tag22:before {
    content: "\e124";
}
.@{icon-prefix}-tag32:before {
    content: "\e125";
}
.@{icon-prefix}-tag42:before {
    content: "\e126";
}
.@{icon-prefix}-tag52:before {
    content: "\e127";
}
.@{icon-prefix}-barcode3:before {
    content: "\e128";
}
.@{icon-prefix}-barcode22:before {
    content: "\e129";
}
.@{icon-prefix}-ticket2:before {
    content: "\e12a";
}
.@{icon-prefix}-cart5:before {
    content: "\e12b";
}
.@{icon-prefix}-cart22:before {
    content: "\e12c";
}
.@{icon-prefix}-cart32:before {
    content: "\e12d";
}
.@{icon-prefix}-cart42:before {
    content: "\e12e";
}
.@{icon-prefix}-cart-add2:before {
    content: "\e12f";
}
.@{icon-prefix}-cart-remove2:before {
    content: "\e130";
}
.@{icon-prefix}-cart-checkout2:before {
    content: "\e131";
}
.@{icon-prefix}-basket3:before {
    content: "\e132";
}
.@{icon-prefix}-basket22:before {
    content: "\e133";
}
.@{icon-prefix}-bag2:before {
    content: "\e134";
}
.@{icon-prefix}-coin2:before {
    content: "\e135";
}
.@{icon-prefix}-support2:before {
    content: "\e136";
}
.@{icon-prefix}-phone5:before {
    content: "\e137";
}
.@{icon-prefix}-phone22:before {
    content: "\e138";
}
.@{icon-prefix}-phone32:before {
    content: "\e139";
}
.@{icon-prefix}-phone42:before {
    content: "\e13a";
}
.@{icon-prefix}-address3:before {
    content: "\e13b";
}
.@{icon-prefix}-address22:before {
    content: "\e13c";
}
.@{icon-prefix}-notebook3:before {
    content: "\e13d";
}
.@{icon-prefix}-mail6:before {
    content: "\e13e";
}
.@{icon-prefix}-mail23:before {
    content: "\e13f";
}
.@{icon-prefix}-mail32:before {
    content: "\e140";
}
.@{icon-prefix}-mail42:before {
    content: "\e141";
}
.@{icon-prefix}-mail52:before {
    content: "\e142";
}
.@{icon-prefix}-location5:before {
    content: "\e143";
}
.@{icon-prefix}-location23:before {
    content: "\e144";
}
.@{icon-prefix}-location32:before {
    content: "\e145";
}
.@{icon-prefix}-location42:before {
    content: "\e146";
}
.@{icon-prefix}-map3:before {
    content: "\e147";
}
.@{icon-prefix}-map22:before {
    content: "\e148";
}
.@{icon-prefix}-history2:before {
    content: "\e149";
}
.@{icon-prefix}-clock3:before {
    content: "\e14a";
}
.@{icon-prefix}-clock22:before {
    content: "\e14b";
}
.@{icon-prefix}-wrist-watch2:before {
    content: "\e14c";
}
.@{icon-prefix}-calendar3:before {
    content: "\e14d";
}
.@{icon-prefix}-calendar23:before {
    content: "\e14e";
}
.@{icon-prefix}-printer3:before {
    content: "\e14f";
}
.@{icon-prefix}-printer22:before {
    content: "\e150";
}
.@{icon-prefix}-screen3:before {
    content: "\e151";
}
.@{icon-prefix}-screen22:before {
    content: "\e152";
}
.@{icon-prefix}-laptop2:before {
    content: "\e153";
}
.@{icon-prefix}-mobile3:before {
    content: "\e154";
}
.@{icon-prefix}-tablet2:before {
    content: "\e155";
}
.@{icon-prefix}-mobile22:before {
    content: "\e156";
}
.@{icon-prefix}-disk2:before {
    content: "\e157";
}
.@{icon-prefix}-cd2:before {
    content: "\e158";
}
.@{icon-prefix}-comments10:before {
    content: "\e159";
}
.@{icon-prefix}-comments22:before {
    content: "\e15a";
}
.@{icon-prefix}-comments32:before {
    content: "\e15b";
}
.@{icon-prefix}-comments42:before {
    content: "\e15c";
}
.@{icon-prefix}-comments52:before {
    content: "\e15d";
}
.@{icon-prefix}-comments62:before {
    content: "\e15e";
}
.@{icon-prefix}-comments72:before {
    content: "\e15f";
}
.@{icon-prefix}-comments82:before {
    content: "\e160";
}
.@{icon-prefix}-comments92:before {
    content: "\e161";
}
.@{icon-prefix}-user3:before {
    content: "\e162";
}
.@{icon-prefix}-user-add2:before {
    content: "\e163";
}
.@{icon-prefix}-user-remove2:before {
    content: "\e164";
}
.@{icon-prefix}-users4:before {
    content: "\e165";
}
.@{icon-prefix}-users22:before {
    content: "\e166";
}
.@{icon-prefix}-quote5:before {
    content: "\e167";
}
.@{icon-prefix}-quote22:before {
    content: "\e168";
}
.@{icon-prefix}-quote32:before {
    content: "\e169";
}
.@{icon-prefix}-quote42:before {
    content: "\e16a";
}
.@{icon-prefix}-search4:before {
    content: "\e16b";
}
.@{icon-prefix}-search22:before {
    content: "\e16c";
}
.@{icon-prefix}-zoom-in3:before {
    content: "\e16d";
}
.@{icon-prefix}-zoom-out3:before {
    content: "\e16e";
}
.@{icon-prefix}-key4:before {
    content: "\e16f";
}
.@{icon-prefix}-key22:before {
    content: "\e170";
}
.@{icon-prefix}-locked4:before {
    content: "\e171";
}
.@{icon-prefix}-unlocked3:before {
    content: "\e172";
}
.@{icon-prefix}-locked22:before {
    content: "\e173";
}
.@{icon-prefix}-unlocked22:before {
    content: "\e174";
}
.@{icon-prefix}-cogs2:before {
    content: "\e175";
}
.@{icon-prefix}-cog3:before {
    content: "\e176";
}
.@{icon-prefix}-cog22:before {
    content: "\e177";
}
.@{icon-prefix}-remove6:before {
    content: "\e178";
}
.@{icon-prefix}-remove22:before {
    content: "\e179";
}
.@{icon-prefix}-remove32:before {
    content: "\e17a";
}
.@{icon-prefix}-remove42:before {
    content: "\e17b";
}
.@{icon-prefix}-remove52:before {
    content: "\e17c";
}
.@{icon-prefix}-clipboard3:before {
    content: "\e17d";
}
.@{icon-prefix}-clipboard22:before {
    content: "\e17e";
}
.@{icon-prefix}-grid3:before {
    content: "\e17f";
}
.@{icon-prefix}-list7:before {
    content: "\e180";
}
.@{icon-prefix}-list22:before {
    content: "\e181";
}
.@{icon-prefix}-list32:before {
    content: "\e182";
}
.@{icon-prefix}-grid22:before {
    content: "\e183";
}
.@{icon-prefix}-list42:before {
    content: "\e184";
}
.@{icon-prefix}-list53:before {
    content: "\e185";
}
.@{icon-prefix}-list62:before {
    content: "\e186";
}
.@{icon-prefix}-menu3:before {
    content: "\e187";
}
.@{icon-prefix}-menu42:before {
    content: "\e188";
}
.@{icon-prefix}-link3:before {
    content: "\e189";
}
.@{icon-prefix}-star5:before {
    content: "\e18a";
}
.@{icon-prefix}-star22:before {
    content: "\e18b";
}
.@{icon-prefix}-star32:before {
    content: "\e18c";
}
.@{icon-prefix}-heart3:before {
    content: "\e18d";
}
.@{icon-prefix}-heart22:before {
    content: "\e18e";
}
.@{icon-prefix}-thumbs-up2:before {
    content: "\e18f";
}
.@{icon-prefix}-thumbs-down2:before {
    content: "\e190";
}
.@{icon-prefix}-male2:before {
    content: "\e191";
}
.@{icon-prefix}-female2:before {
    content: "\e192";
}
.@{icon-prefix}-reload2:before {
    content: "\e193";
}
.@{icon-prefix}-turn2:before {
    content: "\e194";
}
.@{icon-prefix}-expand2:before {
    content: "\e195";
}
.@{icon-prefix}-cancel2:before {
    content: "\e196";
}
.@{icon-prefix}-checkmark4:before {
    content: "\e197";
}
.@{icon-prefix}-checkmark22:before {
    content: "\e198";
}
.@{icon-prefix}-checkmark32:before {
    content: "\e199";
}
.@{icon-prefix}-minus3:before {
    content: "\e19a";
}
.@{icon-prefix}-plus3:before {
    content: "\e19b";
}
.@{icon-prefix}-plus-sign2:before {
    content: "\e19c";
}
.@{icon-prefix}-minus-sign2:before {
    content: "\e19d";
}
.@{icon-prefix}-remove-sign2:before {
    content: "\e19e";
}
.@{icon-prefix}-ok-sign2:before {
    content: "\e19f";
}
.@{icon-prefix}-question-sign2:before {
    content: "\e1a0";
}
.@{icon-prefix}-exclamation-sign2:before {
    content: "\e1a1";
}
.@{icon-prefix}-info-sign2:before {
    content: "\e1a2";
}
.@{icon-prefix}-login3:before {
    content: "\e1a3";
}
.@{icon-prefix}-logout2:before {
    content: "\e1a4";
}
.@{icon-prefix}-arrow-up6:before {
    content: "\e1a5";
}
.@{icon-prefix}-arrow-right8:before {
    content: "\e1a6";
}
.@{icon-prefix}-arrow-down6:before {
    content: "\e1a7";
}
.@{icon-prefix}-arrow-left8:before {
    content: "\e1a8";
}
.@{icon-prefix}-arrow-up22:before {
    content: "\e1a9";
}
.@{icon-prefix}-arrow-right22:before {
    content: "\e1aa";
}
.@{icon-prefix}-arrow-down22:before {
    content: "\e1ab";
}
.@{icon-prefix}-arrow-left22:before {
    content: "\e1ac";
}
.@{icon-prefix}-arrow-up32:before {
    content: "\e1ad";
}
.@{icon-prefix}-arrow-right32:before {
    content: "\e1ae";
}
.@{icon-prefix}-arrow-down32:before {
    content: "\e1af";
}
.@{icon-prefix}-arrow-left32:before {
    content: "\e1b0";
}
.@{icon-prefix}-arrow-up42:before {
    content: "\e1b1";
}
.@{icon-prefix}-arrow-right42:before {
    content: "\e1b2";
}
.@{icon-prefix}-arrow-down42:before {
    content: "\e1b3";
}
.@{icon-prefix}-arrow-left42:before {
    content: "\e1b4";
}
.@{icon-prefix}-arrow-down52:before {
    content: "\e1b5";
}
.@{icon-prefix}-arrow-left52:before {
    content: "\e1b6";
}
.@{icon-prefix}-arrow-right52:before {
    content: "\e1b7";
}
.@{icon-prefix}-arrow-up52:before {
    content: "\e1b8";
}
.@{icon-prefix}-arrow-left62:before {
    content: "\e1b9";
}
.@{icon-prefix}-arrow-right62:before {
    content: "\e1ba";
}
.@{icon-prefix}-arrow-up72:before {
    content: "\e1bb";
}
.@{icon-prefix}-arrow-right72:before {
    content: "\e1bc";
}
.@{icon-prefix}-arrow-left72:before {
    content: "\e1bd";
}
.@{icon-prefix}-arrow-down72:before {
    content: "\e1be";
}
.@{icon-prefix}-sort-up2:before {
    content: "\e1bf";
}
.@{icon-prefix}-sort-down2:before {
    content: "\e1c0";
}
.@{icon-prefix}-sort2:before {
    content: "\e1c1";
}
.@{icon-prefix}-delivery6:before {
    content: "\e1c2";
}
.@{icon-prefix}-delivery22:before {
    content: "\e1c3";
}
.@{icon-prefix}-delivery32:before {
    content: "\e1c4";
}
.@{icon-prefix}-delivery42:before {
    content: "\e1c5";
}
.@{icon-prefix}-delivery52:before {
    content: "\e1c6";
}
.@{icon-prefix}-idcard4:before {
    content: "\e1c7";
}
.@{icon-prefix}-idcard22:before {
    content: "\e1c8";
}
.@{icon-prefix}-idcard32:before {
    content: "\e1c9";
}
.@{icon-prefix}-mail-book2:before {
    content: "\e1ca";
}
.@{icon-prefix}-user-book2:before {
    content: "\e1cb";
}
.@{icon-prefix}-earth2:before {
    content: "\e1cc";
}
.@{icon-prefix}-gplus4:before {
    content: "\e1cd";
}
.@{icon-prefix}-gplus22:before {
    content: "\e1ce";
}
.@{icon-prefix}-gplus32:before {
    content: "\e1cf";
}
.@{icon-prefix}-facebook4:before {
    content: "\e1d0";
}
.@{icon-prefix}-facebook22:before {
    content: "\e1d1";
}
.@{icon-prefix}-facebook32:before {
    content: "\e1d2";
}
.@{icon-prefix}-twitter4:before {
    content: "\e1d3";
}
.@{icon-prefix}-twitter22:before {
    content: "\e1d4";
}
.@{icon-prefix}-twitter32:before {
    content: "\e1d5";
}
.@{icon-prefix}-feed4:before {
    content: "\e1d6";
}
.@{icon-prefix}-feed22:before {
    content: "\e1d7";
}
.@{icon-prefix}-feed32:before {
    content: "\e1d8";
}
.@{icon-prefix}-youtube3:before {
    content: "\e1d9";
}
.@{icon-prefix}-youtube22:before {
    content: "\e1da";
}
.@{icon-prefix}-vimeo3:before {
    content: "\e1db";
}
.@{icon-prefix}-vimeo22:before {
    content: "\e1dc";
}
.@{icon-prefix}-linkedin3:before {
    content: "\e1dd";
}
.@{icon-prefix}-linkedin42:before {
    content: "\e1de";
}
.@{icon-prefix}-linkedin22:before {
    content: "\e1df";
}
.@{icon-prefix}-html53:before {
    content: "\e1e0";
}
.@{icon-prefix}-html522:before {
    content: "\e1e1";
}
.@{icon-prefix}-chrome2:before {
    content: "\e1e2";
}
.@{icon-prefix}-firefox2:before {
    content: "\e1e3";
}
.@{icon-prefix}-IE2:before {
    content: "\e1e4";
}
.@{icon-prefix}-opera2:before {
    content: "\e1e5";
}
.@{icon-prefix}-safari2:before {
    content: "\e1e6";
}
.@{icon-prefix}-toaster2:before {
    content: "\e1e7";
}
.@{icon-prefix}-download2:before {
    content: "\e1e8";
}
.@{icon-prefix}-headphones:before {
    content: "\e1e9";
}
.@{icon-prefix}-information:before {
    content: "\e1ea";
}
.@{icon-prefix}-play-button2:before {
    content: "\e1eb";
}
.@{icon-prefix}-refresh:before {
    content: "\e1ec";
}

