// More info: http://workarounds.seotoaster.com/html.html#Pop-up
.popup-overlay when (@popup = true) {
  position: fixed;
  display: none;
  //z-index: 25;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: 0;
  pointer-events: none;
  .rgba(@black, 30);
  //.flexbox();
  //.flex-align(center);

  &:target {
    opacity: 0.99;
    z-index: 70;
    pointer-events: initial;
    display: block;

    ._popup {
      opacity: 1;
    }
  }

  .tabs_nav {
    li {
      padding: 0 1em;
    }
  }

  ._popup {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 95%;
    margin-top: 20px;
    //margin: auto;
    max-height: 900px;
    max-height: 90vh;
    overflow-y: scroll;
    padding: 15px;
    background-color: @body-bg;
    opacity: 1;
    z-index: 101;
    color: @text-color;
    //.box-shadow(0 0 27px rgba(0, 0, 0, 0.13));
    .transition(all 0.3s linear);
    .translate(-50%, -50%);

    @media only screen and (max-width: @responsive-size-mobile) {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      margin-top: 0;
      max-height: 100%;

      overflow-y: scroll; /* has to be scroll, not auto */
      -webkit-overflow-scrolling: touch;

      .translate3d(0, 0, 0);
    }

    //@media only screen and (max-width: @responsive-size-tablet) {
    //  max-height: 80vh;
    //}

    &.video-popup {

      iframe, video {
        width: auto;
      }

      @media only screen and (min-width: @responsive-size-tablet) {
        padding: 40px;
        //max-width: 60vw;
        //max-height: 60vh;
        overflow-y: hidden;
      }
    }

    &.locations-popup {
      iframe, video {
        width: 100%;
      }
    }

    &.form-popup {

      .grid_6 {
        margin-bottom: 30px;
      }

      @media only screen and (min-width: @responsive-size-desktop) {
        max-width: 78%;

        .grid_6 {
          margin-bottom: 0;
        }
      }

      ._title {
        padding-left: @grid-padding-width/2;
      }
    }
  }

  ._header {
    min-height: 40px;
    padding: 0 0 1em;

    &::after {
      content: "";
      display: table;
      clear: both;
    }

    h2 {
      margin-bottom: 0;
    }

    ._title {
      float: left;
      max-width: 80%;
      line-height: 1;
      font-size: 1em;
      text-transform: uppercase;
      font-weight: 300;
      color: @gray-dark;
      text-align: left;

      @media only screen and (min-width: @responsive-size-tablet) {
        font-size: 1.7vw;
      }
    }

    [class*="icon"] {
      height: 28px;
      width: 15%;
      display: block;
      z-index: 20;
      text-align: center;
      line-height: 1;
      float: right;
      margin: 0;
      font-size: 17px;
      //.transition();
      .link-color(@gray-light; @gray-darker);

      @media only screen and (min-width: @responsive-size-tablet) {
        width: 20px;
      }
    }
  }

  ._content {

    &::after {
      content: "";
      display: table;
      clear: both;
    }
  }
}